<div class="m-b-md">
  <cdp-breadcrumbs></cdp-breadcrumbs>
</div>

<div style="min-height: 300px">
  <cdp-loading-block [loadingStatus]="loadingStatus" [spinnerType]="'three-bounce'">
    <div success *ngIf="document">
      <form class="form-horizontal m-t-md" *blockUI="'card-main-edit'">
        <program-form-object [model]="document" [validate]="validate" [files]="files"
                             (onLoad)="showButtons()"
                             (uploadAlert)="uploadFileAlert()"></program-form-object>

        <!-- Кнопки -->
        <div class="form-group" *ngIf="isShowButtons">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
          <div class="col-lg-7 col-md-8 col-sm-9">
            <button type="button"
                    (click)="save()"
                    class="btn btn-primary m-r-sm">Сохранить
            </button>

            <button type="button" class="btn btn-default" (click)="cancel()">Отмена</button>
          </div>
        </div>
      </form>

    </div>
    <div error>
      <span class="text-danger fa fa-times-circle"></span> <span> Ошибка при загрузке формы</span>
    </div>
  </cdp-loading-block>
</div>
