<!--Сформировать заявку на внесение изменений в объект-->
<cdp-loading-block [loadingStatus]="loading" [spinnerType]="'three-bounce'">
  <div success>
    <div *ngIf="isLoaded()">
      <div *blockUI="'block-ui-task'">

        <div>
          <h4>Информация</h4>
          <task-change-request-info [request]="request"></task-change-request-info>

          <div class="description">
            <dl class="dl-horizontal">
              <ng-container *ngIf="!!request?.coordinator?.comment">
                <dt><span>Комментарий согласующего</span></dt>
                <dd>
                  {{request?.coordinator?.comment}}
                  <span *ngIf="!!request?.coordinator?.fio">({{request?.coordinator?.fio}}, {{request?.coordinator?.date | date: 'dd.MM.yyyy HH:mm:ss'}})</span>
                </dd>
              </ng-container>
            </dl>
          </div>

        </div>

        <form class="form-horizontal">

          <!--<div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Комментарий согласующего
            </label>
            <div class="col-lg-9 col-md-9 col-sm-9">
              <textarea class="form-control" name="coordinatorComment"
                        [(ngModel)]="selected.coordinatorComment"></textarea>
            </div>
          </div>-->

          <div class="panel panel-info" *ngIf="selected.disabledInfoText">
            <div class="panel-heading"><i class="fa fa-info-circle m-r-sm"></i> Заблокированные поля</div>
            <div class="panel-body">{{selected.disabledInfoText}}</div>
          </div>

          <table class="table">
            <thead>
              <tr>
                <th>Поле</th>
                <th style="width: 35%">Старое значение</th>
                <th style="width: 35%">Новое значение</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="isShow('prefect')">
                <td><div class="row-label">Округ<span class="our-mandatory">*</span></div></td>
                <td class="doc-old">
                  <ng-select [items]="dicts.prefects"
                             [multiple]="true"
                             bindLabel="name"
                             [disabled]="true"
                             [(ngModel)]="documentOld.obj.address.prefect" name="prefectOld">
                  </ng-select>
                </td>
                <td class="doc-new">
                  <ng-select [items]="dicts.prefects"
                             [multiple]="true"
                             [closeOnSelect]="true"
                             [hideSelected]="true"
                             bindLabel="name"
                             placeholder="Округ"
                             (change)="clearAddressList(); onChangePrefect()"
                             dropdownPosition="bottom"
                             [disabled]="isDisabled('prefect')"
                             [(ngModel)]="document.obj.address.prefect" name="prefect">
                  </ng-select>
                </td>
              </tr>
              <tr *ngIf="isShow('district')">
                <td><div class="row-label">Район<span class="our-mandatory">*</span></div></td>
                <td class="doc-old">
                  <ng-select [items]="dicts.districts"
                             [multiple]="true"
                             bindLabel="name"
                             [disabled]="true"
                             [(ngModel)]="documentOld.obj.address.district" name="districtOld">
                  </ng-select>
                </td>
                <td class="doc-new">
                  <ng-select [items]="dicts.districtsAvailables"
                             [multiple]="true"
                             [closeOnSelect]="true"
                             [hideSelected]="true"
                             bindLabel="name"
                             placeholder="Район"
                             (change)="clearAddressList()"
                             dropdownPosition="bottom"
                             [disabled]="isDisabled('district') || !document?.obj?.address?.prefect?.length"
                             [(ngModel)]="document.obj.address.district" name="district">
                  </ng-select>
                </td>
              </tr>
              <tr *ngIf="isShow('objectForm')">
                <td><div class="row-label">Тип объекта<span class="our-mandatory">*</span></div></td>
                <td class="doc-old space-normal">
                  <ng-select [items]="dicts.mr_program_ObjectForms"
                             bindLabel="name"
                             [disabled]="true"
                             [(ngModel)]="documentOld.obj.objectForm" name="objectFormOld">
                  </ng-select>
                </td>
                <td class="doc-new space-normal">
                  <ng-select [items]="dicts.objectForms"
                             [closeOnSelect]="true"
                             [hideSelected]="true"
                             bindLabel="name"
                             placeholder="Тип объекта"
                             (change)="clearAddressList(); onChangeObjectForm()"
                             dropdownPosition="bottom"
                             [disabled]="isDisabled('objectForm')"
                             [(ngModel)]="document.obj.objectForm" name="objectForm">
                  </ng-select>
                </td>
              </tr>
              <tr *ngIf="isShow('addressId')">
                <td><div class="row-label">Адрес</div></td>
                <td class="doc-old space-normal">
                  <div *ngIf="!!dicts.addressOldList">
                    <ng-select [items]="dicts.addressOldList"
                               [multiple]="false"
                               bindValue="code"
                               bindLabel="name"
                               [disabled]="true"
                               [(ngModel)]="documentOld.obj.address.addressId" name="addressIdOld">
                    </ng-select>
                  </div>
                </td>
                <td class="doc-new space-normal">
                  <ng-select [items]="dicts.addressList"
                             [multiple]="false"
                             [closeOnSelect]="true"
                             [hideSelected]="true"
                             bindValue="code"
                             bindLabel="name"
                             [searchFn]="addressSearchFn"
                             (keyup)="addressKeyUp.next($event)"
                             placeholder="Введите 3 символа для начала поиска"
                             [loading]="isAddressLoading"
                             [disabled]="isDisabled('addressId')"
                             (change)="onChangeAddress(); clearAddressList()"
                             [(ngModel)]="document.obj.address.addressId" name="addressId">
                  </ng-select>
                </td>
              </tr>
              <tr *ngIf="isShow('address') || !document?.obj?.address?.addressId">
                <td><div class="row-label">Адресный ориентир<span class="our-mandatory">*</span></div></td>
                <td class="doc-old">
                  <textarea class="form-control"
                            [(ngModel)]="documentOld.obj.address.address"
                            [disabled]="true" name="addressOld"></textarea>
                </td>
                <td class="doc-new">
                  <textarea class="form-control"
                            [(ngModel)]="document.obj.address.address"
                            [disabled]="isDisabled('address') || !!document?.obj?.address?.addressId"
                            name="address"></textarea>
                </td>
              </tr>
              <tr *ngIf="isShow('industry')">
                <td><div class="row-label">Отрасль<span class="our-mandatory">*</span></div></td>
                <td class="doc-old space-normal">
                  <ng-select [items]="dicts.industries"
                             [multiple]="false"
                             bindLabel="name"
                             [disabled]="true"
                             [(ngModel)]="documentOld.obj.object.industry" name="industryOld">
                  </ng-select>
                </td>
                <td class="doc-new space-normal">
                  <ng-select [items]="dicts.industries"
                             [multiple]="false"
                             [closeOnSelect]="true"
                             [hideSelected]="true"
                             bindLabel="name"
                             placeholder="Отрасль"
                             (change)="updateCategoriList()"
                             [disabled]="isDisabled('industry')"
                             [(ngModel)]="document.obj.object.industry" name="industry">
                  </ng-select>
                </td>
              </tr>
              <tr *ngIf="isShow('kind')">
                <td><div class="row-label">Вид объекта<span class="our-mandatory">*</span></div></td>
                <td class="doc-old space-normal">
                  <ng-select [items]="dicts.kinds"
                             [multiple]="false"
                             bindLabel="name"
                             [disabled]="true"
                             [(ngModel)]="documentOld.obj.object.kind" name="kindOld">
                  </ng-select>
                </td>
                <td class="doc-new space-normal">
                  <ng-select [items]="dicts.objectCategories"
                             [multiple]="false"
                             [closeOnSelect]="true"
                             [hideSelected]="true"
                             bindLabel="name"
                             placeholder="Вид объекта"
                             (change)="updateCategoriList()"
                             [disabled]="isDisabled('kind')"
                             [(ngModel)]="document.obj.object.kind" name="kind">
                  </ng-select>
                </td>
              </tr>
              <tr *ngIf="isShow('objectName')">
                <td><div class="row-label">Наименование объекта<span class="our-mandatory">*</span></div></td>
                <td class="doc-old">
                  <textarea class="form-control" [disabled]="true" name="objectNameOld"
                            [(ngModel)]="documentOld.obj.object.name"></textarea>
                </td>
                <td class="doc-new">
                  <textarea class="form-control" [disabled]="isDisabled('objectName')" name="objectName"
                            [(ngModel)]="document.obj.object.name"></textarea>
                </td>
              </tr>
              <tr *ngIf="isShow('objectDescription')">
                <td><div class="row-label">Краткое описание объекта</div></td>
                <td class="doc-old">
                  <textarea class="form-control" [disabled]="true" name="objectDescriptionOld"
                            [(ngModel)]="documentOld.obj.object.description"></textarea>
                </td>
                <td class="doc-new">
                  <textarea class="form-control" name="objectDescription"
                            [(ngModel)]="document.obj.object.description"></textarea>
                </td>
              </tr>
              <tr *ngIf="isShow('organization')">
                <td><div class="row-label">Ответственный орган исполнительной власти<span class="our-mandatory">*</span></div></td>
                <td class="doc-old space-normal">
                  <ng-select [items]="dicts.organizations"
                             [multiple]="false"
                             bindLabel="name"
                             [disabled]="true"
                             [(ngModel)]="documentOld.obj.responsible.organization" name="responsibleOrganizationOld">
                  </ng-select>
                </td>
                <td class="doc-new space-normal">
                  <ng-select [items]="dicts.organizations"
                             [multiple]="false"
                             [closeOnSelect]="true"
                             [hideSelected]="true"
                             bindLabel="name"
                             placeholder="Ответственный орган исполнительной власти"
                             [disabled]="isDisabled('responsibleOrganization')"
                             [(ngModel)]="document.obj.responsible.organization" name="responsibleOrganization">
                  </ng-select>
                </td>
              </tr>
              <tr *ngIf="isShow('ownership')">
                <td><div class="row-label">Форма собственности</div></td>
                <td class="doc-old space-normal">
                  <ng-select [items]="dicts.organizations"
                             [multiple]="false"
                             bindLabel="name"
                             [disabled]="true"
                             [(ngModel)]="documentOld.obj.object.ownership" name="ownershipOld">
                  </ng-select>
                </td>
                <td class="doc-new space-normal">
                  <ng-select [items]="dicts.organizations"
                             [multiple]="false"
                             [closeOnSelect]="true"
                             [hideSelected]="true"
                             bindLabel="name"
                             placeholder="Ответственный орган исполнительной власти"
                             [(ngModel)]="document.obj.object.ownership" name="ownership">
                  </ng-select>
                </td>
              </tr>
              <tr *ngIf="isShow('cadastralNumber')">
                <td><div class="row-label">Кадастровый номер земельного участка</div></td>
                <td class="doc-old">
                  <div *ngFor="let cnOld of documentOld.obj.parameterZu.cadastralNumber; let i = index">
                    <input type="text" [disabled]="true" [ngModel]="cnOld" class="form-control"
                           [ngClass]="{'m-t-sm': i}" name="cadastralNumberOld_{{i}}" />
                  </div>
                </td>
                <td class="doc-new">
                  <div *ngFor="let cn of selected.cadastralNumbers; let i = index">
                    <div [ngClass]="{'m-t-sm': i}">
                      <input type="text" [(ngModel)]="cn.cad" (input)="cadAction()"
                             [textMask]="{mask: helper.maskCadastral.bind(this)}"
                             class="form-control" [ngClass]="{'m-t-sm': i}" name="cadastralNumber_{{i}}" />
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td><div class="row-label">Проблемный объект</div></td>
                <td class="doc-old">
                  <input cdp-icheck disabled type="checkbox" [value]="true"
                         [(ngModel)]="documentOld.obj.problem" name="objectProblemOld" />
                </td>
                <td class="doc-new">
                  <div>
                    <input cdp-icheck type="checkbox" [value]="true"
                           [(ngModel)]="document.obj.problem" name="objectProblem" />
                  </div>
                </td>
              </tr>
              <tr>
                <td><div class="row-label">Место притяжения</div></td>
                <td class="doc-old">
                  <input cdp-icheck disabled type="checkbox" [value]="true"
                         [(ngModel)]="documentOld.obj.attraction" name="objectAttractionOld" />
                </td>
                <td class="doc-new">
                  <div>
                    <input cdp-icheck type="checkbox" [value]="true"
                           [(ngModel)]="document.obj.attraction" name="objectAttraction" />
                  </div>
                </td>
              </tr>
              <tr>
                <td><div class="row-label">Риски публикации</div></td>
                <td class="doc-old">
                  <textarea class="form-control" disabled [ngModel]="documentOld.obj.risk" name="riskOld"></textarea>
                </td>
                <td class="doc-new">
                  <textarea class="form-control" [(ngModel)]="document.obj.risk" name="risk"></textarea>
                </td>
              </tr>
              <tr *ngIf="isShow('comment')">
                <td><div class="row-label">Дополнительные сведения</div></td>
                <td class="doc-old">
                  <textarea class="form-control" disabled [ngModel]="documentOld.obj.comment" name="commentOld"></textarea>
                </td>
                <td class="doc-new">
                  <textarea class="form-control" [(ngModel)]="document.obj.comment" name="comment"></textarea>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="description">
            <dl class="dl-horizontal">
              <dt><span>Дополнительные материалы по заявке</span></dt>
              <dd>
                <cdp-ex-file-manager [(files)]="extraFiles"
                                     [fileType]="'default'"
                                     [folderGuid]="request?.folderId"
                                     [extPattern]="'pdf, doc, docx, rtf, txt, xls, xlsx, ppt, pptx, jpg, jpeg, tif, png, mov, mp4'"
                                     [downloadable]="true"
                                     [deletable]="true"
                                     [openable]="true"
                                     [showSize]="true"
                                     [onRemove]="onRemoveFile"
                                     (onChanged)="filesOnChange()"
                                     [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
              </dd>
            </dl>
          </div>

          <div class="description">
            <dl class="dl-horizontal">
              <dt><span>Комментарий</span></dt>
              <dd>
                <textarea class="form-control" name="creatorComment"
                          [(ngModel)]="request.creator.comment"></textarea>
              </dd>
            </dl>
          </div>

          <div class="description">
            <dl class="dl-horizontal">
              <dt><span>Контактные данные</span></dt>
              <dd>
                <div class="clearfix">
                  <div class="pull-right">
                    <i class="fa fa-question-circle cursor-pointer"
                       style="font-size: 22px; vertical-align: middle"
                       popover="Укажите контактные данные сотрудника, с которым можно связаться в случае возникновения вопросов к содержанию заявки"
                       placement="left"
                       triggers="mouseenter:mouseleave"
                       containerClass="popContaier"></i>
                  </div>
                  <div style="padding-right: 35px;">
                    <textarea class="form-control" name="creatorContactInformation"
                              [(ngModel)]="request.creator.contactInformation"></textarea>
                  </div>
                </div>

              </dd>
            </dl>
          </div>

        </form>

        <div class="clearfix m-t">
          <div class="pull-right">
            <button class="btn btn-default m-r-sm" (click)="save()">Сохранить без завершения и выйти</button>
            <button class="btn btn-primary m-r-sm" (click)="finish()">Отправить на согласование</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</cdp-loading-block>
