<div class="m-b-md">
  <cdp-breadcrumbs></cdp-breadcrumbs>
</div>

<div style="padding-left: 0; padding-right: 0" class="m-b-md">
  <div class="clearfix">
    <div class="pull-right m-t-xs m-l text-right">
      <div>
        <button type="button" class="btn btn-default text-danger" *ngIf="isShow.del"
                (click)="remove()"><i class="fas fa-trash-alt m-r-sm"></i> Удалить</button>
      </div>
    </div>
    <div>
      <h3 class="font-bold m-b-sm" style="line-height: 1.3em">
        <span>Номер и дата утверждения: №{{document.planNumber}}
          {{!!document.planApproveDate ? ' от ' : ''}}
          {{document.planApproveDate | date: 'dd.MM.yyyy'}}</span>
        <span class="m-l-md" [ngClass]="{'text-primary': document.statusId.code === 'active'}"
              style="font-size: 0.8em">версия {{document.planVersion}}</span>
        <!--<span class="m-l-md label label-{{document.statusId.color}}">{{document.statusId.name}}</span>-->
        <span class="m-l-md">
          <labels [document]="document" [docTypes]="'MR_PROGRAM_PLAN'" [inline]="true"></labels>
        </span>
      </h3>
    </div>
  </div>
</div>
