<div *ngIf="!loading">
  <div *blockUI="'block-ui-list'">
    <div class="m-b-md clearfix">
      <div class="pull-right">
        <button type="button" class="btn btn-white m-l-sm" *ngIf="readOnly" (click)="editTab()">Осуществить привязку объектов</button>
        <button type="button" class="btn btn-primary m-l-sm" *ngIf="!readOnly" (click)="save()">Сохранить</button>
        <button type="button" class="btn btn-white m-l-sm" *ngIf="!readOnly" (click)="cancel()">Отмена</button>
      </div>
    </div>

    <div class="search-form m-b-md">
      <form class="form-horizontal">
        <div class="input-group" [ngClass]="{'m-b-sm': readOnly}">
          <input class="form-control input-lg" name="commonSearch" (change)="search()"
                 [(ngModel)]="filterCommon.search"
                 placeholder="{{filterCommon.placeholder}}">
          <div class="input-group-btn">
            <button class="btn btn-lg btn-primary" type="button" (click)="search()">Найти</button>
          </div>
        </div>

        <div class="container-fluid m-t-xs no-padding clearfix">
          <div class="pull-right" *ngIf="advancedSearch">
            <button type="button" class="btn btn-white"
                    (click)="advancedSearchExpand = !advancedSearchExpand">
              <i class="fa fa-filter" [ngClass]="{'text-success': !isEmptyFilter}"></i>
              Расширенный поиск
            </button>
          </div>
          <div class="animated fadeIn" *ngIf="!readOnly" [hidden]="advancedSearchExpand">
            <label class="control-label pull-left">Вид объекта</label>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <ng-select [items]="dicts.objectTypes" appendTo="body"
                         [multiple]="true"
                         [closeOnSelect]="true"
                         [hideSelected]="true"
                         [dropdownPosition]="'bottom'"
                         bindLabel="name"
                         placeholder="Вид объекта"
                         (change)="onChangeTypeFilter('obj')"
                         [(ngModel)]="filterCommon.objectTypes" name="objectTypeFilter">
              </ng-select>
            </div>
            <label class="control-label pull-left">Вид работы</label>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <ng-select [items]="dicts.workTypes" appendTo="body"
                         [multiple]="true"
                         [closeOnSelect]="true"
                         [hideSelected]="true"
                         [dropdownPosition]="'bottom'"
                         bindLabel="name"
                         placeholder="Вид работы"
                         (change)="onChangeTypeFilter('work')"
                         [(ngModel)]="filterCommon.workTypes" name="workTypeFilter">
              </ng-select>
            </div>
          </div>
        </div>
      </form>

      <plan-objects-filter [filter]="filter" *ngIf="advancedSearch"
                           [filterWork]="filterWork"
                           [expanded]="advancedSearchExpand"
                           [showSpecific]="true"
                           (filterChanged)="search()"
                           (filterCleared)="clearFilter()"></plan-objects-filter>
    </div>

    <div class="text-center m-b-sm m-t-sm">
      <span class="m-r-md">Привязано объектов - {{linkedObjects}}</span>
      <span>Привязано работ - {{linkedWorks}}</span>
    </div>

    <div class="clearfix">
      <div class="input-group pull-right" *ngIf="!readOnly">
        <div class="m-b-sm">
          <button class="btn btn-sm small-check-btn" style="width: 22px; height: 22px; padding: 0; font-size: 0.8em"
                  [disabled]="blockUI.isActive || (!showOnlyLinked && !pageObjects?.length)"
                  (click)="changeOnlyLinked()"
                  [ngClass]="{'btn-primary': showOnlyLinked, 'btn-white': !showOnlyLinked}" type="button">
            <i class="fa fa-check" *ngIf="showOnlyLinked"></i>
          </button>
          <span class="m-l-sm">Показать только привязанные объекты</span>
        </div>
      </div>
      <div class="m-b-md pull-left" *ngIf="readOnly && sections.length">
        <div class="btn-group">
          <button type="button" class="btn btn-white btn-sm" (click)="expandAll(true)">Развернуть все</button>
          <button type="button" class="btn btn-white btn-sm" (click)="expandAll(false)">Свернуть все</button>
        </div>
      </div>
    </div>


    <div *ngIf="isShowContent">
      <div *ngIf="readOnly">
        <div *ngFor="let s of sections; let i = index" class="m-b-xs" style="position: relative">
          <h4 (click)="s.expanded = !s.expanded" class="m-t-sm cursor-pointer">
            <i class="fa" [ngClass]="{
                'fa-caret-right': !s.expanded,
                'fa-angle-down': s.expanded
              }" style="display: inline-block; width: 11px;"></i>
            {{s.objectKind.name}}, {{s.workType.name}}
            <span class="font-normal m-l-xs">({{getWorkCount(s)}})</span>
          </h4>
          <!--<cdp-expanded-section [(expand)]="s.expanded">
            <span header-slot>
              {{s.workType.name}}, {{s.objectKind.name}}
              <span style="display: block" class="font-normal m-l-md m-t-sm">Найдено - {{s.objects.length}}</span>
            </span>--><!--content-slot-->
            <div [hidden]="!s.expanded" class="m-l-sm m-t-sm" style="margin-left: 15px;">
              <!--<div class="font-normal m-t-sm m-b-sm" *ngIf="s.expanded">Найдено - {{s.objects.length}}</div>-->
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Объект</th>
                    <th>Работы на объекте</th>
                  </tr>
                </thead>
                <tbody *ngFor="let row of s.objects" style="border: 0">
                  <tr *ngIf="!showOnlyLinked || hasLink(row.documentId, true)">
                    <td class="no-padding" style="width: 50%">
                      <table class="table m-b-xxs">
                        <tr>
                          <!--<td style="width: 40px; border: 0" *ngIf="!readOnly">
                            <button type="button" class="btn btn-white btn-sm"
                                    title="Установить связь"
                                    *ngIf="!hasLink(row.documentId) || isRejected(row.documentId)"
                                    [disabled]="row.linking"
                                    (click)="add(row)" style="width: 34px; height: 34px;">
                              <i class="fa fa-spinner fa-spin" *ngIf="row.linking"></i>
                            </button>
                            <button type="button" class="btn btn-primary btn-sm"
                                    title="Удалить связь"
                                    *ngIf="hasLink(row.documentId)"
                                    [disabled]="row.linking"
                                    (click)="remove(row)" style="width: 34px; height: 34px;">
                              <i class="fa fa-check" *ngIf="!row.linking"></i>
                              <i class="fa fa-spinner fa-spin" *ngIf="row.linking"></i>
                            </button>
                          </td>-->
                          <td style="border: 0">
                            <div class="pull-right" *ngIf="hasLink(row.documentId)">
                              <span [ngSwitch]="getLink(row.documentId)?.link?.status">
                                <i *ngSwitchCase="'approve'" class="fa fa-check" title="Связано"></i>
                                <i *ngSwitchCase="'review'" class="fa fa-clock-o text-warning" title="В работе"></i>
                              </span>
                            </div>
                            <div class="pull-right" *ngIf="isRejected(row.documentId)">
                              <i class="fa fa-clock-o text-warning" title="На удаление"></i>
                            </div>
                            <div class="pull-left">
                              <div class="font-bold">
                                <a target="_blank" href="#/app/object/card/{{row.documentId}}/view/main">
                                  {{row.addressObject || 'Адрес не указан'}}
                                </a>
                              </div>
                              <div>{{row.nameObject}}</div>
                              <div class="not-specified">{{row.kindNameObject}}</div>
                              <div class="not-specified">
                                <small>{{row.organizationNameObject}}</small>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </table>
                    </td>
                    <td class="no-padding" style="width: 50%">
                      <div *ngFor="let ow of row.works; let idx = index">
                        <hr *ngIf="idx" class="m-t-xxs m-b-xxs" />
                        <table class="table m-b-xxs">
                          <tr>
                            <td style="width: 40px; border: 0" *ngIf="!readOnly">
                              <button type="button" class="btn btn-white btn-sm"
                                      title="Установить связь"
                                      *ngIf="!hasLink(ow.documentId) || isRejected(ow.documentId)"
                                      [disabled]="ow.linking || isDisabledWork(ow)"
                                      (click)="add(ow)" style="width: 34px; height: 34px;">
                                <i class="fa fa-spinner fa-spin" *ngIf="ow.linking"></i>
                              </button>
                              <button type="button" class="btn btn-primary btn-sm"
                                      title="Удалить связь"
                                      *ngIf="hasLink(ow.documentId)"
                                      [disabled]="ow.linking"
                                      (click)="remove(ow)" style="width: 34px; height: 34px;">
                                <i class="fa fa-check" *ngIf="!ow.linking"></i>
                                <i class="fa fa-spinner fa-spin" *ngIf="ow.linking"></i>
                              </button>
                            </td>
                            <td style="border: 0">
                              <div class="pull-right" *ngIf="hasLink(ow.documentId)">
                                <span [ngSwitch]="getLink(ow.documentId)?.link?.status">
                                  <i *ngSwitchCase="'approve'" class="fa fa-check" title="Связано"></i>
                                  <i *ngSwitchCase="'review'" class="fa fa-clock-o text-warning" title="В работе"></i>
                                </span>
                              </div>
                              <div class="pull-right" *ngIf="isRejected(ow.documentId)">
                                <span [ngSwitch]="getLink(ow.documentId)?.link?.status">
                                  <i *ngSwitchCase="'reject'" class="fa fa-clock-o text-warning" title="На удаление"></i>
                                </span>
                              </div>
                              <div class="pull-left">
                                <div class="font-bold">
                                  <a target="_blank"
                                     href="#/app/object/card/{{row.documentId}}/view/works?workId={{ow.documentId}}">
                                    {{ow.typeNameWork || 'Наименование вида работы отсутствует'}}
                                    <span *ngIf="ow.execution?.start || ow.execution?.finish"> ({{ow.execution?.start}}<!--
                                  -->{{ow.execution?.start && ow.execution?.finish && ow.execution?.finish !== ow.execution?.start ? ' - ' : ''}}<!--
                                  -->{{ow.execution?.finish !== ow.execution?.start ? ow.execution?.finish : ''}})</span>
                                  </a>
                                </div>
                                <div class="not-specified">
                                  <small>{{ow.organizationNameWork}}</small>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          <!--</cdp-expanded-section>-->
        </div>
        <div class="m-t-sm" *ngIf="!sections.length">
          <i class="fa fa-warning text-warning"></i> Объекты с работами отсутствуют
        </div>
      </div>

      <div *ngIf="!readOnly">
        <table class="table table-bordered" *ngIf="pageObjects.length">
          <thead>
            <tr>
              <th>Объект</th>
              <th>Работы на объекте</th>
            </tr>
          </thead>
          <tbody *ngFor="let row of pageObjects" style="border: 0">
            <tr *ngIf="!showOnlyLinked || hasLink(row.documentId, true)">
              <td class="no-padding" style="width: 50%">
                <table class="table m-b-xxs">
                  <tr>
                    <td style="border: 0">
                      <div class="pull-right" *ngIf="hasLink(row.documentId)">
                        <span [ngSwitch]="getLink(row.documentId)?.link?.status">
                          <i *ngSwitchCase="'approve'" class="fa fa-check" title="Связано"></i>
                          <i *ngSwitchCase="'review'" class="fa fa-clock-o text-warning" title="В работе"></i>
                        </span>
                      </div>
                      <div class="pull-right" *ngIf="isRejected(row.documentId)">
                        <i class="fa fa-clock-o text-warning" title="На удаление"></i>
                      </div>
                      <div class="pull-left">
                        <div class="font-bold">
                          <a target="_blank" href="#/app/object/card/{{row.documentId}}/view/main">
                            {{row.addressObject || 'Адрес не указан'}}
                          </a>
                        </div>
                        <div>{{row.nameObject}}</div>
                        <div class="not-specified">{{row.kindNameObject}}</div>
                        <div class="not-specified">
                          <small>{{row.organizationNameObject}}</small>
                        </div>
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
              <td class="no-padding" style="width: 50%">
                <div *ngFor="let ow of row.works; let idx = index">
                  <hr *ngIf="idx" class="m-t-xxs m-b-xxs" />
                  <table class="table m-b-xxs">
                    <tr>
                      <td style="width: 40px; border: 0" *ngIf="!readOnly">
                        <button type="button" class="btn btn-white btn-sm"
                                title="Установить связь"
                                *ngIf="!hasLink(ow.documentId) || isRejected(ow.documentId)"
                                [disabled]="ow.linking || isDisabledWork(ow)"
                                (click)="add(ow)" style="width: 34px; height: 34px;">
                          <i class="fa fa-spinner fa-spin" *ngIf="ow.linking"></i>
                        </button>
                        <button type="button" class="btn btn-primary btn-sm"
                                title="Удалить связь"
                                *ngIf="hasLink(ow.documentId)"
                                [disabled]="ow.linking"
                                (click)="remove(ow)" style="width: 34px; height: 34px;">
                          <i class="fa fa-check" *ngIf="!ow.linking"></i>
                          <i class="fa fa-spinner fa-spin" *ngIf="ow.linking"></i>
                        </button>
                      </td>
                      <td style="border: 0">
                        <div class="pull-right" *ngIf="hasLink(ow.documentId)">
                          <span [ngSwitch]="getLink(ow.documentId)?.link?.status">
                            <i *ngSwitchCase="'approve'" class="fa fa-check" title="Связано"></i>
                            <i *ngSwitchCase="'review'" class="fa fa-clock-o text-warning" title="В работе"></i>
                          </span>
                        </div>
                        <div class="pull-right" *ngIf="isRejected(ow.documentId)">
                          <span [ngSwitch]="getLink(ow.documentId)?.link?.status">
                            <i *ngSwitchCase="'reject'" class="fa fa-clock-o text-warning" title="На удаление"></i>
                          </span>
                        </div>
                        <div>
                          <div class="font-bold">
                            <a target="_blank"
                               href="#/app/object/card/{{row.documentId}}/view/works?workId={{ow.documentId}}">
                              {{ow.typeNameWork || 'Наименование вида работы отсутствует'}}
                              <span *ngIf="ow.execution?.start || ow.execution?.finish"> ({{ow.execution?.start}}<!--
                                    -->{{ow.execution?.start && ow.execution?.finish && ow.execution?.finish !== ow.execution?.start ? ' - ' : ''}}<!--
                                    -->{{ow.execution?.finish !== ow.execution?.start ? ow.execution?.finish : ''}})</span>
                            </a>
                          </div>
                          <div class="not-specified">
                            <small>{{ow.organizationNameWork}}</small>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <div *ngIf="searchMode === 'types' && !pageObjects.length && (!filterCommon.objectTypes.length || !filterCommon.workTypes.length)">
          Для отображения данных необходимо задать фильтры "Вид объекта" и "Вид работы"
        </div>

        <div *ngIf="searchMode === 'solr' && !pageObjects">
          Ничего не найдено
        </div>

        <div style="text-align: center" *ngIf="!readOnly && pagination.totalItems > pagination.itemsPerPage">
          <pagination [totalItems]="pagination.totalItems"
                      [(ngModel)]="pagination.currentPage"
                      [firstText]="'Первая'"
                      [lastText]="'Последняя'"
                      [previousText]="'Предыдущая'"
                      [nextText]="'Следующая'"
                      [rotate]="true"
                      (pageChanged)="changePage($event)"
                      [itemsPerPage]="pagination.itemsPerPage"
                      [boundaryLinks]="true"
                      [maxSize]="5"
                      class="m-b-xs"></pagination>
          <select class="pagination m-l-sm" [(ngModel)]="pagination.itemsPerPage"
                  (ngModelChange)="onSelectItemsPerPage()">
            <option *ngFor="let p of pagination.itemsPerPageList" value="{{p}}">{{p || 'Все'}}</option>
          </select>
        </div>
      </div>

    </div>
  </div>
</div>
<div *ngIf="loading">
  <program-spinner [height]="'medium'"></program-spinner>
</div>
