<div class="container-fluid searchFilter animated fadeIn" *ngIf="filter" [hidden]="!expanded">
  <cdp-spinner *ngIf="loading" [type]="'three-bounce'"></cdp-spinner>
  <div class="form-horizontal" *ngIf="!loading">

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title m-t-xs">Округ</div>
      <div class="col-md-9">
        <ng-select [items]="list.Prefect"
                   [multiple]="true"
                   [closeOnSelect]="true"
                   [hideSelected]="true"
                   bindValue="code"
                   bindLabel="name"
                   placeholder="Округ"
                   (change)="updateDistricts()"
                   dropdownPosition="bottom"
                   [(ngModel)]="filter.prefectsCodeObject" name="prefect">
        </ng-select>
      </div>
    </div>

    <!--<div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Без округа</div>
      <div class="col-md-9" *ngIf="!cleaning">
        <input cdp-icheck type="checkbox"
               [(ngModel)]="filter.prefectsCodeObjectEmpty"
               name="prefectEmpty">
      </div>
    </div>-->

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title m-t-xs">Район</div>
      <div class="col-md-9">
        <ng-select [items]="available.districts"
                   [multiple]="true"
                   [closeOnSelect]="true"
                   [hideSelected]="true"
                   bindValue="code"
                   bindLabel="name"
                   placeholder="Район"
                   dropdownPosition="bottom"
                   [(ngModel)]="filter.districtsCodeObject" name="district">
        </ng-select>
      </div>
    </div>

    <!--<div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Без района</div>
      <div class="col-md-9" *ngIf="!cleaning">
        <input cdp-icheck type="checkbox"
               [(ngModel)]="filter.districtsCodeObjectEmpty"
               name="districtEmpty">
      </div>
    </div>-->

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title m-t-xs">Тип объекта</div>
      <div class="col-md-9">
        <ng-select [items]="list.mr_program_ObjectForms"
                   [multiple]="true"
                   [closeOnSelect]="true"
                   [hideSelected]="true"
                   bindValue="name"
                   bindLabel="name"
                   placeholder="Тип объекта"
                   [(ngModel)]="filter.objectFormNameObject" name="objectFormName">
        </ng-select>
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title m-t-xs">Адрес или адресный ориентир</div>
      <div class="col-md-9">
        <input type="text" [(ngModel)]="filter.addressObject" class="form-control" name="address" />
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title m-t-xs">Отрасль</div>
      <div class="col-md-9">
        <ng-select [items]="list.mr_program_ObjectIndustries"
                   [multiple]="true"
                   [closeOnSelect]="true"
                   [hideSelected]="true"
                   bindValue="code"
                   bindLabel="name"
                   placeholder="Отрасль"
                   (change)="updateKinds()"
                   [(ngModel)]="filter.industryCodeObject" name="objectForm"><!--onFilterChange()-->
        </ng-select>
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title m-t-xs">Вид объекта</div>
      <div class="col-md-9">
        <ng-select [items]="available.kinds"
                   [multiple]="true"
                   [closeOnSelect]="true"
                   [hideSelected]="true"
                   bindValue="code"
                   bindLabel="name"
                   placeholder="Вид объекта"
                   [(ngModel)]="filter.kindCodeObject" name="objectType">
        </ng-select>
      </div>
    </div>

    <!--<div class="row m-t-sm m-l-xs" *ngIf="showSpecific">
      <div class="col-md-3 title">Объекты, кроме особых</div>
      <div class="col-md-9" *ngIf="!cleaning && !waiting">
        <input cdp-icheck type="checkbox"
               [(ngModel)]="filter.specialNameObjectExcept"
               (ngModelChange)="changeSpecial('specialNameObjectExcept')"
               name="specialNameObjectExcept">
      </div>
    </div>-->

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title m-t-xs">Наименование объекта</div>
      <div class="col-md-9">
        <input type="text" [(ngModel)]="filter.nameObject" class="form-control" name="nameObject" />
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Ответственный орган исполнительной власти</div>
      <div class="col-md-9">
        <ng-select [items]="list.mr_program_ResponsibleOrganizations"
                   [multiple]="true"
                   [closeOnSelect]="true"
                   [hideSelected]="true"
                   bindValue="code"
                   bindLabel="name"
                   placeholder="Ответственный орган исполнительной власти"
                   [(ngModel)]="filter.organizationCodeObject" name="organizationName">
        </ng-select>
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title m-t-xs">Вид работы</div>
      <div class="col-md-9">
        <ng-select [items]="list.mr_program_WorkTypes"
                   [multiple]="true"
                   [closeOnSelect]="true"
                   [hideSelected]="true"
                   bindValue="code"
                   bindLabel="name"
                   placeholder="Вид работы"
                   [(ngModel)]="filterWork.typeCodeWork" name="workTypes">
        </ng-select>
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Ответственный исполнитель по работе</div>
      <div class="col-md-9">
        <ng-select [items]="list.mr_program_ResponsibleOrganizations"
                   [multiple]="true"
                   [closeOnSelect]="true"
                   [hideSelected]="true"
                   bindValue="code"
                   bindLabel="name"
                   placeholder="Ответственный исполнитель по работе"
                   [(ngModel)]="filterWork.organizationCodeWork" name="organizationNameWork">
        </ng-select>
      </div>
    </div>

    <div class="row m-t-sm m-l-xs" *ngIf="showSpecific">
      <div class="col-md-3 title">Особый объект</div>
      <div class="col-md-9">
        <!--<input cdp-icheck type="checkbox"
               [(ngModel)]="filter.specialNameObject"
               (ngModelChange)="changeSpecial('specialNameObject')"
               name="specialNameObject">-->
        <ng-select [items]="list.mr_program_SpecialObject"
                   [multiple]="true"
                   [closeOnSelect]="true"
                   [hideSelected]="true"
                   bindValue="code"
                   bindLabel="name"
                   placeholder="Особый объект"
                   [(ngModel)]="filter.specialCodeObject" name="specialCodeObject">
        </ng-select>
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Проблемный объект</div>
      <div class="col-md-9" *ngIf="!cleaning && !waiting">
        <input cdp-icheck type="checkbox"
               [(ngModel)]="filter.problemObject"
               name="problemObject">
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title m-t-xs">Место притяжения</div>
      <div class="col-md-9">
        <input cdp-icheck type="checkbox"
               [(ngModel)]="filter.attractionObject"
               name="attractionObject">
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title m-t-xs">Объект мастер-плана</div>
      <div class="col-md-9">
        <input cdp-icheck type="checkbox"
               [(ngModel)]="filter.masterplanObject"
               name="masterplanObject">
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">К публикации на открытых информационных ресурсах</div>
      <div class="col-md-9" *ngIf="!cleaning && !waiting">
        <input cdp-icheck type="checkbox"
               [(ngModel)]="filter.publicObject"
               name="publicObject">
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">К публикации на mos.ru</div>
      <div class="col-md-9" *ngIf="!cleaning && !waiting">
        <input cdp-icheck type="checkbox"
               [(ngModel)]="filter.mosPublicObject"
               name="mosPublicObject">
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Объект культурного наследия</div>
      <div class="col-md-9" *ngIf="!cleaning && !waiting">
        <input cdp-icheck type="checkbox"
               [(ngModel)]="filter.oknObject"
               name="oknObject">
      </div>
    </div>

    <!-- Buttons -->
    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title"></div>
      <div class="col-md-9">
        <div class="btn btn-white btn-sm m-r-sm" (click)="clearFilters()">Очистить</div>
        <button class="btn btn-primary btn-sm m-r-sm" (click)="onFilterChange()">Найти</button>
      </div>
    </div>

  </div>
</div>
