<div style="min-height: 200px">
  <cdp-loading-block [loadingStatus]="loading" [spinnerType]="'three-bounce'">
    <div success>
      <div *ngIf="docs" style="overflow-x: auto; overflow-y: hidden">
        <div class="table-overflow-container" style="overflow-y: hidden">
          <table class="table search-result-table table-striped table-hover"
                 style="font-size:14px;color: #676a6c;">
            <thead>
            <tr style="border-top: 1px solid #f0f0f0;font-weight:600;">
              <th>Адрес объекта</th>
              <th>Наименование объекта</th>
              <th>Функциональное назначение</th>
              <th>Площадь объекта</th>
              <th>Площадь участка</th>
              <th>Форма собственности</th>
              <th>Программа (для нового строительства)</th>
              <th>Период возведения</th>
              <th>Капитальный ремонт</th>
              <th>Вид объекта</th>
              <th>Характеристика объекта в зависимости от отрасли</th>
              <th>Организация, создавшая объект</th>
              <th>Примечание</th>
              <th style="vertical-align: bottom;padding-right:0;padding-top:0;width: 100px" *ngIf="!readOnly">
                    <button (click)="add()" class="btn btn-default flat-add-btn">
                      <i class="fa fa-plus text-success" aria-hidden="true"></i>
                    </button>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="docs.length === 0">
              <td style="text-align: center" colspan="14">
                <span class="text-warning" style="font-size: 20px">Ничего не найдено</span>
              </td>
            </tr>
            <tr *ngFor="let d of docs; index as i" [ngClass]="{green: d.requestIdObject === request.documentId}">
              <td> {{d.addressObject}}</td>
              <td> {{d.nameObject}}</td>
              <td> {{d.kindNameObject}}</td>
              <td> {{d.objectAreaObject}} {{d.objectAreaObject ? 'кв.м' : ''}}</td>
              <td> {{d.sectorAreaObject}} {{d.sectorAreaObject ? 'га' : ''}}</td>
              <td> {{d.ownershipNameObject}}</td>
              <td> {{d.constructionProgramNameObject}}</td>
              <td> {{d.periodNameObject}}</td>
              <td [ngSwitch]="d.overhaulObject">
                <span *ngSwitchCase="'true'">Есть</span>
                <span *ngSwitchCase="'false'">Будет</span>
              </td>
              <td> {{d.typeObjectNameObject}}</td>
              <td> {{d.tepsObject}}</td>
              <td> {{d.addOrganizationNameObject}}</td>
              <td> {{d.commentObject}}</td>
              <td style="padding-right:0; width: 100px" *ngIf="!readOnly">
                <div class="clearfix" *ngIf="d.addOrganizationCodeObject === request.organization.code">
                  <div class="btn-group pull-right m-r-sm">
                    <button (click)="edit(i)" class="btn btn-default">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button (click)="remove(i)" class="btn btn-default">
                      <i class="fas fa-trash-alt text-danger" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </cdp-loading-block>
</div>
