<div style="min-height: 300px" *blockUI="'new-request'">
  <cdp-loading-block [loadingStatus]="loading" [spinnerType]="'three-bounce'">
    <div success>
      <form class="form-horizontal m-t-md">
        <div class="form-group">
          <label [ngClass]="{'text-danger' : (selectedDistrict === null)}" class="col-lg-3 col-md-3 col-sm-3 control-label">Район
            <span *ngIf="(selectedDistrict === null)">*</span></label>
          <div class="col-lg-7 col-md-8 col-sm-9">
            <ng-select [items]="nsiDistricts"
                       [multiple]="false"
                       [closeOnSelect]="true"
                       [hideSelected]="true"
                       bindLabel="name"
                       placeholder="Район"
                       [(ngModel)]="selectedDistrict" name="district">
            </ng-select>
          </div>
        </div>
        <div class="form-group">
          <label [ngClass]="{'text-danger' : !hasSelectedObjectIndustries}" class="col-lg-3 col-md-3 col-sm-3 control-label">Отрасль
            <span *ngIf="!hasSelectedObjectIndustries">*</span></label>
          <div class="col-lg-7 col-md-8 col-sm-9 m-t-sm">
            <div class="new-request-checkbox m-b-xs" *ngFor="let industry of nsiObjectIndustries">
              <input cdp-icheck type="checkbox" name="{{industry.code}}" [(ngModel)]="industry.checked" (ngModelChange)="changeIndustry()"/>
              {{industry.name}}
              <br>
              <div class="m-t-sm m-b-sm" *ngIf="industry.checked">
                <label [ngClass]="{'text-danger' : industry.organisation.length === 0}" class="control-label m-r-md m-l-lg">
                  Организации <span *ngIf="industry.organisation.length === 0">*</span>
                </label>
                <div style="display: inline-block">
                  <ng-select [items]="industry.nsiResponsibleOrganizations"
                             [multiple]="true"
                             [closeOnSelect]="true"
                             [hideSelected]="true"
                             bindLabel="name"
                             [ngModelOptions]="{standalone: true}"
                             placeholder="Организации"
                             [(ngModel)]="industry.organisation"></ng-select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
          <div class="col-lg-7 col-md-8 col-sm-9">
            <button class="btn btn-primary m-r-sm" (click)="start()">Инициировать процесс</button>
            <button class="btn btn-warning" (click)="cancel()">Отмена</button>
          </div>
        </div>
      </form>
    </div>
  </cdp-loading-block>
</div>
