<cdp-spinner *ngIf="isLoading" [type]="'three-bounce'"></cdp-spinner>
<div class="clearfix"  *blockUI="'block-ui-list'">
  <div class="search-form" *ngIf="!isLoading">
    <form class="form-horizontal">
      <div class="input-group m-b-sm">
        <input class="form-control input-lg" name="searchValue" (change)="search()"
               [(ngModel)]="filterCommon.subject"
               placeholder="Округ, Район, № протокола, Пункт протокола, Тип решения, Содержание решения, Срок исполнения, Статус исполнения, Ответственный исполнитель">
        <div class="input-group-btn">
          <button class="btn btn-lg btn-primary" type="button" (click)="search()">Найти</button>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="!isLoading" class="table-overflow-container" style="overflow-y: hidden">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th><span>Округ</span></th>
          <th><span>Район</span></th>
          <th><span>Дата совещания</span></th>
          <th><span>№ протокола</span></th>
          <th><span>Пункт протокола</span></th>
          <th><span>Тип решения</span></th>
          <th><span>Содержание решения</span></th>
          <th><span>Ответственный исполнитель</span></th>
          <th><span>Срок исполнения</span></th>
          <th><span>Статус исполнения</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rows; let i = index">
          <td>
            <a href="/rayon/#/app/meeting/decision/{{row.documentId}}/main/view" target="_blank">
              <cdp-comma-list-prefects [list]="row.prefectsName || []"></cdp-comma-list-prefects>
            </a>
          </td>
          <td>
            <a href="/rayon/#/app/meeting/decision/{{row.documentId}}/main/view" target="_blank">
              <cdp-comma-list-districts [list]="row.districtsName || []"></cdp-comma-list-districts>
            </a>
          </td>
          <td>
            <a href="/rayon/#/app/meeting/decision/{{row.documentId}}/main/view" target="_blank">
              {{row.agendaDate | date: 'dd.MM.yyyy'}}
            </a>
          </td>
          <td>
            <a href="/rayon/#/app/meeting/decision/{{row.documentId}}/main/view" target="_blank">
              {{row.protocolNumber}}
            </a>
          </td>
          <td>
            <a href="/rayon/#/app/meeting/decision/{{row.documentId}}/main/view" target="_blank">
              {{row.protocolItem}}
            </a>
          </td>
          <td>
            <a href="/rayon/#/app/meeting/decision/{{row.documentId}}/main/view" target="_blank">
              {{row.typeName}}
            </a>
          </td>
          <td>
            <div style="white-space: pre-wrap">{{row.content}}</div>
          </td>
          <td>
            <div *ngFor="let code of row.executorCode; let i = index">
              <div [ngClass]="{'m-t-sm': i}">{{getExecutor(code, row, i)}}</div>
            </div>
          </td>
          <td>
            {{row.executionDate | date: 'dd.MM.yyyy'}}
          </td>
          <td>
            {{row.statusName}}
          </td>
        </tr>
      <tr *ngIf="!rows.length">
        <td colspan="10" class="text-center">Решения штабов отсутствуют</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
