<cdp-loading-block [loadingStatus]="loading" [spinnerType]="'three-bounce'">
  <div success>
    <div *ngIf="isLoaded()">
      <div *blockUI="'block-ui-task'">

        <div>
          <h4>Информация</h4>
          <task-change-request-info [request]="request" [obj]="obj"></task-change-request-info>

          <div class="description">
            <dl class="dl-horizontal">
              <ng-container *ngIf="!!request?.coordinator?.comment">
                <dt><span>Комментарий согласующего</span></dt>
                <dd>
                  {{request?.coordinator?.comment}}
                  <span *ngIf="!!request?.coordinator?.fio">({{request?.coordinator?.fio}}, {{request?.coordinator?.date | date: 'dd.MM.yyyy HH:mm:ss'}})</span>
                </dd>
              </ng-container>
            </dl>
          </div>

        </div>

        <div class="panel panel-info" *ngIf="!!obj.aipId">
          <div class="panel-heading"><i class="fa fa-info-circle m-r-sm"></i> Заблокированные поля</div>
          <div class="panel-body">Заблокированные поля заполняются в автоматическом режиме на основании сведений, загруженных из АИС «Строительные инвестиции». В случае необходимости изменения данных следует произвести соответствующую корректировку в АИС «Строительные инвестиции»</div>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th>Поле</th>
              <th style="width: 35%">Старое значение</th>
              <th style="width: 35%">Новое значение</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="isShow('name')">
              <td><div class="row-label">Состав работ</div></td>
              <td class="doc-old">
                <textarea class="form-control" [ngModel]="documentOld.work.name" disabled></textarea>
              </td>
              <td class="doc-new">
                <textarea class="form-control" [(ngModel)]="document.work.name"></textarea>
              </td>
            </tr>
            <tr *ngIf="isShow('organization')">
              <td><div class="row-label">Ответственный исполнитель<star></star></div></td>
              <td class="doc-old space-normal">
                <ng-select [items]="dicts.responsibleOrganizations"
                           bindLabel="name"
                           [disabled]="true"
                           [ngModel]="documentOld.work.organization" name="organizationOld">
                </ng-select>
              </td>
              <td class="doc-new space-normal">
                <ng-select [items]="dicts.responsibleOrganizations"
                           [closeOnSelect]="true"
                           [hideSelected]="true"
                           bindLabel="name"
                           placeholder="Ответственный исполнитель"
                           dropdownPosition="bottom"
                           [disabled]="isDisabled('organization')"
                           [(ngModel)]="document.work.organization" name="organization">
                </ng-select>
              </td>
            </tr>
            <tr *ngIf="isShow('execution.start')">
              <td><div class="row-label">Плановый срок начала работ<star></star></div></td>
              <td class="doc-old space-normal">
                <ng-select [items]="dicts.years"
                           bindLabel="name"
                           [disabled]="true"
                           [ngModel]="documentOld.work.execution.start" name="executionStartOld">
                </ng-select>
              </td>
              <td class="doc-new space-normal">
                <ng-select [items]="dicts.years"
                           [closeOnSelect]="true"
                           [hideSelected]="true"
                           bindValue="code"
                           bindLabel="name"
                           [(ngModel)]="document.work.execution.start"
                           name="executionStart"
                           [disabled]="isDisabled('executionStart')"
                           (change)="updateYears('finish')">
                </ng-select>
              </td>
            </tr>
            <tr *ngIf="isShow('execution.finish')">
              <td><div class="row-label">Плановый срок окончания работ<star></star></div></td>
              <td class="doc-old space-normal">
                <ng-select [items]="dicts.years"
                           bindLabel="name"
                           [disabled]="true"
                           [ngModel]="documentOld.work.execution.finish" name="executionFinishOld">
                </ng-select>
              </td>
              <td class="doc-new space-normal">
                <ng-select [items]="dicts.years"
                           [closeOnSelect]="true"
                           [hideSelected]="true"
                           bindValue="code"
                           bindLabel="name"
                           [(ngModel)]="document.work.execution.finish"
                           name="executionFinish"
                           [disabled]="isDisabled('executionFinish')">
                </ng-select>
              </td>
            </tr>
            <tr *ngIf="isShow('status')">
              <td><div class="row-label">Текущая стадия работ<star></star></div></td>
              <td class="doc-old space-normal">
                <ng-select [items]="dicts.statuses"
                           bindLabel="name"
                           [disabled]="true"
                           [ngModel]="documentOld.work.status" name="statusOld">
                </ng-select>
              </td>
              <td class="doc-new space-normal">
                <ng-select [items]="dicts.statuses"
                           [closeOnSelect]="true"
                           [hideSelected]="true"
                           bindLabel="name"
                           placeholder="Текущая стадия работ"
                           dropdownPosition="bottom"
                           (change)="onChangeWorkStatus()"
                           [(ngModel)]="document.work.status" name="status">
                </ng-select>
              </td>
            </tr>
            <ng-container *ngIf="isShow('status')"><!-- External fields -->
              <ng-container *ngFor="let p of document.work.progress; let i = index; let isLast = last">
                <ng-container *ngIf="isLast">
                <tr *ngIf="isShow('progress.bargainNumberEaist', i ? document.work : documentOld.work)">
                  <td>
                    <div class="row-label">Реестровый номер торгов ЕАИСТ</div>
                  </td>
                  <td class="doc-old space-normal">
                    <input type="text" class="form-control" *ngIf="documentOldProgress && documentOldProgress[i]"
                           [disabled]="true"
                           [ngModel]="documentOldProgress[i].bargainNumberEaist" name="bargainNumberEaistOld{{i}}" />
                    <input type="text" class="form-control" *ngIf="!documentOldProgress || !documentOldProgress[i]"
                           [disabled]="true"
                           [ngModel]="emptyProgress.bargainNumberEaist" name="bargainNumberEaistOld{{i}}" />
                  </td>
                  <td class="doc-new space-normal">
                    <input type="text" class="form-control"
                           [(ngModel)]="p.bargainNumberEaist" name="bargainNumberEaist{{i}}" />
                  </td>
                </tr>
                <tr *ngIf="isShow('progress.registryNumberEaist', i ? document.work : documentOld.work)">
                  <td>
                    <div class="row-label">Реестровый номер контракта ЕАИСТ</div>
                  </td>
                  <td class="doc-old space-normal">
                    <input type="text" class="form-control" *ngIf="documentOldProgress && documentOldProgress[i]"
                           [disabled]="true"
                           [ngModel]="documentOldProgress[i].registryNumberEaist" name="registryNumberEaistOld{{i}}" />
                    <input type="text" class="form-control" *ngIf="!documentOldProgress || !documentOldProgress[i]"
                           [disabled]="true"
                           [ngModel]="emptyProgress.registryNumberEaist" name="registryNumberEaistOld{{i}}" />
                  </td>
                  <td class="doc-new space-normal">
                    <input type="text" class="form-control"
                           [(ngModel)]="p.registryNumberEaist" name="registryNumberEaist{{i}}" />
                  </td>
                </tr>
                <tr *ngIf="isShow('progress.itemNumber', i ? document.work : documentOld.work)">
                  <td>
                    <div class="row-label">Номер лота</div>
                  </td>
                  <td class="doc-old space-normal">
                    <input type="text" class="form-control" *ngIf="documentOldProgress && documentOldProgress[i]"
                           [disabled]="true"
                           [ngModel]="documentOldProgress[i].itemNumber" name="itemNumberOld{{i}}" />
                    <input type="text" class="form-control" *ngIf="!documentOldProgress || !documentOldProgress[i]"
                           [disabled]="true"
                           [ngModel]="emptyProgress.itemNumber" name="itemNumberOld{{i}}" />
                  </td>
                  <td class="doc-new space-normal">
                    <input type="text" class="form-control"
                           [(ngModel)]="p.itemNumber" name="itemNumber{{i}}" />
                  </td>
                </tr>
                <tr *ngIf="isShow('progress.executionFactStart', i ? document.work : documentOld.work)">
                  <td>
                    <div class="row-label">
                      Фактический срок начала работ
                      <span class="our-mandatory" *ngIf="isMandatory('executionFactStart', p)">*</span>
                    </div>
                  </td>
                  <td class="doc-old space-normal">
                    <cdp-date-selector  *ngIf="documentOldProgress && documentOldProgress[i]"
                      [model]="documentOldProgress[i].executionFactStart" disabled="true"></cdp-date-selector>
                    <cdp-date-selector  *ngIf="!documentOldProgress || !documentOldProgress[i]"
                      [model]="emptyProgress.executionFactStart" disabled="true"></cdp-date-selector>
                  </td>
                  <td class="doc-new space-normal" >
                    <cdp-date-selector [(model)]="p.executionFactStart"></cdp-date-selector>
                  </td>
                </tr>
                <tr *ngIf="isShow('progress.executionFactFinish', i ? document.work : documentOld.work)">
                  <td>
                    <div class="row-label">
                      Фактический срок окончания работ
                      <span class="our-mandatory" *ngIf="isMandatory('executionFactFinish', p)">*</span>
                    </div>
                  </td>
                  <td class="doc-old space-normal">
                    <cdp-date-selector  *ngIf="documentOldProgress && documentOldProgress[i]"
                      [model]="documentOldProgress[i].executionFactFinish" disabled="true"></cdp-date-selector>
                    <cdp-date-selector  *ngIf="!documentOldProgress || !documentOldProgress[i]"
                      [model]="emptyProgress.executionFactFinish" disabled="true"></cdp-date-selector>
                  </td>
                  <td class="doc-new space-normal">
                    <cdp-date-selector [(model)]="p.executionFactFinish"></cdp-date-selector>
                  </td>
                </tr>
                <tr *ngIf="isShow('progress.documentsExecution', i ? document.work : documentOld.work)">
                  <td>
                    <div class="row-label">
                      Документы, подтверждающие
                      {{p.stage?.code === 'psd_done' || p.stage?.code === 'done' ? ' выполнение ' : ''}}
                      {{p.stage?.code === 'canceled' ? ' отмену ' : ''}}
                      работ<span class="our-mandatory" *ngIf="isMandatory('documentsExecution', p)">*</span>
                    </div>
                  </td>
                  <td class="doc-old space-normal form-horizontal">
                    <div *ngFor="let doc of (documentOld.work.progress[i] ? documentOld.work.progress[i].documentsExecution : emptyDocumentsExecution); let di = index">

                      <hr *ngIf="di" />

                      <div class="form-group">
                        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                          Тип документа
                        </label>
                        <div class="col-lg-9 col-md-9 col-sm-9">
                          <ng-select [items]="dicts.workExDocTypes[document?.work?.status?.code]"
                                     bindLabel="name"
                                     [disabled]="true"
                                     [ngModelOptions]="{standalone: true}"
                                     [ngModel]="doc.type">
                          </ng-select>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                          Дата
                        </label>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                          <cdp-date-selector [(model)]="doc.date" disabled="true"></cdp-date-selector>
                        </div>
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">
                          Номер
                        </label>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                          <input type="text" disabled class="form-control" [ngModel]="doc['number']" />
                        </div>
                      </div>

                      <div class="form-group" *ngIf="progressOldFiles[di]">
                        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                          Загрузить файл
                        </label>
                        <div class="col-lg-9 col-md-9 col-sm-9">
                          <cdp-ex-file-manager [(files)]="progressOldFiles[di]"
                                               [fileType]="'default'"
                                               [folderGuid]="documentOld.work.folderId"
                                               [extPattern]="'pdf, doc, docx, rtf, txt, xls, xlsx, ppt, pptx, jpg, jpeg, tif, png, mov, mp4'"
                                               [openable]="true"
                                               [showSize]="true"
                                               [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
                        </div>
                      </div>

                      <div class="form-group" *ngIf="isShow('workDocStatus')">
                        <label class="col-lg-3 col-md-3 col-sm-3 control-label">Статус документа</label>
                        <div class="col-lg-9 col-md-9 col-sm-9">
                          <ng-select [items]="dicts.workDocStatuses"
                                     bindLabel="name"
                                     [ngModelOptions]="{standalone: true}"
                                     [disabled]="true"
                                     [ngModel]="doc.status">
                          </ng-select>
                        </div>
                      </div>

                    </div>
                  </td>
                  <td class="doc-new space-normal form-horizontal">
                    <div *ngFor="let doc of p.documentsExecution; let di = index">

                      <hr *ngIf="di" />

                      <div class="form-group">
                        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                          Тип документа
                          <span class="our-mandatory" *ngIf="isMandatory('documentsExecution', p)">*</span>
                        </label>
                        <div class="col-lg-9 col-md-9 col-sm-9">
                          <ng-select [items]="dicts.workExDocTypes[document?.work?.status?.code]"
                                     [closeOnSelect]="true"
                                     [hideSelected]="true"
                                     bindLabel="name"
                                     placeholder="Тип документа"
                                     dropdownPosition="bottom"
                                     [ngModelOptions]="{standalone: true}"
                                     [(ngModel)]="doc.type">
                          </ng-select>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                          Дата
                          <span class="our-mandatory" *ngIf="isMandatory('documentsExecution', p)">*</span>
                        </label>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                          <cdp-date-selector [(model)]="doc.date"></cdp-date-selector>
                        </div>
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">
                          Номер
                          <span class="our-mandatory" *ngIf="isMandatory('documentsExecution', p)">*</span>
                        </label>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                          <input type="text" class="form-control" [(ngModel)]="doc['number']" />
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                          Загрузить файл
                          <span class="our-mandatory" *ngIf="isMandatory('documentsExecution', p)">*</span>
                        </label>
                        <div class="col-lg-9 col-md-9 col-sm-9">
                          <cdp-ex-file-manager [(files)]="progressFiles[di]"
                                               [fileType]="'default'"
                                               [folderGuid]="documentOld.work.folderId"
                                               [extPattern]="'pdf, doc, docx, rtf, txt, xls, xlsx, ppt, pptx, jpg, jpeg, tif, png, mov, mp4'"
                                               [downloadable]="true"
                                               [deletable]="true"
                                               [openable]="true"
                                               [showSize]="true"
                                               [onRemove]="onRemoveFile.bind(this)"
                                               (onChanged)="filesOnChange()"
                                               [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
                        </div>
                      </div>

                      <div class="form-group" *ngIf="isShow('workDocStatus')">
                        <label class="col-lg-3 col-md-3 col-sm-3 control-label">Статус документа</label>
                        <div class="col-lg-9 col-md-9 col-sm-9">
                          <ng-select [items]="dicts.workDocStatuses"
                                     [closeOnSelect]="true"
                                     [hideSelected]="true"
                                     bindLabel="name"
                                     placeholder="Статус документа"
                                     dropdownPosition="bottom"
                                     [ngModelOptions]="{standalone: true}"
                                     [(ngModel)]="doc.status">
                          </ng-select>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
                        <div class="col-lg-9 col-md-9 col-sm-9">
                          <button type="button" class="btn btn-link m-t-xs no-padding" (click)="removeProgressExDoc(di, p)">
                            <i class="fa fa-times-circle m-r-xs" style="color: #de8652; font-size: 26px; vertical-align: middle;"></i> Удалить документ
                          </button>
                        </div>
                      </div>

                    </div>

                    <div class="form-group">
                      <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
                      <div class="col-lg-9 col-md-9 col-sm-9">
                        <button type="button" class="btn btn-link no-padding" (click)="addProgressExDoc(p)">
                          <i class="fa fa-plus-circle m-r-xs" style="color: #de8652; font-size: 26px; vertical-align: middle;"></i> Добавить документ
                        </button>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr *ngIf="isShow('progress.comment', i ? document.work : documentOld.work)">
                  <td>
                    <div class="row-label">
                      Комментарий
                    </div>
                  </td>
                  <td class="doc-old space-normal">
                    <textarea class="form-control" *ngIf="documentOldProgress && documentOldProgress[i]"
                              [disabled]="true"
                              [ngModel]="documentOldProgress[i].comment" name="progressCommentOld{{i}}"></textarea>
                    <textarea class="form-control" *ngIf="!documentOldProgress || !documentOldProgress[i]"
                            [disabled]="true"
                            [ngModel]="emptyProgress.comment" name="progressCommentOld{{i}}"></textarea>
                  </td>
                  <td class="doc-new space-normal">
                    <textarea class="form-control"
                              [(ngModel)]="p.comment" name="progressComment{{i}}"></textarea>
                  </td>
                </tr>
                <tr *ngIf="i && isShow('progress.reason', i ? document.work : documentOld.work)">
                  <td>
                    <div class="row-label">Причина изменения текущей стадии</div>
                  </td>
                  <td class="doc-old space-normal">
                    <textarea class="form-control" *ngIf="documentOldProgress && documentOldProgress[i]"
                              [disabled]="true"
                              [ngModel]="documentOldProgress[i].reason" name="progressReasonOld{{i}}"></textarea>
                    <textarea class="form-control" *ngIf="!documentOldProgress || !documentOldProgress[i]"
                              [disabled]="true"
                              [ngModel]="emptyProgress.reason" name="progressReasonOld{{i}}"></textarea>
                  </td>
                  <td class="doc-new space-normal">
                    <textarea class="form-control"
                              [(ngModel)]="p.reason" name="progressReason{{i}}"></textarea>
                  </td>
                </tr>
                </ng-container>
              </ng-container>
            </ng-container>
            <tr *ngIf="isShow('risk')">
              <td><div class="row-label">Риски публикации</div></td>
              <td class="doc-old">
                <textarea class="form-control" [ngModel]="documentOld.work.risk" disabled></textarea>
              </td>
              <td class="doc-new">
                <textarea class="form-control" [(ngModel)]="document.work.risk"></textarea>
              </td>
            </tr>
            <tr *ngIf="isShow('approveMunicipalDep')">
              <td><div class="row-label">Согласование с муниципальными депутатами<star></star></div></td>
              <td class="doc-old space-normal">
                <ng-select [items]="dicts.approveMunicipalStatus"
                           bindLabel="name"
                           [disabled]="true"
                           [ngModel]="documentOld.work.approveMunicipalDep" name="approveMunicipalDepOld">
                </ng-select>
              </td>
              <td class="doc-new space-normal">
                <ng-select [items]="dicts.approveMunicipalStatus"
                           [closeOnSelect]="true"
                           [hideSelected]="true"
                           bindLabel="name"
                           placeholder="Согласование с муниципальными депутатами"
                           dropdownPosition="bottom"
                           [(ngModel)]="document.work.approveMunicipalDep" name="approveMunicipalDep">
                </ng-select>
              </td>
            </tr>
            <tr *ngIf="isShow('approveAg')">
              <td><div class="row-label">Согласование на АГ<star></star></div></td>
              <td class="doc-old space-normal">
                <ng-select [items]="dicts.approveAg"
                           bindLabel="name"
                           [disabled]="true"
                           [ngModel]="documentOld.work.approveAg" name="approveAgOld">
                </ng-select>
              </td>
              <td class="doc-new space-normal">
                <ng-select [items]="dicts.approveAg"
                           [closeOnSelect]="true"
                           [hideSelected]="true"
                           bindLabel="name"
                           placeholder="Согласование на АГ"
                           dropdownPosition="bottom"
                           [(ngModel)]="document.work.approveAg" name="approveAg">
                </ng-select>
              </td>
            </tr>
            <tr *ngIf="isShow('comment')">
              <td><div class="row-label">Дополнительные сведения</div></td>
              <td class="doc-old">
                <textarea class="form-control" [ngModel]="documentOld.work.comment" disabled name="commentOld"></textarea>
              </td>
              <td class="doc-new">
                <textarea class="form-control" [(ngModel)]="document.work.comment" name="comment"></textarea>
              </td>
            </tr>
            <tr *ngIf="isShow('budget')">
              <td><div class="row-label">Финансовое обеспечение</div></td>
              <td class="doc-old space-normal">
                <ng-select [items]="dicts.budgetList"
                           bindLabel="name"
                           bindValue="code"
                           [disabled]="true"
                           [ngModel]="documentOld.work.budget" name="budgetOld">
                </ng-select>
              </td>
              <td class="doc-new space-normal">
                <ng-select [items]="dicts.budgetList"
                           [closeOnSelect]="true"
                           [hideSelected]="true"
                           bindLabel="name"
                           bindValue="code"
                           placeholder="Финансовое обеспечение"
                           dropdownPosition="bottom"
                           [disabled]="isDisabled('budget')"
                           [(ngModel)]="document.work.budget" name="budget">
                </ng-select>
              </td>
            </tr>
            <tr *ngIf="isShow('stateProgram')">
              <td><div class="row-label">Государственная программа</div></td>
              <td class="doc-old space-normal">
                <ng-select [items]="dicts.statePrograms"
                           bindLabel="name"
                           [disabled]="true"
                           [ngModel]="documentOld.work.stateProgram" name="stateProgramOld">
                </ng-select>
              </td>
              <td class="doc-new space-normal">
                <ng-select [items]="dicts.statePrograms"
                           [closeOnSelect]="true"
                           [hideSelected]="true"
                           bindLabel="name"
                           placeholder="Финансовое обеспечение"
                           dropdownPosition="bottom"
                           [disabled]="isDisabled('stateProgram')"
                           [(ngModel)]="document.work.stateProgram" name="stateProgram">
                </ng-select>
              </td>
            </tr>
            <tr *ngIf="isShow('stateCustomer')">
              <td><div class="row-label">Заказчик</div></td>
              <td class="doc-old space-normal">
                <ng-select [items]="dicts.stateCustomers"
                           bindLabel="name"
                           [disabled]="true"
                           [ngModel]="documentOld.work.stateCustomer" name="stateCustomerOld">
                </ng-select>
              </td>
              <td class="doc-new space-normal">
                <ng-select [items]="dicts.stateCustomers"
                           [multiple]="false"
                           [closeOnSelect]="true"
                           [hideSelected]="true"
                           bindLabel="name"
                           placeholder="Заказчик"
                           [disabled]="isDisabled('stateCustomer')"
                           [(ngModel)]="document.work.stateCustomer" name="stateCustomer">
                </ng-select>
              </td>
            </tr>
            <tr *ngIf="isShow('general')">
              <td><div class="row-label">Общий объем финансирования, тыс. руб.</div></td>
              <td class="doc-old">
                <input type="text" class="form-control" disabled [ngModel]="documentOld.work.general" name="generalOld" />
              </td>
              <td class="doc-new">
                <input type="text" class="form-control" [disabled]="isDisabled('general')"
                       [(ngModel)]="document.work.general" name="general"
                       [textMask]="{mask: helper.maskMoney.bind(this)}"/>
              </td>
            </tr>
            <tr *ngIf="isShow('financed')">
              <td><div class="row-label">Профинансировано, тыс. руб.</div></td>
              <td class="doc-old">
                <input type="text" class="form-control" disabled [ngModel]="documentOld.work.financed" name="financedOld" />
              </td>
              <td class="doc-new">
                <input type="text" class="form-control" [disabled]="isDisabled('financed')" [(ngModel)]="document.work.financed" name="financed" />
              </td>
            </tr>
            <tr *ngIf="isShow('byYear')">
              <td><div class="row-label">Объем финансирования на год, тыс. руб.</div></td>
              <td class="doc-old">
                <div class="clearfix" *ngFor="let row of documentOld.work.byYear; let ri = index" [ngClass]="{'m-t-sm': ri}">
                  <div class="col-lg-6 col-md-6 col-sm-6" style="padding-left: 0">
                    <ng-select [items]="dicts.years"
                               bindValue="code"
                               bindLabel="name"
                               [disabled]="true"
                               placeholder="Год"
                               [ngModelOptions]="{standalone: true}"
                               [ngModel]="row.year">
                    </ng-select>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                    <input type="text" class="form-control" [ngModel]="row.total"
                           [disabled]="true"
                           [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
              </td>
              <td class="doc-new">
                <ng-container *ngFor="let row of document.work.byYear; let ri = index">
                  <div class="clearfix" [ngClass]="{'m-t-sm': ri}"
                       *ngIf="!isDisabled('year', documentOld.work.byYear[ri]) ||
                       !isDisabled('total', documentOld.work.byYear[ri])">
                    <div class="col-lg-6 col-md-6 col-sm-6" style="padding-left: 0">
                      <ng-select [items]="dicts.years" [closeOnSelect]="true" [hideSelected]="true"
                                 bindValue="code" bindLabel="name" placeholder="Год"
                                 [disabled]="isDisabled('year', documentOld.work.byYear[ri])"
                                 [ngModelOptions]="{standalone: true}"
                                 [(ngModel)]="row.year">
                      </ng-select>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                      <input type="text" class="form-control" [(ngModel)]="row.total"
                             [disabled]="isDisabled('total', documentOld.work.byYear[ri])"
                             [ngModelOptions]="{standalone: true}"
                             [textMask]="{mask: helper.maskMoney.bind(this)}">
                    </div>
                  </div>
                </ng-container>

              </td>
            </tr>
            <ng-container *ngFor="let finance of document.work.finance; let i = index">
              <tr *ngIf="isShow('source', finance) || isShow('source', documentOld.work.finance[i])">
                <td><div class="row-label">Источник финансирования</div></td>
                <td class="doc-old space-normal">
                  <ng-select [items]="dicts.supportTypes"
                             bindLabel="name"
                             [disabled]="true"
                             [ngModelOptions]="{standalone: true}"
                             [ngModel]="documentOld.work.finance[i].source">
                  </ng-select>
                </td>
                <td class="doc-new space-normal">
                  <ng-select [items]="dicts.supportTypes"
                             [multiple]="false"
                             [closeOnSelect]="true"
                             [hideSelected]="true"
                             bindLabel="name"
                             placeholder="Источник финансирования"
                             [disabled]="isDisabled('financed')"
                             [ngModelOptions]="{standalone: true}"
                             [(ngModel)]="finance.source">
                  </ng-select>
                </td>
              </tr>
              <tr *ngIf="isShow('general', finance) || isShow('general', documentOld.work.finance[i])">
                <td><div class="row-label">Объем финансирования по источнику, тыс. руб.</div></td>
                <td class="doc-old">
                  <input type="text" class="form-control"
                         [ngModel]="documentOld.work.finance[i].general"
                         [disabled]="true"
                         [ngModelOptions]="{standalone: true}">
                </td>
                <td class="doc-new">
                  <input type="text" class="form-control"
                         [(ngModel)]="finance.general"
                         [textMask]="{mask: helper.maskMoney.bind(this)}"
                         [disabled]="isDisabled('financed')"
                         [ngModelOptions]="{standalone: true}">
                </td>
              </tr>
              <tr *ngIf="isShow('financed', finance) || isShow('financed', documentOld.work.finance[i])">
                <td><div class="row-label">Профинансировано по источнику, тыс. руб.</div></td>
                <td class="doc-old">
                  <input type="text" class="form-control"
                         [ngModel]="documentOld.work.finance[i].financed"
                         [disabled]="true"
                         [ngModelOptions]="{standalone: true}">
                </td>
                <td class="doc-new">
                  <input type="text" class="form-control"
                         [(ngModel)]="finance.financed"
                         [disabled]="isDisabled('financed')"
                         [textMask]="{mask: helper.maskMoney.bind(this)}"
                         [ngModelOptions]="{standalone: true}">
                </td>
              </tr>
              <tr *ngIf="isShow('byYear', finance) || isShow('byYear', documentOld.work.finance[i])">
                <td><div class="row-label">Объем финансирования по источнику на год, тыс. руб.</div></td>
                <td class="doc-old">
                  <div class="clearfix" *ngFor="let row of documentOld.work.finance[i].byYear let ri = index" [ngClass]="{'m-t-sm': ri}">
                    <div class="col-lg-6 col-md-6 col-sm-6" style="padding-left: 0">
                      <ng-select [items]="dicts.years"
                                 bindValue="code"
                                 bindLabel="name"
                                 [disabled]="true"
                                 placeholder="Год"
                                 [ngModelOptions]="{standalone: true}"
                                 [ngModel]="row.year">
                      </ng-select>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                      <input type="text" class="form-control" [ngModel]="row.total"
                             [disabled]="true"
                             [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                </td>
                <td class="doc-new">
                  <ng-container *ngFor="let row of finance.byYear; let yi = index;">
                    <div class="clearfix" [ngClass]="{'m-t-sm': yi}">
                      <!--*ngIf="!isDisabled('year', row) || !isDisabled('total', row)"-->
                      <div class="col-lg-6 col-md-6 col-sm-6" style="padding-left: 0">
                        <ng-select [items]="dicts.years" [closeOnSelect]="true" [hideSelected]="true"
                                   bindValue="code" bindLabel="name" placeholder="Год"
                                   [disabled]="isDisabled('year', documentOld.work.finance[i].byYear[yi])"
                                   [ngModelOptions]="{standalone: true}"
                                   [(ngModel)]="row.year">
                                   <!--(change)="byYearChange(finance.byYear, documentOld.work.finance[i].byYear.length)"-->
                        </ng-select>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                        <input type="text" class="form-control" [(ngModel)]="row.total"
                               [disabled]="isDisabled('total', documentOld.work.finance[i].byYear[yi])"
                               [ngModelOptions]="{standalone: true}"
                               [textMask]="{mask: helper.maskMoney.bind(this)}">
                               <!--(input)="byYearChange(finance.byYear, documentOld.work.finance[i].byYear.length)"-->
                      </div>
                    </div>
                  </ng-container>

                </td>
              </tr>
            </ng-container>
            <!--<tr *ngIf="isShow('additional.required')">
              <td><div class="row-label">Требуется дополнительное финансирование</div></td>
              <td class="doc-old">
                <input cdp-icheck disabled type="checkbox" [value]="true"
                       [(ngModel)]="documentOld.work.additional.required" name="additionalRequiredOld" />
              </td>
              <td class="doc-new">
                <input cdp-icheck type="checkbox" [value]="true" *ngIf="!isDisabled('additional')"
                       [(ngModel)]="document.work.additional.required" name="additionalRequired" />
                <input cdp-icheck disabled type="checkbox" [value]="true" *ngIf="isDisabled('additional')"
                       [(ngModel)]="document.work.additional.required" name="additionalRequired" />
              </td>
            </tr>
            <tr *ngIf="isShow('additional.source')">
              <td><div class="row-label">Предполагаемый источник финансирования</div></td>
              <td class="doc-old">
                <ng-select [items]="dicts.supportTypes"
                           bindLabel="name"
                           [disabled]="true"
                           [ngModelOptions]="{standalone: true}"
                           [ngModel]="documentOld.work.additional.source">
                </ng-select>
              </td>
              <td class="doc-new">
                <ng-select [items]="dicts.supportTypes"
                           [multiple]="false"
                           [closeOnSelect]="true"
                           [hideSelected]="true"
                           bindLabel="name"
                           placeholder="Источник финансирования"
                           [disabled]="isDisabled('additional')"
                           [ngModelOptions]="{standalone: true}"
                           [(ngModel)]="document.work.additional.source">
                </ng-select>
              </td>
            </tr>
            <tr *ngIf="isShow('additional.additional')">
              <td><div class="row-label">Объем дополнительного финансирования, тыс. руб.</div></td>
              <td class="doc-old">
                <input type="text" disabled class="form-control" [ngModel]="documentOld.work.additional.additional" name="additionalOld" />
              </td>
              <td class="doc-new">
                <input type="text" class="form-control" [(ngModel)]="document.work.additional.additional" name="additional" />
              </td>
            </tr>
            <tr *ngIf="isShow('byYear', documentOld.work.additional)">
              <td><div class="row-label">Объем дополнительного финансирования на год, тыс. руб.</div></td>
              <td class="doc-old">
                <div class="clearfix" *ngFor="let row of documentOld.work.additional.byYear; let ri = index" [ngClass]="{'m-t-sm': ri}">
                  <div class="col-lg-6 col-md-6 col-sm-6" style="padding-left: 0">
                    <ng-select [items]="dicts.years"
                               bindValue="code"
                               bindLabel="name"
                               [disabled]="true"
                               placeholder="Год"
                               [ngModelOptions]="{standalone: true}"
                               [ngModel]="row.year">
                    </ng-select>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                    <input type="text" class="form-control" [ngModel]="row.total"
                           [disabled]="true"
                           [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
              </td>
              <td class="doc-new">
                <div class="clearfix" *ngFor="let row of document.work.additional.byYear; let ri = index" [ngClass]="{'m-t-sm': ri}">
                  <div *ngIf="!isDisabled('year', documentOld.work.additional.byYear[ri]) || !isDisabled('total', documentOld.work.additional.byYear[ri])">
                    <div class="col-lg-6 col-md-6 col-sm-6" style="padding-left: 0">
                      <ng-select [items]="dicts.years"
                                 [closeOnSelect]="true"
                                 [hideSelected]="true"
                                 bindValue="code"
                                 bindLabel="name"
                                 placeholder="Год"
                                 [disabled]="isDisabled('year', documentOld.work.additional.byYear[ri])"
                                 [ngModelOptions]="{standalone: true}"
                                 [(ngModel)]="row.year">
                      </ng-select>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                      <input type="text" class="form-control" [(ngModel)]="row.total"
                             [disabled]="isDisabled('total', documentOld.work.additional.byYear[ri])"
                             [ngModelOptions]="{standalone: true}"
                             [textMask]="{mask: helper.maskMoney.bind(this)}">
                    </div>
                  </div>
                </div>
              </td>
            </tr>-->
          </tbody>
        </table>

        <div class="description" *ngIf="isShow('extraFiles')">
          <dl class="dl-horizontal">
            <dt><span>Дополнительные материалы по заявке</span></dt>
            <dd>
              <cdp-ex-file-manager [(files)]="extraFiles"
                                   [fileType]="'default'"
                                   [folderGuid]="request?.folderId"
                                   [extPattern]="'pdf, doc, docx, rtf, txt, xls, xlsx, ppt, pptx, jpg, jpeg, tif, png, mov, mp4'"
                                   [downloadable]="true"
                                   [deletable]="true"
                                   [openable]="true"
                                   [showSize]="true"
                                   [onRemove]="onRemoveExtraFile.bind(this)"
                                   (onChanged)="extraFilesOnChange()"
                                   [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
            </dd>
          </dl>
        </div>

        <div class="description" *ngIf="request?.agreement?.code === 'agreement'">
          <dl class="dl-horizontal">
            <dt><span>Комментарий</span></dt>
            <dd>
                <textarea class="form-control" name="creatorComment"
                          [(ngModel)]="request.creator.comment"></textarea>
            </dd>
          </dl>
        </div>

        <div class="description" *ngIf="request?.agreement?.code === 'agreement'">
          <dl class="dl-horizontal">
            <dt><span>Контактные данные</span></dt>
            <dd>
              <div class="clearfix">
                <div class="pull-right">
                  <i class="fa fa-question-circle cursor-pointer"
                     style="font-size: 22px; vertical-align: middle"
                     popover="Укажите контактные данные сотрудника, с которым можно связаться в случае возникновения вопросов к содержанию заявки"
                     placement="left"
                     triggers="mouseenter:mouseleave"
                     containerClass="popContaier"></i>
                </div>
                <div style="padding-right: 35px;">
                    <textarea class="form-control" name="creatorContactInformation"
                              [(ngModel)]="request.creator.contactInformation"></textarea>
                </div>
              </div>

            </dd>
          </dl>
        </div>


        <div class="clearfix m-t">
          <div class="pull-right">
            <button class="btn btn-default m-r-sm" (click)="save()">Сохранить без завершения и выйти</button>
            <button class="btn btn-primary m-r-sm" (click)="toApprove()" *ngIf="vars.ApprovalNeededVar">Отправить на согласование</button>
            <button class="btn btn-primary m-r-sm" (click)="toFinish()" *ngIf="!vars.ApprovalNeededVar">Внести изменения</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</cdp-loading-block>
