<cdp-loading-block [loadingStatus]="loadingStatus" [spinnerType]="'three-bounce'">
  <div success *ngIf="model">
    <form class="form-horizontal" *ngIf="isLoaded()">

      <h4 class="m-b-md">Общие сведения</h4>

      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label"
               [ngClass]="{'has-error': validate && !model.address.prefect.length}">
          Округ<span class="our-mandatory">*</span>
        </label>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <ng-select [items]="dictionaries.prefects"
                     [multiple]="true"
                     [closeOnSelect]="true"
                     [hideSelected]="true"
                     bindLabel="name"
                     placeholder="Округ"
                     (change)="onChancePrefect()"
                     dropdownPosition="bottom"
                     [(ngModel)]="model.address.prefect" name="prefect">
          </ng-select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label"
               [ngClass]="{'has-error': validate && !model.address.district.length}">
          Район<span class="our-mandatory">*</span>
        </label>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <ng-select [items]="districtsAvailables"
                     [multiple]="true"
                     [closeOnSelect]="true"
                     [hideSelected]="true"
                     bindLabel="name"
                     placeholder="Район"
                     dropdownPosition="bottom"
                     [(ngModel)]="model.address.district" name="district">
          </ng-select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
          Адрес
        </label>
        <div class="col-lg-9 col-md-9 col-sm-9" [ngStyle]="{paddingRight: model?.itemType?.code === 'event' ? '50px' : ''}">
          <ng-select [items]="dictionaries.addressList"
                     [multiple]="false"
                     [closeOnSelect]="true"
                     [hideSelected]="true"
                     bindValue="code"
                     bindLabel="name"
                     [searchFn]="addressSearchFn"
                     (keyup)="addressKeyUp.next($event)"
                     placeholder="Введите 3 символа для начала поиска"
                     [loading]="isAddressLoading"
                     (change)="onChangeAddress()"
                     [(ngModel)]="model.address.addressId" name="addressId">
          </ng-select>
          <div class="addressTooltipIcon" *ngIf="model?.itemType?.code === 'event'">
            <i class="fa fa-question-circle" style="font-size: 22px;"
               popover="Заполняется в случае проведения мероприятия по конкретному адресу, например, на базе учреждения"
               triggers="mouseenter:mouseleave"
               data-placement="left"
               containerClass="tooltipContainer"></i>
          </div>
        </div>
      </div>

      <div class="form-group" *ngIf="!model?.address?.addressId">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label"
               [ngClass]="{'has-error': validate && !model.address.addressId && !model.address.address}">
          Адресный ориентир<span class="our-mandatory" *ngIf="!model.address.addressId">*</span>
        </label>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <textarea [(ngModel)]="model.address.address"
                    class="form-control"
                    name="addressMark"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label"
               [ngClass]="{'has-error': validate && !model.object.industry}">
          Отрасль<span class="our-mandatory">*</span>
        </label>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <ng-select [items]="dictionaries.industries"
                     [multiple]="false"
                     [closeOnSelect]="true"
                     [hideSelected]="true"
                     bindLabel="name"
                     placeholder="Отрасль"
                     (change)="updateCategoriList(); updateAttributesAvailable()"
                     [(ngModel)]="model.object.industry" name="industry">
          </ng-select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label"
               [ngClass]="{'has-error': validate && !model.object.kind}">
          Вид объекта<span class="our-mandatory">*</span>
        </label>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <ng-select [items]="dictionaries.objectCategories"
                     [multiple]="false"
                     [closeOnSelect]="true"
                     [hideSelected]="true"
                     [disabled]="!model.object.industry"
                     bindLabel="name"
                     placeholder="Вид объекта"
                     [(ngModel)]="model.object.kind" name="kind">
          </ng-select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label"
               [ngClass]="{'has-error': validate && !model.object.name}">
          Наименование объекта<span class="our-mandatory">*</span>
        </label>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <textarea [(ngModel)]="model.object.name"
                    class="form-control"
                    name="objectName"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
          Краткое описание объекта
        </label>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <textarea [(ngModel)]="model.object.description"
                    class="form-control"
                    name="objectDescription"></textarea>
        </div>
      </div>

      <div class="m-t-lg">
        <h4 class="m-b-md">Признаки объекта</h4>

        <div class="form-group" *ngIf="isObjectCardPublic">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">
            К публикации на открытых информационных ресурсах
          </label>
          <div class="col-lg-9 col-md-9 col-sm-9 m-t-xs">
            <input cdp-icheck type="checkbox" [value]="true" [(ngModel)]="model['public']" name="objectPublic" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label" [ngClass]="{'has-error': validate && !model.rubricator}">
            Рубрикатор УКК<span class="our-mandatory">*</span>
          </label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <ng-select [items]="dictionaries.rubricator"
                       [multiple]="true"
                       [closeOnSelect]="true"
                       [hideSelected]="false"
                       bindLabel="name"
                       placeholder="Рубрикатор УКК"
                       [(ngModel)]="model.rubricator" name="rubricator">
              <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                <div class="m-l-{{['none', 'md', 'lg'][item.level]}}">
                  {{item.name}}
                </div>
              </ng-template>
              <ng-template ng-label-tmp let-item="item">
                <span aria-hidden="true" class="ng-value-icon left">×</span>
                <span class="ng-value-label">{{item.fullName || item.name}}</span>
              </ng-template>
            </ng-select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">
            К публикации на mos.ru
          </label>
          <div class="col-lg-9 col-md-9 col-sm-9 m-t-xs">
            <input cdp-icheck type="checkbox"
                   [value]="true" [(ngModel)]="model.mos['public']" name="objectMosPublic" />
          </div>
        </div>
      </div>

      <div class="m-t-lg">
        <h4 class="m-b-md">Дополнительные сведения</h4>

        <!--<div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">
            Дополнительные сведения
          </label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <textarea [(ngModel)]="model.comment"
                      class="form-control"
                      name="comment"></textarea>
          </div>
        </div>-->
      </div>

      <div class="form-group" *ngIf="attrList?.length">
        <div *ngFor="let attr of attrList; let i = index" class="clearfix" [ngClass]="{'m-t-sm': i}">
          <div class="col-lg-3 col-md-3 col-sm-3">
            <ng-select [items]="attributesAvailable"
                       [multiple]="false"
                       [closeOnSelect]="true"
                       [hideSelected]="true"
                       bindLabel="name"
                       placeholder="Наименование атрибута"
                       (change)="onChangeAttributeName(attr, i)"
                       dropdownPosition="bottom"
                       [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="attr.dictionary">
            </ng-select>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <ng-select *ngIf="attr.possibleValues.length"
                       [items]="attr.possibleValues"
                       [multiple]="false"
                       [closeOnSelect]="true"
                       [hideSelected]="true"
                       bindValue="code"
                       bindLabel="name"
                       placeholder="Значение атрибута"
                       (change)="onChangeAttributeValue(attr, i)"
                       dropdownPosition="bottom"
                       [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="attr.value">

            </ng-select>
            <input type="text" class="form-control"
                   *ngIf="!attr.possibleValues.length"
                   [(ngModel)]="attr.value"
                   (change)="onChangeAttributeValue(attr, i)"
                   [ngModelOptions]="{standalone: true}">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <button type="button"
                  class="btn btn-primary"
                  (click)="addAttribute()">Добавить атрибут</button>
        </div>
      </div>

      <div class="m-t-lg">
        <h4 class="m-b-md">Материалы</h4>

        <div class="form-group" *ngIf="model.documentId">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
          <div class="col-lg-9 col-md-9 com-sm-9">
            <button type="button" class="btn btn-primary"
                    (click)="inputCoordinates()"
                    [disabled]="isMosRu">Ввести координаты объекта</button>
          </div>
        </div>

        <program-form-object-commercial-materials [model]="model"
                                                  [validate]="validate"
                                                  [dictionaries]="dictionaries"
                                                  [files]="files"></program-form-object-commercial-materials>
      </div>

    </form>
  </div>
</cdp-loading-block>
