<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Фотографии до
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9">
    <cdp-ex-file-manager [(files)]="files.photobefore"
                         [fileType]="'photobefore'"
                         [folderGuid]="model?.folderId"
                         [extPattern]="'jpg, jpeg, png'"
                         [downloadable]="true"
                         [deletable]="true"
                         [openable]="true"
                         [showSize]="true"
                         [onRemove]="onRemoveFile"
                         (onChanged)="filesOnChange('photobefore')"
                         [baseMode]="!model.folderId"
                         [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Фотографии после
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9">
    <cdp-ex-file-manager [(files)]="files.photoafter"
                         [fileType]="'photoafter'"
                         [folderGuid]="model?.folderId"
                         [extPattern]="'jpg, jpeg, png'"
                         [downloadable]="true"
                         [deletable]="true"
                         [openable]="true"
                         [showSize]="true"
                         [onRemove]="onRemoveFile"
                         (onChanged)="filesOnChange('photoafter')"
                         [baseMode]="!model.folderId"
                         [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Фотография (mos.ru)
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9">
    <cdp-ex-file-manager [(files)]="files.photomosru"
                         [fileType]="'photomosru'"
                         [folderGuid]="model?.folderId"
                         [extPattern]="'jpg, jpeg, png'"
                         [downloadable]="true"
                         [deletable]="true"
                         [openable]="true"
                         [showSize]="true"
                         [onRemove]="onRemoveFile"
                         (onChanged)="filesOnChange('photomosru')"
                         [baseMode]="!model.folderId"
                         [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Дополнительные материалы
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9">
    <cdp-ex-file-manager [(files)]="files.addmaterial"
                         [fileType]="'addmaterial'"
                         [folderGuid]="model?.folderId"
                         [extPattern]="'csv, doc, docx, jpeg, jpg, pdf, png, ppt, pptx, rar, sig, txt, xml, zip, mov, mp4'"
                         [downloadable]="true"
                         [deletable]="true"
                         [openable]="true"
                         [showSize]="true"
                         [onRemove]="onRemoveFile"
                         (onChanged)="filesOnChange('addmaterial')"
                         [baseMode]="!model.folderId"
                         [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
  </div>
</div>
