<cdp-spinner [type]="'three-bounce'" *ngIf="isLoading"></cdp-spinner>
<div *ngIf="!isLoading">

  <div class="clearfix m-b-sm">
    <div class="pull-right">
      <button type="button" class="btn btn-white" (click)="addPlan()"
              *ngIf="isShow.add"><i class="fa fa-plus m-r-xs"></i> Добавить версию мастер-плана</button>
    </div>
    <div class="pull-left">
      <h3>Мастер-планы</h3>
    </div>
  </div>

  <div class="clearfix">
    <div *ngFor="let v of versions; let i = index" class="m-b-xs" style="position: relative">
      <cdp-expanded-section [(expand)]="expanded[i]" (expandChange)="changeVersionExpand(i)">
        <span header-slot [ngClass]="{'text-primary': v.statusCode === 'active'}">
          Версия {{v.planVersion}} от {{v.planApproveDate | date: 'dd.MM.yyyy'}}
          <span *ngIf="v.statusName" class="m-l-xs">({{v.statusName}})</span>
        </span>
        <div content-slot class="m-l-sm m-t-md" style="margin-left: 15px;">
          <h4><a uiSref="app.plan.card.main" [uiParams]="{id: v.sys_documentId}" target="_blank">{{v.planName}}</a></h4>
          <div class="description">
            <dl class="dl-horizontal">

              <dt><span>Округ</span></dt>
              <dd [ngSwitch]="!!v.prefectName">
                <span *ngSwitchCase="true">{{v.prefectName}}</span>
                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
              </dd>

              <dt><span>Год выполнения мастер-плана</span></dt>
              <dd [ngSwitch]="!!v.planYear">
                <span *ngSwitchCase="true">{{v.planYear}}</span>
                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
              </dd>

              <dt><span>Дата утверждения</span></dt>
              <dd [ngSwitch]="!!v.planApproveDate">
                <span *ngSwitchCase="true">{{v.planApproveDate | date: 'dd.MM.yyyy'}}</span>
                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
              </dd>

              <dt><span>Номер мастер-плана</span></dt>
              <dd [ngSwitch]="!!v.planNumber">
                <span *ngSwitchCase="true">{{v.planNumber}}</span>
                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
              </dd>

              <dt><span>Версия мастер-плана</span></dt>
              <dd [ngSwitch]="!!v?.planVersion">
                <span *ngSwitchCase="true">{{v.planVersion}}</span>
                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
              </dd>

              <dt><span>Дополнительные сведения</span></dt>
              <dd [ngSwitch]="!!v?.comment">
                <span *ngSwitchCase="true">{{v.comment}}</span>
                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
              </dd>

            </dl>
            <div *ngIf="v.document?.files?.length">
              <program-spinner *ngIf="v.filesLoading" [display]="'inline-block'"></program-spinner>
              <div *ngIf="v.filesLoadingError" class="text-danger">Произошла ошибка загрузки файлов</div>
              <cdp-ex-file-manager *ngIf="!v.filesLoading"
                                   [(files)]="v.files"
                                   [downloadable]="false"
                                   [deletable]="false"
                                   [openable]="true"
                                   [showSize]="true"
                                   [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
            </div>
          </div>
        </div>
      </cdp-expanded-section>
    </div>
  </div>

</div>
