tab {
  padding-top: 10px;
}

tab ::ng-deep .ex-small-file-name {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
}

::ng-deep #panorama {
  #imap-toolbar {
    .imap-ui-information,
    .imap-ui-simpleRuler,
    .imap-ui-heightRuler,
    .imap-ui-perpendicularRuler,
    .imap-ui-path,
    .imap-ui-square,
    .imap-ui-detection,
    .imap-ui-plane {
      display: none;
    }
    top: 15px;
    transform: none;
    background: none;
  }
  #imap-splitMenu {
    background: none;
  }
  .imap-timeline__year {
    font-size: 15px;
    font-weight: bold;
  }
}
