<div style="min-height: 300px">
  <div *ngIf="isLoading()" style="padding-top: 130px;"></div>
  <cdp-loading-block [loadingStatus]="loadingStatus" [spinnerType]="'three-bounce'">
    <div success *ngIf="document">
      <div class="modal-header">
        <div class="clearfix">
          <div class="pull-left">
            <h2>Объекты и мероприятия</h2>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <form class="form-horizontal m-t-md">
          <h4 class="m-b-md">Общие сведения</h4>
          <!--<div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label" [ngClass]="{'has-error': validate && !document.address.prefect.length}">
              Округ<span class="our-mandatory">*</span>
            </label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <ng-select [items]="dictionaries.Prefect"
                         [multiple]="true"
                         [closeOnSelect]="true"
                         [hideSelected]="true"
                         bindLabel="name"
                         placeholder="Округ"
                         (change)="onChancePrefect()"
                         [(ngModel)]="document.address.prefect" name="prefect">
              </ng-select>
            </div>
          </div>-->

          <!--<div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label" [ngClass]="{'has-error': validate && !document.address.district.length}">
              Район<span class="our-mandatory">*</span>
            </label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <ng-select [items]="districtsAvailables"
                         [multiple]="true"
                         [closeOnSelect]="true"
                         [hideSelected]="true"
                         bindLabel="name"
                         placeholder="Район"
                         [(ngModel)]="document.address.district" name="district">
              </ng-select>
            </div>
          </div>-->

          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Адрес объекта
            </label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <textarea class="form-control" [(ngModel)]="document.address.address" name="address"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label" [ngClass]="{'has-error': validate && !document.object.name}">
              Наименование объекта или мероприятия<span class="our-mandatory">*</span>
            </label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <textarea class="form-control" [(ngModel)]="document.object.name" name="name"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label"
                   [ngClass]="{'has-error': validate && !selectedObjectType}">
              Функциональное назначение	<span class="our-mandatory">*</span>
            </label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <ng-select [items]="objectTypes"
                         [multiple]="false"
                         [closeOnSelect]="true"
                         [hideSelected]="true"
                         bindLabel="name"
                         placeholder="Функциональное назначение"
                         (change)="onChangeCategory()"
                         [(ngModel)]="selectedObjectType" name="objectType">
              </ng-select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Форма собственности
            </label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <ng-select [items]="dictionaries.mr_program_OwnershipForms"
                         [multiple]="false"
                         [closeOnSelect]="true"
                         [hideSelected]="true"
                         bindLabel="name"
                         placeholder="Форма собственности"
                         [(ngModel)]="document.object.ownership" name="ownership">
              </ng-select>
            </div>
          </div>

          <!--<div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Программа (для нового строительства)
            </label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <ng-select [items]="dictionaries.mr_program_ConstructionPrograms"
                         [multiple]="false"
                         [closeOnSelect]="true"
                         [hideSelected]="true"
                         bindLabel="name"
                         placeholder="Программа"
                         [(ngModel)]="document.object.constructionProgram" name="constructionProgram">
              </ng-select>
            </div>
          </div>-->
          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Период возведения
            </label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <div *ngFor="let objectPeriod of dictionaries.mr_program_ConstructionPeriods" class="m-t-xs">
                <label>
                  <input cdp-icheck type="radio"
                         [(ngModel)]="selectedPeriod"
                         [value]="objectPeriod.code"
                         (ngModelChange)="onChangePeriod(objectPeriod)"
                         name="objectPeriod" />
                  {{objectPeriod.name}} {{objectPeriod.period ? ' (' + objectPeriod.period + ')' : ''}}
                </label>
              </div>
            </div>
          </div>
          <!--<div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Капитальный ремонт
            </label>
            <div class="col-lg-7 col-md-8 col-sm-9 m-t-xs">
              <label class="m-r-md" *ngFor="let overhaul of dictionaries.overhaul">
                <input cdp-icheck type="radio" [(ngModel)]="document.object.overhaul" [value]="overhaul.code" name="overhaul" />
                {{overhaul.name}} {{overhaul.period ? ' (' + overhaul.period + ')' : ''}}
              </label>
            </div>
          </div>-->

          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Вид объекта
            </label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <ng-select [items]="dictionaries.mr_program_ObjectKinds"
                         [multiple]="false"
                         [closeOnSelect]="true"
                         [hideSelected]="true"
                         bindLabel="name"
                         placeholder="Вид объекта"
                         [(ngModel)]="document.object.typeObject" name="typeObject">
              </ng-select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Примечание
            </label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <textarea class="form-control" [(ngModel)]="document.comment" name="comment"></textarea>
            </div>
          </div>

          <!-- Кнопки -->
          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <button type="button"
                      (click)="save()"
                      [ladda]="saving"
                      data-spinner-size="18"
                      data-spinner-color="#FFF"
                      data-style="expand-right"
                      class="btn btn-primary m-r-sm">Сохранить
              </button>

              <button type="button" class="btn btn-default" (click)="cancel()">Отмена</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div error>
      <span class="text-danger fa fa-times-circle"></span> <span> Ошибка при загрузке формы</span>
    </div>
  </cdp-loading-block>
</div>
