<div style="min-height: 300px" class=" clearfix modal-body">
  <div class="clearfix" *ngIf="!isLoaded()" style="padding-top: 130px;"></div>
  <cdp-loading-block [loadingStatus]="loadingStatus" [spinnerType]="'three-bounce'">
    <div success  *blockUI="'modal-block-ui'">
      <form class="form-horizontal m-t-md" *ngIf="isLoaded()">
        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">
            Тип координат
          </label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <ng-select [items]="dicts.coordTypes"
                       [multiple]="false"
                       [closeOnSelect]="true"
                       [hideSelected]="true"
                       bindValue="code"
                       bindLabel="name"
                       placeholder="Тип координат"
                       dropdownPosition="bottom"
                       [(ngModel)]="selected.coordType" name="coordType">
            </ng-select>
          </div>
        </div>

        <div class="form-group" *ngIf="!!selected.coordType">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">
            EPSG
          </label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <input type="text" class="form-control" name="srid"
                   [textMask]="{mask: helper.maskNumber.bind(this)}"
                   [(ngModel)]="geo.srid">
          </div>
        </div>

        <!--
          mr_xy -- X, Y
          mr_wkt -- WKT
          mr_geojson -- GeoJSON
          mr_esri_json -- ESRI JSON
          mr_vector_data -- Векторные данные
         -->

        <div *ngIf="selected.coordType === 'mr_xy'">
          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Широта
            </label>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <input type="text" class="form-control" name="mr_xy_y"
                     [textMask]="{mask: helper.maskDecimal.bind(this), pipe: degPipeY.bind(this)}"
                     [(ngModel)]="geo.y">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Долгота
            </label>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <input type="text" class="form-control" name="mr_xy_x"
                     [textMask]="{mask: helper.maskDecimal.bind(this), pipe: degPipeX.bind(this)}"
                     [(ngModel)]="geo.x">
            </div>
          </div>
        </div>

        <div *ngIf="selected.coordType === 'mr_wkt'">
          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              WKT
            </label>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <input type="text" class="form-control" name="mr_wkt" [(ngModel)]="geo.wkt">
            </div>
          </div>
        </div>

        <div *ngIf="selected.coordType === 'mr_geojson'">
          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              GeoJSON
            </label>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <input type="text" class="form-control" name="GeoJSON" [(ngModel)]="geo.geoJson">
            </div>
          </div>
        </div>

        <div *ngIf="selected.coordType === 'mr_esri_json'">
          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              ESRI JSON
            </label>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <input type="text" class="form-control" name="esriJson" [(ngModel)]="geo.esriJsonEhd">
            </div>
          </div>
        </div>

        <div *ngIf="selected.coordType === 'mr_vector_data'">
          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Формат векторных данных
            </label>
            <div class="col-lg-9 col-md-9 col-sm-9">
              <ng-select [items]="dicts.vectorFileExtensions"
                         [multiple]="false"
                         [closeOnSelect]="true"
                         [hideSelected]="true"
                         bindValue="extension"
                         bindLabel="extensionName"
                         placeholder="Формат векторных данных"
                         dropdownPosition="bottom"
                         [(ngModel)]="selected.vectorData" name="vectorData">
              </ng-select>
            </div>
          </div>

          <div class="form-group" *ngIf="selected.vectorData">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
            <div class="col-lg-9 col-md-9 col-sm-9">
              <cdp-ex-file-manager [(files)]="selected.vectorFiles"
                                   [extPattern]="'zip, 7z'"
                                   [downloadable]="selected?.vectorFiles?.length === 0"
                                   [deletable]="true"
                                   [openable]="true"
                                   [showSize]="true"
                                   [baseMode]="true"></cdp-ex-file-manager>
            </div>
          </div>
        </div>

        <div class="form-group" *ngIf="selected.coordType">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <button type="button" class="btn btn-primary m-r-sm" (click)="save()">Сохранить</button>
            <button type="button" class="btn btn-white m-r-sm" (click)="cancel()">Отмена</button>
          </div>
        </div>

      </form>
    </div>
    <div error>
      <span class="text-danger fa fa-times-circle"></span> <span> Ошибка при загрузке формы</span>
    </div>
  </cdp-loading-block>
</div>
