<table class="table table-bordered m-b-none" *ngIf="docs.length">
  <thead>
    <tr>
      <th>Объект</th>
      <th>Работы на объекте</th>
    </tr>
  </thead>
  <tbody *blockUI="'docs-ui-block'">
    <tr *ngFor="let doc of docs; let i = index;">
      <td class="no-padding" style="width: 50%">
        <table class="table m-b-xxs">
          <tr>
            <td style="width: 40px; border: 0" *ngIf="!readOnly">
              <button type="button" class="btn btn-sm" [ngClass]="{'btn-primary': isChecked(doc.id), 'btn-white': !isChecked(doc.id)}"
                      title="Проверено"
                      (click)="changeChecked(doc.id)" style="width: 34px; height: 34px;">
                <i class="fa" [ngClass]="{'fa-check': isChecked(doc.id)}"></i>
              </button>
            </td>
            <td style="border: 0">
              <div *ngIf="docsInfo && docsInfo[doc.id]">
                <span [ngSwitch]="docsInfo[doc.id].publicObject">
                  <span *ngSwitchCase="'true'" class="font-bold" style="color: #1ab394">Опубликовать</span>
                  <span *ngSwitchDefault class="font-bold text-danger">Не публиковать</span>
                </span>
              </div>
              <div><a uiSref="app.object.card.main"
                      [uiParams]="{id: doc.id, mode: readOnly ? 'view' : 'edit'}"
                      target="_blank" class="font-bold">{{doc.name}}</a></div>
              <div>{{doc.address}}
                <i class="fas fa-map-marker text-info m-l-sm" *ngIf="doc.geo"></i><!--*ngIf="gisCollection[doc.id]"-->
              </div>
              <div *ngIf="docsInfo && docsInfo[doc.id]">
                <span *ngIf="isDocsLoading"><i class="fas fa-spinner fa-spin"></i></span>
                <span *ngIf="!isDocsLoading">{{docsInfo[doc.id].kindNameObject}}</span>
              </div>
            </td>
          </tr>
        </table>
      </td>
      <td class="no-padding">
        <div *ngIf="docWorks[doc.id]?.length">
          <table class="table m-b-none">
            <tr *ngFor="let work of docWorks[doc.id]">
              <td style="width: 40px; border: 0" *ngIf="!readOnly">
                <button type="button" class="btn btn-sm" [ngClass]="{'btn-primary': isChecked(work.documentId), 'btn-white': !isChecked(work.documentId)}"
                        title="Проверено"
                        (click)="changeChecked(work.documentId)" style="width: 34px; height: 34px;">
                  <i class="fa" [ngClass]="{'fa-check': isChecked(work.documentId)}"></i>
                </button>
              </td>
              <td>
                <div [ngSwitch]="work?.data?.public">
                  <span *ngSwitchCase="true" class="font-bold" style="color: #1ab394">Опубликовать</span>
                  <span *ngSwitchDefault class="font-bold text-danger">Не публиковать</span>
                </div>
                <div>
                  <a uiSref="app.object.card.main" *ngIf="readOnly" [uiParams]="{id: doc.id}" target="_blank" class="font-bold">
                    {{work?.data?.type?.name || 'Наименование вида работы отсутствует'}} {{getWorkExecution(work?.data?.execution)}}
                  </a>
                  <a *ngIf="!readOnly" (click)="editWork(work.documentId, work.objectIdWork)" class="font-bold">
                    {{work?.data?.type?.name || 'Наименование вида работы отсутствует'}} {{getWorkExecution(work?.data?.execution)}}
                  </a>
                  <i class="fas fa-map-marker text-info m-l-sm" *ngIf="isGeo(work.documentId)"></i><!--*ngIf="gisCollection[work.documentId]"-->
                </div>
                <div>{{work?.data?.name}}</div>
                <div>{{work?.data?.status?.name}}</div>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div style="text-align: center" *ngIf="docsPagination.totalItems > docsPagination.itemsPerPage">
  <pagination [totalItems]="docsPagination.totalItems"
              [(ngModel)]="docsPagination.currentPage"
              [firstText]="'Первая'"
              [lastText]="'Последняя'"
              [previousText]="'Предыдущая'"
              [nextText]="'Следующая'"
              [rotate]="true"
              (pageChanged)="changeDocsPage($event)"
              [itemsPerPage]="docsPagination.itemsPerPage"
              [boundaryLinks]="true"
              [maxSize]="7"
              class="m-b-xs"></pagination>
</div>
<div *ngIf="!docs.length">Документы отсутствуют!</div>
