<cdp-spinner *ngIf="isLoading" [type]="'three-bounce'"></cdp-spinner>
<div *ngIf="!isLoading">
  <div class="clearfix">
    <!--<div>
      <button type="button" class="btn btn-white m-r-sm" (click)="showJson = showJson === 'publication' ? null : 'publication'">Publication JSON</button>
      <button type="button" class="btn btn-white m-r-sm" (click)="showJson = showJson === 'work' ? null : 'work'">Works JSON</button>
      <pre *ngIf="showJson === 'publication'">{{document | json}}</pre>
      <pre *ngIf="showJson === 'work'">{{docWorks | json}}</pre>
    </div>-->
    <div *ngIf="document?.selection">
      <h4>Информация о запросе</h4>
      <div class="description">
        <dl class="dl-horizontal">
          <dt><span>Автор запроса</span></dt>
          <dd [ngSwitch]="!!document?.requestContent?.requestAuthor?.fio">
            <span *ngSwitchCase="true">
              {{document?.requestContent?.requestAuthor?.fio}}
            </span>
            <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
          </dd>

          <dt><span>Параметры запроса</span></dt>
          <dd [ngSwitch]="!!document?.requestContent?.parameter?.length">
            <div *ngSwitchCase="true">
              <div *ngFor="let param of document?.requestContent?.parameter">{{param.name}}: {{param.value}}</div>
            </div>
            <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
          </dd>
        </dl>
      </div>
    </div>

    <div>
      <h4>Документы на публикацию</h4>
      <publication-request-documents [documents]="document.document"
                                     [selection]="document.selection"></publication-request-documents>
    </div>

  </div>
</div>
