<div class="m-t-sm" [ngClass]="{'m-b-sm': loading}">
  <div style="display: inline-block" class="m-r-sm" *ngIf="loading">
    <i class="fas fa-spinner fa-spin text-primary"></i>
  </div>
  <div *ngFor="let label of labels" style="display: inline-block" class="m-r-sm m-b-sm">
    <div *ngIf="isShowLabel(label)" class="label label-{{label.color}}">{{label.name}}</div>
  </div>
</div>
