<div class="m-b-md">
  <cdp-breadcrumbs></cdp-breadcrumbs>
</div>

<div style="padding-left: 0; padding-right: 0">
  <div class="clearfix m-b-sm">
    <div class="pull-right m-t-xs m-l text-right">
      <div>
        <object-adjustment-btn [document]="document" [className]="'m-l-sm'" *ngIf="modeParam === 'view'"></object-adjustment-btn>
        <object-to-archive-btn [document]="document" [className]="'m-l-sm'" *ngIf="isShow.archiveObjectBtn"></object-to-archive-btn>
        <button type="button" class="btn btn-white text-danger m-l-sm"
                (click)="delete()" *ngIf="isShow.removeObjectBtn"><i class="fas fa-trash-alt m-r-xs"></i> Удалить</button>
      </div>
    </div>
    <div>
      <h3 class="font-bold m-b-sm" style="line-height: 1.3em">
        <span class="m-r-md">{{h3}}</span>
        <!--<span *ngIf="document?.mos?.public" class="label label-success">Согласовано для публикации на карте mos.ru</span>-->
      </h3>
    </div>
    <div>
      <!--<object-header-labels [document]="document"></object-header-labels>-->
      <labels [document]="document" [docTypes]="'MR_PROGRAM_OBJ'"></labels>
    </div>
  </div>
</div>
