<div class="clearfix">
  <!-- card left side -->
  <div class="col-lg-7 col-md-7 col-sm-12" style="padding-left: 0">
    <h4>Общие сведения</h4>
    <div class="description">
      <dl class="dl-horizontal">
        <dt><span>Округ</span></dt>
        <dd [ngSwitch]="!!document?.address?.prefect?.length">
          <span *ngSwitchCase="true">
            <span *ngFor="let prefect of document?.address?.prefect; let i = index"><!--
            --><span *ngIf="i">, </span>{{prefect.name}}<!--
            --></span>
          </span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <dt><span>Район</span></dt>
        <dd [ngSwitch]="!!document?.address?.district?.length">
          <span *ngSwitchCase="true">
            <span *ngFor="let district of document?.address?.district; let i = index"><!--
            --><span *ngIf="i">, </span>{{district.name}}<!--
            --></span>
          </span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <dt *ngIf="!!document?.address?.address">
          <span [ngSwitch]="!!document?.address?.addressId">
            <span *ngSwitchCase="true">Адрес</span>
            <span *ngSwitchDefault>Адресный ориентир</span>
          </span>
        </dt>
        <dd *ngIf="!!document?.address?.address">{{document?.address?.address}}</dd>

        <dt><span>Отрасль</span></dt>
        <dd [ngSwitch]="!!document?.object?.industry?.name">
          <span *ngSwitchCase="true">{{document?.object?.industry?.name}}</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <dt><span>Вид объекта</span></dt>
        <dd [ngSwitch]="!!document?.object?.kind?.name">
          <span *ngSwitchCase="true">{{document?.object?.kind?.name}}</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <dt><span>Наименование объекта</span></dt>
        <dd [ngSwitch]="!!document?.object?.name">
          <span *ngSwitchCase="true">{{document?.object?.name}}</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <dt><span>Краткое описание объекта</span></dt>
        <dd [ngSwitch]="!!document?.object?.description">
          <span *ngSwitchCase="true">{{document?.object?.description}}</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

      </dl>
    </div>

    <h4>Признаки объекта</h4>
    <div class="description">
      <dl class="dl-horizontal">

        <dt><span>К публикации на открытых информационных ресурсах</span></dt>
        <dd [ngSwitch]="document?.public">
          <span *ngSwitchCase="true">Да</span>
          <span *ngSwitchDefault class="not-specified">Нет</span>
        </dd>

        <dt><span>Рубрикатор УКК</span></dt>
        <dd [ngSwitch]="!!document?.rubricator?.length">
          <span *ngSwitchCase="true">
            <span *ngFor="let rb of document?.rubricator; let i = index"><br *ngIf="i">{{rb.name}}</span>
          </span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <dt><span style="font-weight: bold">К публикации на mos.ru</span></dt>
        <dd [ngSwitch]="document?.mos?.public">
          <span *ngSwitchCase="true">Да</span>
          <span *ngSwitchDefault class="not-specified">Нет</span>
        </dd>

      </dl>
    </div>

    <h4 *ngIf="document?.specific?.length">Дополнительные сведения</h4>
    <div class="description" *ngIf="document?.specific?.length">
      <dl class="dl-horizontal" *ngFor="let attr of document?.specific" style="margin-bottom: 0">
        <dt><span>{{attr.specificName}}</span></dt>
        <dd [ngSwitch]="!!attr.specificValue">
          <span *ngSwitchCase="true">{{attr.specificValue}}</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>
      </dl>
    </div>
  </div>

  <div class="col-lg-5 col-md-5 col-sm-12" style="padding-right: 0">
    <div *ngIf="geometry">
      <h4>Карта</h4>
      <div class="m-b-md">
        <div style="position: relative; height: 400px; overflow: hidden">
          <reinform-cdp-min-map [geometry]="geometry"></reinform-cdp-min-map>
        </div>
      </div>
    </div>

    <div *ngIf="!!files?.photobefore?.length">
      <h4>Фотографии до</h4>
      <hr class="m-t-xs">
      <div class="m-b">
        <carousel [interval]="0">
          <slide *ngFor="let f of files.photobefore">
            <img [src]="'/filestore/v1/files/' + f.idFile + '?systemCode=MR'" style="width: 100%" alt="">
          </slide>
        </carousel>
      </div>
    </div>

    <div *ngIf="!!files?.photoafter?.length">
      <h4>Фотографии после</h4>
      <hr class="m-t-xs">
      <div class="m-b">
        <carousel [interval]="0">
          <slide *ngFor="let f of files.photoafter">
            <img [src]="'/filestore/v1/files/' + f.idFile + '?systemCode=MR'" style="width: 100%" alt="">
          </slide>
        </carousel>
      </div>
    </div>

    <div *ngIf="!!files?.photomosru?.length">
      <h4>Фотография (mos.ru)</h4>
      <div class="m-b-md">
        <carousel [interval]="0">
          <slide *ngFor="let f of files.photomosru">
            <img [src]="'/filestore/v1/files/' + f.idFile + '?systemCode=MR'" style="width: 100%" alt="">
          </slide>
        </carousel>
      </div>
    </div>

    <div *ngIf="!!files?.addmaterial?.length">
      <h4>Дополнительные материалы</h4>
      <hr class="m-t-xs">
      <div class="m-b">
        <cdp-ex-file-manager [(files)]="files.addmaterial"
                             [downloadable]="false"
                             [deletable]="false"
                             [openable]="true"
                             [showSize]="true"
                             [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
      </div>
    </div>

  </div>
</div>
