<div *blockUI="'card-main-edit'">
  <program-form-object-commercial [model]="document" [validate]="validate" [files]="files"
                                  (onLoad)="showButtons()"></program-form-object-commercial>

  <!-- Кнопки -->
  <div class="form-group" *ngIf="isShowButtons">
    <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
    <div class="col-lg-7 col-md-8 col-sm-9">
      <button type="button" (click)="save()" class="btn btn-primary m-r-sm">Сохранить</button>
      <button type="button" class="btn btn-default" (click)="cancel()">Отмена</button>
    </div>
  </div>

</div>
