<div *ngIf="isShow.form">
  <div *ngIf="!loading">
    <form class="form-horizontal" *blockUI="'form-block-ui'">
      <h2 class="m-b-md">Проставить рубрики УКК</h2>

      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
          Идентификаторы объектов
        </label>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <textarea class="form-control" [(ngModel)]="selected.ids" name="ids"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <button class="btn btn-primary m-r-sm" (click)="ok()">OK</button>
          <button class="btn btn-danger m-r-sm" (click)="cancel()">Отмена</button>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="loading">
    <program-spinner [height]="'medium'"></program-spinner>
  </div>
</div>
<div *ngIf="!isShow.form">
  <cdp-page-not-auth></cdp-page-not-auth>
</div>
