<cdp-spinner *ngIf="isLoading" [type]="'three-bounce'"></cdp-spinner>
<div *ngIf="!isLoading" class="table-overflow-container" style="overflow-y: hidden">
  <table class="table search-result-table table-striped table-hover">
    <thead>
      <tr>
        <th><span>Вид поручения</span></th>
        <th><span>Номер поручения</span></th>
        <th><span>Дата поручения</span></th>
        <th><span>Содержание поручения</span></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of rows; let i = index">
        <td>
          <a uiSref="app.instruction.card.main" [uiParams]="{id: row.documentId}" target="_blank">
            {{row.categoryNameInstruction}}
          </a>
        </td>
        <td>
          <a uiSref="app.instruction.card.main" [uiParams]="{id: row.documentId}" target="_blank">
            {{row.documentNumberInstruction}}
          </a>
        </td>
        <td>
          <a uiSref="app.instruction.card.main" [uiParams]="{id: row.documentId}" target="_blank">
            {{row.documentDateInstruction | date: 'dd.MM.yyyy'}}
          </a>
        </td>
        <td>
          <a uiSref="app.instruction.card.main" [uiParams]="{id: row.documentId}" target="_blank">
            {{row.contentInstruction}}
          </a>
        </td>
      </tr>
      <tr *ngIf="!rows.length">
        <td colspan="4" class="text-center">Поручения отсутствуют</td>
      </tr>
    </tbody>
  </table>
</div>
