<cdp-loading-block [loadingStatus]="loading" [spinnerType]="'three-bounce'">
  <div success>
    <div *ngIf="isLoaded()">
      <div *blockUI="'agree-object-list-task'">
        <task-info [request]="request" [prefect]="prefect?.name || ''"></task-info>
        <hr>
        <h4>{{caption}}</h4>
        <object-list-form [request]="request?.request" [readOnly]="true"></object-list-form>

        <form class="form-horizontal m-t-md">
          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Замечания
            </label>
            <div class="col-lg-7 col-md-8 col-sm-9">
              <textarea class="form-control" [(ngModel)]="selected.comment" name="comment"></textarea>
            </div>
          </div>
        </form>

        <div class="clearfix">
          <div class="pull-right">
            <button class="btn btn-primary m-r-sm" (click)="finish('agreed')">Согласовать</button>
            <button class="btn btn-danger m-r-sm" (click)="finish('rework')">Отправить на доработку</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</cdp-loading-block>
