<div class="m-t-sm" [ngClass]="{'m-b-sm': loading}" [ngStyle]="style.container">
  <div style="display: inline-block" class="m-r-sm" *ngIf="loading">
    <i class="fas fa-spinner fa-spin text-primary"></i>
  </div>
  <ng-container *ngFor="let label of labels">
    <div *ngIf="isShowLabel(label)" style="display: inline-block" class="m-r-sm m-b-sm">
      <div class="label label-{{label.color}}">{{label.name}}</div>
    </div>
  </ng-container>
</div>
