<cdp-loading-block [loadingStatus]="loadingStatus" [spinnerType]="'three-bounce'">
  <div success *ngIf="model">
    <form class="form-horizontal" *ngIf="isLoaded()">

      <h4 class="m-b-md">Общие сведения</h4>

      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label"
               [ngClass]="{'has-error': validate && !model.planName}">
          Наименование мастер-плана<span class="our-mandatory">*</span>
        </label>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <textarea class="form-control" name="planName" [(ngModel)]="model.planName"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label"
               [ngClass]="{'has-error': validate && !model.prefect}">
          Округ<span class="our-mandatory">*</span>
        </label>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <ng-select [items]="dictionaries.prefects"
                     [multiple]="false"
                     [closeOnSelect]="true"
                     [hideSelected]="true"
                     bindLabel="name"
                     placeholder="Округ"
                     dropdownPosition="bottom"
                     [disabled]="isDisabledPrefect()"
                     [(ngModel)]="model.prefect" name="prefect">
          </ng-select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label"
               [ngClass]="{'has-error': validate && !model.planYear}">
          Год выполнения мастер-плана<span class="our-mandatory">*</span>
        </label>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <ng-select [items]="dictionaries.completeYears"
                     [multiple]="false"
                     [closeOnSelect]="true"
                     [hideSelected]="true"
                     bindLabel="code"
                     bindValue="code"
                     placeholder="Год"
                     dropdownPosition="bottom"
                     [disabled]="isDisabledPrefect()"
                     [(ngModel)]="model.planYear" name="planYear">
          </ng-select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
          Дата утверждения
        </label>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <cdp-date-selector [(model)]="model.planApproveDate"></cdp-date-selector>
        </div>
      </div>

      <!--<div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
          Номер мастер-плана
        </label>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <input type="text" class="form-control" [(ngModel)]="model.planNumber" name="planNum" />
        </div>
      </div>-->

      <h4 class="m-b-md">Дополнительные сведения</h4>

      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
          Дополнительные сведения
        </label>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <textarea class="form-control" name="planComment" [(ngModel)]="model.comment"></textarea>
        </div>
      </div>

      <h4 class="m-b-md">Материалы к мастер-плану</h4>

      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
          Документы к мастер-плану
        </label>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <cdp-ex-file-manager [(files)]="files"
                               [fileType]="'default'"
                               [folderGuid]="model?.folderId"
                               [extPattern]="'doc, docx, jpeg, jpg, pdf, png, ppt, pptx, zip, xls, xlsx'"
                               [downloadable]="true"
                               [deletable]="true"
                               [openable]="true"
                               [showSize]="true"
                               [onRemove]="onRemoveFile"
                               [baseMode]="!model.folderId"
                               [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
        </div>
      </div>

    </form>
  </div>
</cdp-loading-block>
