/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import "~@reinform-cdp/main-theme/dist/index.css";
@import "~@reinform-cdp/widgets/dist/index.css";
@import '~icheck/skins/square/orange.css';
@import '~jsoneditor/dist/jsoneditor.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~ladda/dist/ladda-themeless.min.css";
@import "~animate.css/animate.css";
@import "~metismenu/dist/metisMenu.css";
@import "~ui-select/dist/select.css";
@import "~ngdropzone/dist/ng-dropzone.css";
@import "~angular-toastr/dist/angular-toastr.css";
@import "~angular-block-ui/dist/angular-block-ui.css";
@import '~@reinform-cdp/skeleton/dist/index.css';


.nav-header {
  padding: 0 !important;
}

.ng-select.ng-select-disabled {
  .ng-select-container {
    cursor: not-allowed !important;
    background-color: #eee;
  }
  * {
    cursor: not-allowed !important;
  }
}
