<cdp-spinner *ngIf="isLoading" [type]="'three-bounce'"></cdp-spinner>
<div *ngIf="!isLoading">
  <program-card-aerial-photo-view *ngIf="modeParam === 'view'"></program-card-aerial-photo-view>
  <program-card-aerial-photo-edit *ngIf="modeParam === 'edit'"></program-card-aerial-photo-edit>
</div>
