<cdp-spinner *ngIf="isLoading" [type]="'three-bounce'"></cdp-spinner>
<div *ngIf="!isLoading">

  <div class="clearfix m-b-sm">
    <div class="pull-right">
      <a uiSref="{{state.current.name}}" [uiParams]="{id: objectId, mode: 'edit'}"
         *ngIf="isShowEditBtn()"
         class="btn btn-default m-l-sm">Осуществить привязку данных аэрофотосъемки</a>
    </div>
  </div>

  <div class="clearfix">
    <div class="col-lg-4 col-md-6 col-sm-12 m-b-md" *ngFor="let d of videos">
      <div class="clearfix">
        <!--<div class="pull-right"><i class="fas fa-info-circle" style="color: #d9d9d9"></i></div>-->
        <div title="{{d.objectName}}"
             style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 95%;">
          <b>{{d.objectName}}</b>
        </div>
      </div>
      <div>Дата съемки: {{d.date | date: 'dd.MM.yyyy'}} {{d.time}}</div>
      <div class="m-t-sm m-b-sm" style="height: 210px; background: #000;">
        <video src="{{getVideoUrl(d.videoName, d.date, false, d.contract)}}"
               controls preload="metadata"></video>
      </div>
      <div>{{d.videoName}}</div>
      <div class="m-t-xs">
        <span class="m-r-sm">Скачать:</span>
        <a href="{{getVideoUrl(d.videoName, d.date, false, d.contract)}}">Оригинал</a>
        <span class="m-r-sm m-l-sm">|</span>
        <a href="{{getVideoUrl(d.videoName, d.date, true, d.contract)}}">Сжатый</a>
      </div>
    </div>
    <h2 *ngIf="!videos.length">Нет привязанных данных</h2>
  </div>

</div>
