<cdp-spinner *ngIf="isLoading" [type]="'three-bounce'"></cdp-spinner>
<div *ngIf="!isLoading">
  <div *ngIf="!errorMessage && !isPermissionDenied">
    <div *blockUI="'docs-ui-block'" class="clearfix">
      <div class="button-list clearfix m-b-sm">
        <div class="pull-right">
          <button type="button" class="btn btn-default m-l-sm" (click)="save()">Сохранить</button>
          <a uiSref="{{state.current.name}}" [uiParams]="{id: objectId, mode: 'view'}" class="btn btn-default m-l-sm">Отмена</a>
        </div>
      </div>

      <div class="search-form">
        <form>
          <div class="input-group">
            <!--Дата облета, описание материалов облета, адресный ориентир, наименование объекта облета-->
            <input class="form-control input-lg" name="candidateSearchValue"
                   [(ngModel)]="commonSubject"
                   placeholder="Дата облета, адресный ориентир, наименование объекта облета">
            <div class="input-group-btn">
              <button class="btn btn-lg btn-primary" type="button" (click)="changePage({page: 1})">Найти</button>
            </div>
          </div>

          <div class="container-fluid m-t-xs no-padding">
            <div class="pull-left">
              <p class="m-t-xs">Найдено — <b>{{pagination?.totalItems}}</b></p>
            </div>
          </div>

          <div class="input-group">
            <div class="m-b-sm">
              <button class="btn btn-sm small-check-btn"
                      [disabled]="blockUI.isActive || (!showOnlyLinked && !docs?.length)"
                      (click)="changeOnlyLinked()"
                      [ngClass]="{'btn-primary': showOnlyLinked, 'btn-white': !showOnlyLinked}" type="button">
                <i class="fa fa-check" *ngIf="showOnlyLinked"></i>
              </button>
              <span class="m-l-sm">Показать только привязанные данные аэрофотосъемки</span>
            </div>
          </div>
        </form>
      </div>

      <div>
        <div *ngIf="docs.length">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th></th>
                <th>Адресный ориентир</th>
                <th>Наименование объекта облета</th>
                <th>Дата облета</th>
                <th>Материалы аэрофотосъемки</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of docs">
                <td>
                  <button type="button" class="btn btn-white btn-sm small-check-btn"
                          title="Установить связь"
                          *ngIf="!hasLink(row.documentId) || isRejected(row.documentId)"
                          [disabled]="linking[row.documentId]"
                          (click)="add(row.documentId)">
                    <i class="fa fa-spinner fa-spin" *ngIf="linking[row.documentId]"></i>
                  </button>
                  <button type="button" class="btn btn-primary btn-sm small-check-btn"
                          title="Удалить связь"
                          *ngIf="hasLink(row.documentId)"
                          [disabled]="linking[row.documentId]"
                          (click)="remove(row.documentId)">
                    <i class="fa fa-check" *ngIf="!linking[row.documentId]"></i>
                    <i class="fa fa-spinner fa-spin" *ngIf="linking[row.documentId]"></i>
                  </button>
                </td>
                <td>{{row.flyobject_address}}</td>
                <td><a target="_blank" href="/drone/#/app/drone/card/{{row.documentId}}">{{row.flyobject_name}}</a></td>
                <td>{{row.flyby_date | date: 'dd.MM.yyyy'}}</td>
                <td>
                  <div *ngIf="flyBy[row.flyby_id]">
                    <div *ngFor="let dataMaterial of flyBy[row.flyby_id].dataMaterials">
                      {{dataMaterial}}
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <div style="text-align: center" *ngIf="pagination.totalItems > pagination.itemsPerPage">
            <pagination [totalItems]="pagination.totalItems"
                        [(ngModel)]="pagination.currentPage"
                        [firstText]="'Первая'"
                        [lastText]="'Последняя'"
                        [previousText]="'Предыдущая'"
                        [nextText]="'Следующая'"
                        [rotate]="true"
                        (pageChanged)="changePage($event)"
                        [itemsPerPage]="pagination.itemsPerPage"
                        [boundaryLinks]="true"
                        [maxSize]="5"
                        class="m-b-xs"></pagination>
            <select class="pagination m-l-sm" [(ngModel)]="pagination.itemsPerPage"
                    (ngModelChange)="onSelectItemsPerPage()">
              <option *ngFor="let p of pagination.itemsPerPageList" value="{{p}}">{{p || 'Все'}}</option>
            </select>
          </div>
        </div>

        <div *ngIf="!docs.length">
          <h3>Нет данных для отображения</h3>
        </div>
      </div>

      <div class="button-list clearfix m-t-sm m-b-sm">
        <div class="pull-right">
          <button type="button" class="btn btn-default m-l-sm" (click)="save()">Сохранить</button>
          <a uiSref="{{state.current.name}}" [uiParams]="{id: objectId, mode: 'view'}" class="btn btn-default m-l-sm">Отмена</a>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="errorMessage">{{errorMessage}}</div>

  <div *ngIf="isPermissionDenied">
    <cdp-page-not-auth></cdp-page-not-auth>
  </div>
</div>
