<cdp-loading-block [loadingStatus]="loading" [spinnerType]="'three-bounce'">
  <div success>
    <div *ngIf="isLoaded()">
      <div *blockUI="'block-ui-task'">

        <div>
          <h4>Информация</h4>
          <task-change-request-info [request]="request" [cardLink]="true"></task-change-request-info>

          <form class="form-horizontal">
            <table class="table">
              <thead>
                <tr>
                  <th>Поле</th>
                  <th style="width: 35%">Старое значение</th>
                  <th style="width: 35%">Новое значение</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="isShow('name')">
                  <td><div class="row-label">Состав работ</div></td>
                  <td class="doc-old">
                    <textarea class="form-control" [ngModel]="documentOld.work.name"
                              disabled name="workNameOld"></textarea>
                  </td>
                  <td class="doc-new">
                    <textarea class="form-control" [ngModel]="document.work.name"
                              disabled name="workName"></textarea>
                  </td>
                </tr>
                <tr *ngIf="isShow('organization')">
                  <td><div class="row-label">Ответственный исполнитель</div></td>
                  <td class="doc-old space-normal">
                    <ng-select [items]="dicts.responsibleOrganizations"
                               bindLabel="name"
                               [disabled]="true"
                               [ngModel]="documentOld.work.organization" name="organizationOld">
                    </ng-select>
                  </td>
                  <td class="doc-new space-normal">
                    <ng-select [items]="dicts.responsibleOrganizations"
                               bindLabel="name"
                               [disabled]="true"
                               [ngModel]="document.work.organization" name="organization">
                    </ng-select>
                  </td>
                </tr>
                <tr *ngIf="isShow('execution.start')">
                  <td><div class="row-label">Плановый срок начала работ</div></td>
                  <td class="doc-old space-normal">
                    <ng-select [items]="dicts.years"
                               bindLabel="name"
                               [disabled]="true"
                               [ngModel]="documentOld.work.execution.start" name="executionStartOld">
                    </ng-select>
                  </td>
                  <td class="doc-new space-normal">
                    <ng-select [items]="dicts.years"
                               bindValue="code"
                               bindLabel="name"
                               [ngModel]="document.work.execution.start"
                               name="executionStart"
                               [disabled]="true">
                    </ng-select>
                  </td>
                </tr>
                <tr *ngIf="isShow('execution.finish')">
                  <td><div class="row-label">Плановый срок окончания работ</div></td>
                  <td class="doc-old space-normal">
                    <ng-select [items]="dicts.years"
                               bindLabel="name"
                               [disabled]="true"
                               [ngModel]="documentOld.work.execution.finish" name="executionFinishOld">
                    </ng-select>
                  </td>
                  <td class="doc-new space-normal">
                    <ng-select [items]="dicts.years"
                               bindValue="code"
                               bindLabel="name"
                               [ngModel]="document.work.execution.finish"
                               name="executionFinish"
                               [disabled]="true">
                    </ng-select>
                  </td>
                </tr>
                <tr *ngIf="isShow('status')">
                  <td><div class="row-label">Текущая стадия работ</div></td>
                  <td class="doc-old space-normal">
                    <ng-select [items]="dicts.statuses"
                               bindLabel="name"
                               [disabled]="true"
                               [ngModel]="documentOld.work.status" name="statusOld">
                    </ng-select>
                  </td>
                  <td class="doc-new space-normal">
                    <ng-select [items]="dicts.statuses"
                               bindLabel="name"
                               [disabled]="true"
                               [ngModel]="document.work.status" name="status">
                    </ng-select>
                  </td>
                </tr>
                <ng-container *ngFor="let p of document.work.progress; let i = index; let isLast = last">
                  <ng-container *ngIf="isLast">
                  <tr *ngIf="isShow('progress.bargainNumberEaist', i)">
                    <td>
                      <div class="row-label">
                        Реестровый номер торгов ЕАИСТ
                      </div>
                    </td>
                    <td class="doc-old space-normal">
                      <input type="text" class="form-control" disabled *ngIf="documentOldProgress && documentOldProgress[i]"
                             [ngModel]="documentOldProgress[i].bargainNumberEaist" name="bargainNumberEaistOld{{i}}" />
                      <input type="text" class="form-control" disabled *ngIf="!documentOldProgress || !documentOldProgress[i]"
                             [ngModel]="emptyProgress.bargainNumberEaist" name="bargainNumberEaistOld{{i}}" />
                    </td>
                    <td class="doc-new space-normal">
                      <input type="text" class="form-control" disabled
                             [ngModel]="p.bargainNumberEaist" name="bargainNumberEaist{{i}}" />
                    </td>
                  </tr>
                  <tr *ngIf="isShow('progress.registryNumberEaist', i)">
                    <td>
                      <div class="row-label">
                        Реестровый номер контракта ЕАИСТ
                      </div>
                    </td>
                    <td class="doc-old space-normal">
                      <input type="text" class="form-control" disabled *ngIf="documentOldProgress && documentOldProgress[i]"
                             [ngModel]="documentOldProgress[i].registryNumberEaist" name="registryNumberEaistOld{{i}}" />
                      <input type="text" class="form-control" disabled *ngIf="!documentOldProgress || !documentOldProgress[i]"
                             [ngModel]="emptyProgress.registryNumberEaist" name="registryNumberEaistOld{{i}}" />
                    </td>
                    <td class="doc-new space-normal">
                      <input type="text" class="form-control" disabled
                             [ngModel]="p.registryNumberEaist" name="registryNumberEaist{{i}}" />
                    </td>
                  </tr>
                  <tr *ngIf="isShow('progress.itemNumber', i)">
                    <td>
                      <div class="row-label">
                        Номер лота
                      </div>
                    </td>
                    <td class="doc-old space-normal">
                      <input type="text" class="form-control" disabled  *ngIf="documentOldProgress && documentOldProgress[i]"
                             [ngModel]="documentOldProgress[i].itemNumber" name="itemNumberOld{{i}}" />
                      <input type="text" class="form-control" disabled *ngIf="!documentOldProgress || !documentOldProgress[i]"
                             [ngModel]="emptyProgress.itemNumber" name="itemNumberOld{{i}}" />
                    </td>
                    <td class="doc-new space-normal">
                      <input type="text" class="form-control" disabled
                             [ngModel]="p.itemNumber" name="itemNumber{{i}}" />
                    </td>
                  </tr>
                  <tr *ngIf="isShow('progress.executionFactStart', i)">
                    <td>
                      <div class="row-label">
                        Фактический срок начала работ
                      </div>
                    </td>
                    <td class="doc-old space-normal">
                      <cdp-date-selector [model]="documentOldProgress[i].executionFactStart"
                                         *ngIf="documentOldProgress && documentOldProgress[i]" disabled="true"></cdp-date-selector>
                      <cdp-date-selector [model]="emptyProgress.executionFactStart"
                                         *ngIf="!documentOldProgress || !documentOldProgress[i]" disabled="true"></cdp-date-selector>
                    </td>
                    <td class="doc-new space-normal">
                      <cdp-date-selector [model]="p.executionFactStart" disabled="true"></cdp-date-selector>
                    </td>
                  </tr>
                  <tr *ngIf="isShow('progress.executionFactFinish', i)">
                    <td>
                      <div class="row-label">
                        Фактический срок окончания работ
                      </div>
                    </td>
                    <td class="doc-old space-normal">
                      <cdp-date-selector [model]="documentOldProgress[i].executionFactFinish"
                                         *ngIf="documentOldProgress && documentOldProgress[i]" disabled="true"></cdp-date-selector>
                      <cdp-date-selector [model]="emptyProgress.executionFactFinish"
                                         *ngIf="!documentOldProgress || !documentOldProgress[i]" disabled="true"></cdp-date-selector>
                    </td>
                    <td class="doc-new space-normal">
                      <cdp-date-selector [model]="p.executionFactFinish" disabled="true"></cdp-date-selector>
                    </td>
                  </tr>
                  <tr *ngIf="isShow('progress.documentsExecution', i)">
                    <td>
                      <div class="row-label">
                        Документы, подтверждающие
                        {{p.stage?.code === 'psd_done' || p.stage?.code === 'done' ? ' выполнение ' : ''}}
                        {{p.stage?.code === 'canceled' ? ' отмену ' : ''}}
                        работ
                      </div>
                    </td>
                    <td class="doc-old space-normal form-horizontal">
                      <div *ngFor="let doc of (documentOld.work.progress[i] && documentOld.work.progress[i].documentsExecution?.length ? documentOld.work.progress[i].documentsExecution : emptyDocumentsExecution); let di = index">

                        <hr *ngIf="di" />

                        <div class="form-group">
                          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Тип документа</label>
                          <div class="col-lg-9 col-md-9 col-sm-9">
                            <ng-select [items]="dicts.workExDocTypes[document?.work?.status?.code]"
                                       bindLabel="name"
                                       [disabled]="true"
                                       [ngModelOptions]="{standalone: true}"
                                       [ngModel]="doc.type">
                            </ng-select>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Дата</label>
                          <div class="col-lg-4 col-md-4 col-sm-4">
                            <cdp-date-selector [(model)]="doc.date" disabled="true"></cdp-date-selector>
                          </div>
                          <label class="col-lg-2 col-md-2 col-sm-2 control-label">Номер</label>
                          <div class="col-lg-3 col-md-3 col-sm-3">
                            <input type="text" disabled class="form-control" [ngModel]="doc['number']" name="docNumberOld{{p}}{{di}}" />
                          </div>
                        </div>

                        <div class="form-group" *ngIf="progressOldFiles[di]">
                          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Загрузить файл</label>
                          <div class="col-lg-9 col-md-9 col-sm-9">
                            <cdp-ex-file-manager [(files)]="progressOldFiles[di]"
                                                 [fileType]="'default'"
                                                 [folderGuid]="documentOld.work.folderId"
                                                 [extPattern]="'pdf, doc, docx, rtf, txt, xls, xlsx, ppt, pptx, jpg, jpeg, tif, png, mov, mp4'"
                                                 [openable]="true"
                                                 [showSize]="true"
                                                 [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
                          </div>
                        </div>

                        <div class="form-group" *ngIf="isShow('progress.documentsExecution.status', i, di)">
                          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Статус документа</label>
                          <div class="col-lg-9 col-md-9 col-sm-9">
                            <ng-select [items]="dicts.workDocStatuses"
                                       bindLabel="name"
                                       [ngModelOptions]="{standalone: true}"
                                       [disabled]="true"
                                       [ngModel]="doc.status">
                            </ng-select>
                          </div>
                        </div>

                      </div>
                    </td>
                    <td class="doc-new space-normal form-horizontal">
                      <div *ngFor="let doc of p.documentsExecution; let di = index">

                        <hr *ngIf="di" />

                        <div class="form-group">
                          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Тип документа</label>
                          <div class="col-lg-9 col-md-9 col-sm-9">
                            <ng-select [items]="dicts.workExDocTypes[document?.work?.status?.code]"
                                       bindLabel="name"
                                       [ngModelOptions]="{standalone: true}"
                                       [disabled]="true"
                                       [ngModel]="doc.type">
                            </ng-select>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Дата</label>
                          <div class="col-lg-4 col-md-4 col-sm-4">
                            <cdp-date-selector [model]="doc.date" disabled="true"></cdp-date-selector>
                          </div>
                          <label class="col-lg-2 col-md-2 col-sm-2 control-label">Номер</label>
                          <div class="col-lg-3 col-md-3 col-sm-3">
                            <input type="text" class="form-control" disabled [ngModel]="doc['number']" name="docNumber{{p}}{{di}}" />
                          </div>
                        </div>

                        <div class="form-group" *ngIf="progressFiles[di] && progressFiles[di].length">
                          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Загрузить файл</label>
                          <div class="col-lg-9 col-md-9 col-sm-9">
                            <cdp-ex-file-manager [(files)]="progressFiles[di]"
                                                 [fileType]="'default'"
                                                 [folderGuid]="documentOld.work.folderId"
                                                 [openable]="true"
                                                 [showSize]="true"
                                                 [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
                          </div>
                        </div>

                        <div class="form-group" *ngIf="isShow('progress.documentsExecution.status', i, di)">
                          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Статус документа</label>
                          <div class="col-lg-9 col-md-9 col-sm-9">
                            <ng-select [items]="dicts.workDocStatuses"
                                       bindLabel="name"
                                       [disabled]="true"
                                       [ngModelOptions]="{standalone: true}"
                                       [ngModel]="doc.status">
                            </ng-select>
                          </div>
                        </div>

                      </div>
                    </td>
                  </tr>
                  <tr *ngIf="isShow('progress.comment', i)">
                    <td>
                      <div class="row-label">
                        Комментарий
                      </div>
                    </td>
                    <td class="doc-old space-normal">
                      <textarea class="form-control" disabled *ngIf="documentOldProgress && documentOldProgress[i]"
                                [ngModel]="documentOldProgress[i].comment" name="progressCommentOld{{i}}"></textarea>
                      <textarea class="form-control" disabled *ngIf="!documentOldProgress || !documentOldProgress[i]"
                                [ngModel]="emptyProgress.comment" name="progressCommentOld{{i}}"></textarea>
                    </td>
                    <td class="doc-new space-normal">
                      <textarea class="form-control" disabled
                                [(ngModel)]="p.comment" name="progressComment{{i}}"></textarea>
                    </td>
                  </tr>
                  <tr *ngIf="i && isShow('progress.reason', i)">
                    <td>
                      <div class="row-label">
                        Причина изменения текущей стадии
                      </div>
                    </td>
                    <td class="doc-old space-normal">
                      <textarea class="form-control" disabled *ngIf="documentOldProgress && documentOldProgress[i]"
                                [ngModel]="documentOldProgress[i].reason" name="progressReasonOld{{i}}"></textarea>
                      <textarea class="form-control" disabled *ngIf="!documentOldProgress || !documentOldProgress[i]"
                                [ngModel]="emptyProgress.reason" name="progressReasonOld{{i}}"></textarea>
                    </td>
                    <td class="doc-new space-normal">
                      <textarea class="form-control" disabled
                                [ngModel]="p.reason" name="progressReason{{i}}"></textarea>
                    </td>
                  </tr>
                  </ng-container>
                </ng-container>
                <tr *ngIf="isShow('risk')">
                  <td><div class="row-label">Риски публикации</div></td>
                  <td class="doc-old">
                    <textarea class="form-control" [ngModel]="documentOld.work.risk" disabled name="riskOld"></textarea>
                  </td>
                  <td class="doc-new">
                    <textarea class="form-control" [ngModel]="document.work.risk" disabled name="risk"></textarea>
                  </td>
                </tr>
                <tr *ngIf="isShow('approveMunicipalDep')">
                  <td><div class="row-label">Согласование с муниципальными депутатами</div></td>
                  <td class="doc-old space-normal">
                    <ng-select [items]="dicts.approveMunicipalStatus"
                               bindLabel="name"
                               [disabled]="true"
                               [ngModel]="documentOld.work.approveMunicipalDep" name="approveMunicipalDepOld">
                    </ng-select>
                  </td>
                  <td class="doc-new space-normal">
                    <ng-select [items]="dicts.approveMunicipalStatus"
                               bindLabel="name"
                               [disabled]="true"
                               [ngModel]="document.work.approveMunicipalDep" name="approveMunicipalDep">
                    </ng-select>
                  </td>
                </tr>
                <tr *ngIf="isShow('approveAg')">
                  <td><div class="row-label">Согласование на АГ</div></td>
                  <td class="doc-old space-normal">
                    <ng-select [items]="dicts.approveAg"
                               bindLabel="name"
                               [disabled]="true"
                               [ngModel]="documentOld.work.approveAg" name="approveAgOld">
                    </ng-select>
                  </td>
                  <td class="doc-new space-normal">
                    <ng-select [items]="dicts.approveAg"
                               bindLabel="name"
                               [disabled]="true"
                               [ngModel]="document.work.approveAg" name="approveAg">
                    </ng-select>
                  </td>
                </tr>
                <tr *ngIf="isShow('comment')">
                  <td><div class="row-label">Дополнительные сведения</div></td>
                  <td class="doc-old">
                    <textarea class="form-control" [ngModel]="documentOld.work.comment" disabled name="commentOld"></textarea>
                  </td>
                  <td class="doc-new">
                    <textarea class="form-control" [ngModel]="document.work.comment" disabled name="comment"></textarea>
                  </td>
                </tr>
                <tr *ngIf="isShow('budget')">
                  <td><div class="row-label">Финансовое обеспечение</div></td>
                  <td class="doc-old space-normal">
                    <ng-select [items]="dicts.budgetList"
                               bindLabel="name"
                               bindValue="code"
                               [disabled]="true"
                               [ngModel]="documentOld.work.budget" name="budgetOld">
                    </ng-select>
                  </td>
                  <td class="doc-new space-normal">
                    <ng-select [items]="dicts.budgetList"
                               bindLabel="name"
                               bindValue="code"
                               [disabled]="true"
                               [ngModel]="document.work.budget" name="budget">
                    </ng-select>
                  </td>
                </tr>
                <tr *ngIf="isShow('stateProgram')">
                  <td><div class="row-label">Государственная программа</div></td>
                  <td class="doc-old space-normal">
                    <ng-select [items]="dicts.statePrograms"
                               bindLabel="name"
                               [disabled]="true"
                               [ngModel]="documentOld.work.stateProgram" name="stateProgramOld">
                    </ng-select>
                  </td>
                  <td class="doc-new space-normal">
                    <ng-select [items]="dicts.statePrograms"
                               bindLabel="name"
                               [disabled]="true"
                               [ngModel]="document.work.stateProgram" name="stateProgram">
                    </ng-select>
                  </td>
                </tr>
                <tr *ngIf="isShow('stateCustomer')">
                  <td><div class="row-label">Заказчик</div></td>
                  <td class="doc-old space-normal">
                    <ng-select [items]="dicts.stateCustomers"
                               bindLabel="name"
                               [disabled]="true"
                               [ngModel]="documentOld.work.stateCustomer" name="stateCustomerOld">
                    </ng-select>
                  </td>
                  <td class="doc-new space-normal">
                    <ng-select [items]="dicts.stateCustomers"
                               [multiple]="false"
                               bindLabel="name"
                               [disabled]="true"
                               [ngModel]="document.work.stateCustomer" name="stateCustomer">
                    </ng-select>
                  </td>
                </tr>
                <tr *ngIf="isShow('general')">
                  <td><div class="row-label">Общий объем финансирования, тыс. руб.</div></td>
                  <td class="doc-old">
                    <input type="text" class="form-control" disabled [ngModel]="documentOld.work.general" name="generalOld" />
                  </td>
                  <td class="doc-new">
                    <input type="text" class="form-control" disabled [ngModel]="document.work.general" name="general" />
                  </td>
                </tr>
                <tr *ngIf="isShow('financed')">
                  <td><div class="row-label">Профинансировано, тыс. руб.</div></td>
                  <td class="doc-old">
                    <input type="text" class="form-control" disabled [ngModel]="documentOld.work.financed" name="financedOld" />
                  </td>
                  <td class="doc-new">
                    <input type="text" class="form-control" disabled [ngModel]="document.work.financed" name="financed" />
                  </td>
                </tr>
                <tr *ngIf="isShow('byYear')">
                  <td><div class="row-label">Объем финансирования на год, тыс. руб.</div></td>
                  <td class="doc-old">
                    <div class="clearfix" *ngFor="let row of documentOld.work.byYear; let ri = index" [ngClass]="{'m-t-sm': ri}">
                      <div class="col-lg-6 col-md-6 col-sm-6" style="padding-left: 0">
                        <ng-select [items]="dicts.years"
                                   bindValue="code"
                                   bindLabel="name"
                                   [disabled]="true"
                                   [ngModel]="row.year" name="byYearOldYear{{ri}}">
                        </ng-select>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                        <input type="text" class="form-control" [ngModel]="row.total"
                               [disabled]="true" name="byYearOldTotal{{ri}}" />
                      </div>
                    </div>
                  </td>
                  <td class="doc-new">
                    <div class="clearfix" *ngFor="let row of document.work.byYear; let ri = index" [ngClass]="{'m-t-sm': ri}">
                      <div class="col-lg-6 col-md-6 col-sm-6" style="padding-left: 0">
                        <ng-select [items]="dicts.years"
                                   bindValue="code"
                                   bindLabel="name"
                                   [disabled]="true"
                                   [ngModel]="row.year" name="byYearYear{{ri}}">
                        </ng-select>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                        <input type="text" class="form-control" [ngModel]="row.total"
                               disabled name="byYearTotal{{ri}}"
                               [textMask]="{mask: helper.maskMoney.bind(this)}">
                      </div>
                    </div>
                  </td>
                </tr>
                <ng-container *ngFor="let finance of document.work.finance; let i = index">
                  <tr *ngIf="isShow('finance.source', i)">
                    <td><div class="row-label">Источник финансирования</div></td>
                    <td class="doc-old space-normal">
                      <ng-select [items]="dicts.supportTypes"
                                 bindLabel="name"
                                 [disabled]="true"
                                 [ngModel]="documentOld.work.finance[i].source" name="financeOldSource{{i}}">
                      </ng-select>
                    </td>
                    <td class="doc-new space-normal">
                      <ng-select [items]="dicts.supportTypes"
                                 bindLabel="name"
                                 [disabled]="true"
                                 [ngModel]="finance.source" name="financeSource{{i}}">
                      </ng-select>
                    </td>
                  </tr>
                  <tr *ngIf="isShow('finance.general', i)">
                    <td><div class="row-label">Объем финансирования по источнику, тыс. руб.</div></td>
                    <td class="doc-old">
                      <input type="text" class="form-control"
                             [ngModel]="documentOld.work.finance[i].general"
                             disabled name="financeOldGeneral{{i}}">
                    </td>
                    <td class="doc-new">
                      <input type="text" class="form-control"
                             [ngModel]="finance.general"
                             [textMask]="{mask: helper.maskMoney.bind(this)}"
                             disabled name="financeGeneral{{i}}">
                    </td>
                  </tr>
                  <tr *ngIf="isShow('finance.financed', i)">
                    <td><div class="row-label">Профинансировано по источнику, тыс. руб.</div></td>
                    <td class="doc-old">
                      <input type="text" class="form-control"
                             [ngModel]="documentOld.work.finance[i].financed"
                             disabled name="financeOldFinanced{{i}}">
                    </td>
                    <td class="doc-new">
                      <input type="text" class="form-control"
                             [ngModel]="finance.financed"
                             disabled name="financeFinanced{{i}}"
                             [textMask]="{mask: helper.maskMoney.bind(this)}">
                    </td>
                  </tr>
                  <tr *ngIf="isShow('finance.byYear', i)">
                    <td><div class="row-label">Объем финансирования  по источнику на год, тыс. руб.</div></td>
                    <td class="doc-old">
                      <div class="clearfix" *ngFor="let row of documentOld.work.finance[i].byYear; let ri = index" [ngClass]="{'m-t-sm': ri}">
                        <div class="col-lg-6 col-md-6 col-sm-6" style="padding-left: 0">
                          <ng-select [items]="dicts.years"
                                     bindValue="code"
                                     bindLabel="name"
                                     [disabled]="true"
                                     [ngModel]="row.year" name="financeByYear{{i}}OldYear{{ri}}">
                          </ng-select>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                          <input type="text" class="form-control" [ngModel]="row.total"
                                 disabled name="financeByYear{{i}}OldTotal{{ri}}">
                        </div>
                      </div>
                    </td>
                    <td class="doc-new">
                      <div class="clearfix" *ngFor="let row of finance.byYear; let yi = index;" [ngClass]="{'m-t-sm': yi}">
                        <div class="col-lg-6 col-md-6 col-sm-6" style="padding-left: 0">
                          <ng-select [items]="dicts.years"
                                       [closeOnSelect]="true"
                                     [hideSelected]="true"
                                     bindValue="code"
                                     bindLabel="name"
                                     [disabled]="true"
                                     [ngModel]="row.year" name="financeByYear{{i}}Year{{yi}}">
                          </ng-select>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                          <input type="text" class="form-control" [ngModel]="row.total"
                                 disabled name="financeByYear{{i}}Total{{yi}}"
                                 [textMask]="{mask: helper.maskMoney.bind(this)}">
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-container>
                <tr *ngIf="isShow('additional.required')">
                  <td><div class="row-label">Требуется дополнительное финансирование</div></td>
                  <td class="doc-old">
                    <input cdp-icheck disabled type="checkbox" [value]="true"
                           [ngModel]="documentOld.work.additional.required" name="additionalRequiredOld" />
                  </td>
                  <td class="doc-new">
                    <input cdp-icheck disabled type="checkbox" [value]="true"
                           [ngModel]="document.work.additional.required" name="additionalRequired" />
                  </td>
                </tr>
                <tr *ngIf="isShow('additional.source')">
                  <td><div class="row-label">Предполагаемый источник финансирования</div></td>
                  <td class="doc-old">
                    <ng-select [items]="dicts.supportTypes"
                               bindLabel="name"
                               [disabled]="true"
                               [ngModel]="documentOld.work.additional.source" name="additionalSourceOld">
                    </ng-select>
                  </td>
                  <td class="doc-new">
                    <ng-select [items]="dicts.supportTypes"
                               [multiple]="false"
                               bindLabel="name"
                               [disabled]="true"
                               [ngModel]="document.work.additional.source" name="additionalSource">
                    </ng-select>
                  </td>
                </tr>
                <tr *ngIf="isShow('additional.additional')">
                  <td><div class="row-label">Объем дополнительного финансирования, тыс. руб.</div></td>
                  <td class="doc-old">
                    <input type="text" disabled class="form-control"
                           [ngModel]="documentOld.work.additional.additional" name="additionalOld" />
                  </td>
                  <td class="doc-new">
                    <input type="text" disabled class="form-control"
                           [ngModel]="document.work.additional.additional" name="additional" />
                  </td>
                </tr>
                <tr *ngIf="isShow('additional.byYear')">
                  <td><div class="row-label">Объем дополнительного финансирования на год, тыс. руб.</div></td>
                  <td class="doc-old">
                    <div class="clearfix" *ngFor="let row of documentOld.work.additional.byYear; let ri = index" [ngClass]="{'m-t-sm': ri}">
                      <div class="col-lg-6 col-md-6 col-sm-6" style="padding-left: 0">
                        <ng-select [items]="dicts.years"
                                   bindValue="code"
                                   bindLabel="name"
                                   [disabled]="true"
                                   [ngModel]="row.year" name="additionalByYearOldYear{{ri}}">
                        </ng-select>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                        <input type="text" class="form-control" [ngModel]="row.total"
                               disabled name="additionalByYearOldTotal{{ri}}">
                      </div>
                    </div>
                  </td>
                  <td class="doc-new">
                    <div class="clearfix" *ngFor="let row of document.work.additional.byYear; let ri = index" [ngClass]="{'m-t-sm': ri}">
                      <div class="col-lg-6 col-md-6 col-sm-6" style="padding-left: 0">
                        <ng-select [items]="dicts.years"
                                   bindValue="code"
                                   bindLabel="name"
                                   [disabled]="true"
                                   [ngModel]="row.year" name="additionalByYearYear{{ri}}">
                        </ng-select>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                        <input type="text" class="form-control" [ngModel]="row.total"
                               disabled
                               [textMask]="{mask: helper.maskMoney.bind(this)}" name="additionalByYearTotal{{ri}}">
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </form>

          <div class="description">
            <dl class="dl-horizontal">

              <dt><span>Комментарий исполнителя</span></dt>
              <dd [ngSwitch]="!!request?.creator?.comment">
                <span *ngSwitchCase="true">{{request?.creator?.comment}}</span>
                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
              </dd>

              <dt><span>Контактные данные</span></dt>
              <dd [ngSwitch]="!!request?.creator?.contactInformation">
                <span *ngSwitchCase="true">{{request?.creator?.contactInformation}}</span>
                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
              </dd>

            </dl>
          </div>

          <form class="form-horizontal">

            <div class="description">
              <dl class="dl-horizontal">
                <dt><span>Дополнительные материалы по заявке</span></dt>
                <dd>
                  <cdp-ex-file-manager [(files)]="extraFiles"
                                       [fileType]="'default'"
                                       [folderGuid]="request?.folderId"
                                       [extPattern]="'pdf, doc, docx, rtf, txt, xls, xlsx, ppt, pptx, jpg, jpeg, tif, png, mov, mp4'"
                                       [openable]="true"
                                       [showSize]="true"
                                       [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
                </dd>
              </dl>
            </div>

            <div class="description">
              <dl class="dl-horizontal">
                <dt><span>Комментарий</span></dt>
                <dd>
                  <textarea class="form-control" name="coordinatorComment"
                            [(ngModel)]="request.coordinator.comment"></textarea>
                </dd>
              </dl>
            </div>

            <div class="description">
              <dl class="dl-horizontal">
                <dt><span>Причина отклонения</span></dt>
                <dd>
                  <ng-select [items]="dicts.rejectReason"
                             bindLabel="name"
                             [(ngModel)]="request.coordinator.reasonForRejecting" name="rejectReason">
                  </ng-select>
                </dd>
              </dl>
            </div>

          </form>

          <div class="clearfix m-t">
            <div class="pull-right">
              <button class="btn btn-default m-r-sm" (click)="save()">Сохранить без завершения и выйти</button>
              <button class="btn btn-warning m-r-sm" (click)="finish(true)"
                      [disabled]="request.coordinator.reasonForRejecting">Отправить на доработку</button>
              <button class="btn btn-danger m-r-sm" (click)="finish(false, true)">Отклонить</button>
              <button class="btn btn-primary m-r-sm" (click)="finish()"
                      [disabled]="request.coordinator.reasonForRejecting">Согласовать</button>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</cdp-loading-block>
