<button type="button" class="btn btn-default {{className}}" *ngIf="isShow"
        [disabled]="disabled || correcting"
        (click)="startCorrectProcess()">
  <i class="fa text-primary m-r-xs"
     [ngClass]="{'fa-pencil-square-o': !correcting, 'fa-spinner fa-spin': correcting}"></i> Корректировка
</button>
