<div class="page-heading" style="padding-left: 0; padding-right: 0">
  <div class="clearfix">
    <div class="pull-right m-t-xs m-l text-right">
      <!-- buttons -->
    </div>
    <div>
      <div [ngSwitch]="document?.selection">
        <div *ngSwitchCase="true"><h2 class="m-t-none font-bold">Запрос пользователя</h2></div>
        <div *ngSwitchDefault>
          <div *ngFor="let doc of document?.document">
            <h2 class="m-t-none font-bold" *ngIf="doc?.workType?.name">{{doc?.workType?.name}}</h2>
            <h3 class="font-bold m-b-sm" *ngIf="doc?.name">{{doc?.name}}</h3>
            <div class="m-b-sm" *ngIf="doc?.address">{{doc?.address}}</div>
          </div>
        </div>
      </div>

      <div *ngIf="document?.status?.name">
        <div [ngSwitch]="!!dicts && !!dicts['mr_program_requestPublish']">
          <div *ngSwitchCase="true">
            <div *ngFor="let s of dicts['mr_program_requestPublish']">
              <span *ngIf="s.code === document?.status?.code" class="label label-{{s.color}}">{{s.name}}</span>
            </div>
          </div>
          <div *ngSwitchDefault>{{document?.status?.name}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
