<cdp-loading-block [loadingStatus]="loading" [spinnerType]="'three-bounce'">
  <div success>
    <div *ngIf="isLoaded()">
      <div *blockUI="'prepare-object-list-task'">
        <task-info [request]="request" [prefect]="prefect?.name || ''"></task-info>
        <hr>
        <h4>{{caption}}</h4>

        <div class="description" *ngIf="request?.request?.review?.comment">
          <dl class="dl-horizontal">
            <dt><span>Замечания к исходным данным</span></dt>
            <dd>
              {{request?.request?.review?.comment}}
              <span *ngIf="request?.request?.review?.date || request?.request?.review?.fio">
                ({{request?.request?.review?.date | date: 'dd.MM.yyyy'}}{{request?.request?.review?.fio && request?.request?.review?.date ? ', ' : ''}}{{request?.request?.review?.fio}})</span>
            </dd>
          </dl>
        </div>

        <object-list-form [request]="request?.request"></object-list-form>

        <div class="clearfix m-t">
          <div class="pull-right">
            <button class="btn btn-primary m-r-sm" (click)="finish()">Данные подготовлены</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</cdp-loading-block>
