<cdp-spinner *ngIf="isLoading" [type]="'three-bounce'"></cdp-spinner>

<div *ngIf="!isLoading">
  <form class="form-horizontal m-t-md">
    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-3 control-label">
        Комментарий <span class="our-mandatory">*</span>
      </label>
      <div class="col-lg-7 col-md-8 col-sm-9">
        <textarea class="form-control" name="comment"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
      <div class="col-lg-7 col-md-8 col-sm-9">
        <button type="button"
                (click)="finishTask()"
                [ladda]="finishing"
                data-spinner-size="18"
                data-spinner-color="#FFF"
                data-style="expand-right"
                class="btn btn-primary">
          Завершить задачу
        </button>
      </div>
    </div>

  </form>
</div>
