<cdp-spinner *ngIf="isLoading" [type]="'three-bounce'"></cdp-spinner>
<div *ngIf="!isLoading">
  <div class="clearfix">
    <div class="pull-right">
      <object-edit-btn [document]="document" [mode]="modeParam"></object-edit-btn>
    </div>
    <div class="pull-left">
      <h3>Общая информация</h3>
    </div>
  </div>
  <program-card-archive-main-view *ngIf="modeParam === 'view'" [files]="files"></program-card-archive-main-view>
  <program-card-archive-main-edit *ngIf="modeParam === 'edit'" [files]="files"></program-card-archive-main-edit>
</div>
