<div class="clearfix">
  <!-- card left side -->
  <div class="col-lg-7 col-md-7 col-sm-12" style="padding-left: 0">
    <h4>Общие сведения</h4>
    <div class="description">
      <dl class="dl-horizontal">
        <dt><span>Округ</span></dt>
        <dd [ngSwitch]="!!document?.address?.prefect?.length">
          <span *ngSwitchCase="true">
            <span *ngFor="let prefect of document?.address?.prefect; let i = index"><!--
            --><span *ngIf="i">, </span>{{prefect.name}}<!--
            --></span>
          </span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <dt><span>Район</span></dt>
        <dd [ngSwitch]="!!document?.address?.district?.length">
          <span *ngSwitchCase="true">
            <span *ngFor="let district of document?.address?.district; let i = index"><!--
            --><span *ngIf="i">, </span>{{district.name}}<!--
            --></span>
          </span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <dt><span>Тип элемента</span></dt>
        <dd [ngSwitch]="!!document?.itemType?.name">
          <span *ngSwitchCase="true">{{document?.itemType?.name}}</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <dt *ngIf="document?.itemType?.code === 'object'"><span>Тип объекта</span></dt>
        <dd *ngIf="document?.itemType?.code === 'object'" [ngSwitch]="!!document?.objectForm?.name">
          <span *ngSwitchCase="true">{{document?.objectForm?.name}}</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <!--<dt *ngIf="!!document?.address?.addressId && !document?.address?.address"><span>Адрес</span></dt>
        <dd *ngIf="!!document?.address?.addressId && !document?.address?.address">{{programService.address}}</dd>-->

        <dt *ngIf="!!document?.address?.address">
          <span [ngSwitch]="!!document?.address?.addressId">
            <span *ngSwitchCase="true">Адрес</span>
            <span *ngSwitchDefault>Адресный ориентир</span>
          </span>
        </dt>
        <dd *ngIf="!!document?.address?.address">{{document?.address?.address}}</dd>

        <dt><span>Отрасль</span></dt>
        <dd [ngSwitch]="!!document?.object?.industry?.name">
          <span *ngSwitchCase="true">{{document?.object?.industry?.name}}</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <dt><span>{{document?.itemType?.code === 'event' ? 'Вид мероприятия' : 'Вид объекта'}}</span></dt>
        <dd [ngSwitch]="!!document?.object?.kind?.name">
          <span *ngSwitchCase="true">{{document?.object?.kind?.name}}</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <dt><span>Наименование {{document?.itemType?.code === 'event' ? 'мероприятия' : 'объекта'}}</span></dt>
        <dd [ngSwitch]="!!document?.object?.name">
          <span *ngSwitchCase="true">{{document?.object?.name}}</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <dt><span style="font-weight: bold">Наименование {{document?.itemType?.code === 'event' ? 'мероприятия' : 'объекта'}} (mos.ru)</span></dt>
        <dd [ngSwitch]="!!document?.mos?.name">
          <span *ngSwitchCase="true">{{document?.mos?.name}}</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <dt><span>Краткое описание {{document?.itemType?.code === 'event' ? 'мероприятия' : 'объекта'}}</span></dt>
        <dd [ngSwitch]="!!document?.object?.description">
          <span *ngSwitchCase="true">{{document?.object?.description}}</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <dt><span style="font-weight: bold">Краткое описание {{document?.itemType?.code === 'event' ? 'мероприятия' : 'объекта'}} (mos.ru)</span></dt>
        <dd [ngSwitch]="!!document?.mos?.description">
          <span *ngSwitchCase="true">{{document?.mos?.description}}</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <dt *ngIf="document?.itemType?.code === 'object'"><span>Форма собственности</span></dt>
        <dd *ngIf="document?.itemType?.code === 'object'" [ngSwitch]="!!document?.object?.ownership?.name">
          <span *ngSwitchCase="true">{{document?.object?.ownership?.name}}</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <dt><span>Ответственный орган исполнительной власти</span></dt>
        <dd [ngSwitch]="!!document?.responsible?.organization?.name">
          <span *ngSwitchCase="true">{{document?.responsible?.organization?.name}}</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

      </dl>
    </div>

    <h4 *ngIf="document?.itemType?.code === 'object'">Характеристики земельного участка</h4>
    <div *ngIf="document?.itemType?.code === 'object'" class="description">
      <dl class="dl-horizontal">

        <dt><span>Кадастровый номер земельного участка</span></dt>
        <dd [ngSwitch]="!!document?.parameterZu?.cadastralNumber?.length">
          <span *ngSwitchCase="true">
            <span *ngFor="let cad of document?.parameterZu?.cadastralNumber; let i = index"><!--
            --><br *ngIf="i">{{cad}}<!--
            --></span>
          </span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <dt><span>Площадь земельного участка</span></dt>
        <dd [ngSwitch]="!!document?.object?.area">
          <span *ngSwitchCase="true">{{document?.object?.area}} га</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <dt><span>Категория земель</span></dt>
        <dd [ngSwitch]="!!document?.parameterZu?.landCategory">
          <span *ngSwitchCase="true">{{document?.parameterZu?.landCategory}}</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <dt><span>Вид разрешенного использования</span></dt>
        <dd [ngSwitch]="!!document?.parameterZu?.permittedUse">
          <span *ngSwitchCase="true">{{document?.parameterZu?.permittedUse}}</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <dt><span>Сведения о ГПЗУ</span></dt>
        <dd [ngSwitch]="!!document?.parameterZu?.gpzuNumber">
          <span *ngSwitchCase="true">№ {{document?.parameterZu?.gpzuNumber}}
            {{document?.parameterZu?.gpzuDate ? ' от ' : ''}}{{document?.parameterZu?.gpzuDate | date: 'dd.MM.yyyy'}}</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

      </dl>
    </div>

    <h4 *ngIf="document?.itemType?.code === 'object'">Характеристики объекта</h4>
    <div *ngIf="document?.itemType?.code === 'object'" class="description">
      <dl class="dl-horizontal">

        <dt><span>Площадь объекта</span></dt>
        <dd [ngSwitch]="!!document?.object?.areaObject">
          <span *ngSwitchCase="true">{{document?.object?.areaObject}} кв.м</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <dt *ngIf="document?.objectForm?.code === 'linear'"><span>Протяженность объекта</span></dt>
        <dd [ngSwitch]="!!document?.object?.extent" *ngIf="document?.objectForm?.code === 'linear'">
          <span *ngSwitchCase="true">{{document?.object?.extent}} м</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <dt *ngIf="document?.objectForm?.code === 'building'"><span>Год постройки</span></dt>
        <dd [ngSwitch]="!!document?.parameterObject?.constructionYear" *ngIf="document?.objectForm?.code === 'building'">
          <span *ngSwitchCase="true">{{document?.parameterObject?.constructionYear}}</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <dt *ngIf="document?.objectForm?.code === 'building'"><span>Назначение</span></dt>
        <dd [ngSwitch]="!!document?.parameterObject?.use" *ngIf="document?.objectForm?.code === 'building'">
          <span *ngSwitchCase="true">{{document?.parameterObject?.use}}</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <dt *ngIf="document?.objectForm?.code === 'building'"><span>Этажность</span></dt>
        <dd [ngSwitch]="!!document?.parameterObject?.floor" *ngIf="document?.objectForm?.code === 'building'">
          <span *ngSwitchCase="true">{{document?.parameterObject?.floor}}</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <dt *ngIf="document?.objectForm?.code === 'building'"><span>Материал стен</span></dt>
        <dd [ngSwitch]="!!document?.parameterObject?.wallMaterial" *ngIf="document?.objectForm?.code === 'building'">
          <span *ngSwitchCase="true">{{document?.parameterObject?.wallMaterial}}</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <dt *ngIf="document?.objectForm?.code === 'building'"><span>Процент износа</span></dt>
        <dd [ngSwitch]="!!document?.parameterObject?.wearRate" *ngIf="document?.objectForm?.code === 'building'">
          <span *ngSwitchCase="true">{{document?.parameterObject?.wearRate}}</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <dt *ngIf="document?.objectForm?.code === 'building'"><span>Тип размещения</span></dt>
        <dd [ngSwitch]="!!document?.object?.typeObject?.name" *ngIf="document?.objectForm?.code === 'building'">
          <span *ngSwitchCase="true">{{document?.object?.typeObject?.name}}</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <dt *ngIf="document?.objectForm?.code === 'building'"><span>Вместимость (количество мест)</span></dt>
        <dd [ngSwitch]="!!document?.parameterObject?.capacity" *ngIf="document?.objectForm?.code === 'building'">
          <span *ngSwitchCase="true">{{document?.parameterObject?.capacity}}</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

      </dl>
    </div>

    <h4>Признаки {{document?.itemType?.code === 'event' ? 'мероприятия' : 'объекта'}}</h4>
    <div class="description">
      <dl class="dl-horizontal">

        <dt *ngIf="document?.itemType?.code === 'object'"><span>Период создания объекта</span></dt>
        <dd *ngIf="document?.itemType?.code === 'object'" [ngSwitch]="!!document?.object?.period?.name">
          <span *ngSwitchCase="true">{{document?.object?.period?.name}}</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <!--<dt><span>Включен{{document?.itemType?.code === 'event' ? 'о' : ''}} в программу "Мой район"</span></dt>
        <dd [ngSwitch]="document?.object?.programm?.inclusion">
          <span *ngSwitchCase="true">Включен</span>
          <span *ngSwitchCase="false">Не включен</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>-->

        <dt><span>{{document?.itemType?.code === 'event' ? 'Проблемное' : 'Проблемный объект'}}</span></dt>
        <dd [ngSwitch]="document?.problem">
          <span *ngSwitchCase="true">Да</span>
          <span *ngSwitchDefault class="not-specified">Нет</span>
        </dd>

        <dt *ngIf="document?.itemType?.code === 'object'"><span>Место притяжения</span></dt>
        <dd *ngIf="document?.itemType?.code === 'object'" [ngSwitch]="document?.attraction">
          <span *ngSwitchCase="true">Да</span>
          <span *ngSwitchDefault class="not-specified">Нет</span>
        </dd>

        <dt *ngIf="document?.itemType?.code === 'object'"><span>Объект культурного наследия</span></dt>
        <dd *ngIf="document?.itemType?.code === 'object'" [ngSwitch]="document?.okn">
          <span *ngSwitchCase="true">Да</span>
          <span *ngSwitchDefault class="not-specified">Нет</span>
        </dd>

        <dt *ngIf="document?.itemType?.code === 'object'"><span>Доминантный объект</span></dt>
        <dd *ngIf="document?.itemType?.code === 'object'" [ngSwitch]="document?.dominant?.dominantIs">
          <span *ngSwitchCase="true">Да</span>
          <span *ngSwitchDefault class="not-specified">Нет</span>
        </dd>

        <!--<dt *ngIf="document?.itemType?.code === 'object'"><span>К публикации на открытых информационных ресурсах</span></dt>
        <dd *ngIf="document?.itemType?.code === 'object'" [ngSwitch]="document?.public">
          <span *ngSwitchCase="true">Да</span>
          <span *ngSwitchDefault class="not-specified">Нет</span>
        </dd>-->

        <dt><span>Коммерческий объект</span></dt>
        <dd [ngSwitch]="document?.commercialObject">
          <span *ngSwitchCase="true">Да</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <dt><span>Рубрикатор УКК</span></dt>
        <dd [ngSwitch]="!!document?.rubricator?.length">
          <span *ngSwitchCase="true">
            <span *ngFor="let rb of document?.rubricator; let i = index"><br *ngIf="i">{{rb.name}}</span>
          </span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <dt><span>Риски публикации</span></dt>
        <dd [ngSwitch]="!!document?.risk">
          <span *ngSwitchCase="true">{{document?.risk}}</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <dt *ngIf="isMosRu"><span style="font-weight: bold">К публикации на mos.ru</span></dt>
        <dd *ngIf="isMosRu" [ngSwitch]="document?.mos?.public">
          <span *ngSwitchCase="true">Да</span>
          <span *ngSwitchDefault class="not-specified">Нет</span>
        </dd>

        <dt *ngIf="isMosRu"><span style="font-weight: bold">Риски публикации на mos.ru</span></dt>
        <dd *ngIf="isMosRu" [ngSwitch]="!!document?.mos?.risk">
          <span *ngSwitchCase="true">{{document?.risk}}</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

      </dl>
    </div>

    <h4>Дополнительные сведения</h4>
    <div class="description">
      <dl class="dl-horizontal" style="margin-bottom: 0">
        <dt><span>Дополнительные сведения</span></dt>
        <dd [ngSwitch]="!!document?.comment">
          <span *ngSwitchCase="true">{{document?.comment}}</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>
        <dt *ngIf="isMosRu"><span style="font-weight: bold">Дополнительные сведения (mos.ru)</span></dt>
        <dd *ngIf="isMosRu" [ngSwitch]="!!document?.mos?.comment">
          <span *ngSwitchCase="true">{{document?.mos?.comment}}</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>
        <dt *ngIf="isMosRu"><span style="font-weight: bold">Ссылки на новости по {{document?.itemType?.code === 'event' ? 'мероприятию' : 'объекту'}} (mos.ru)</span></dt>
        <dd *ngIf="isMosRu" [ngSwitch]="!!document?.mos?.news">
          <span *ngSwitchCase="true">{{document?.mos?.news}}</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>
      </dl>
      <dl class="dl-horizontal" *ngFor="let attr of document?.specific" style="margin-bottom: 0">
        <dt><span>{{attr.specificName}}</span></dt>
        <dd [ngSwitch]="!!attr.specificValue">
          <span *ngSwitchCase="true">{{attr.specificValue}}</span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>
      </dl>
    </div>
  </div>

  <!-- card right side -->
  <div class="col-lg-5 col-md-5 col-sm-12" style="padding-right: 0">

    <div *ngIf="geometry">
      <h4>Карта</h4>
      <div class="m-b-md">
        <div style="position: relative; height: 400px; overflow: hidden">
          <reinform-cdp-min-map [geometry]="geometry"></reinform-cdp-min-map>
        </div>
      </div>
    </div>

    <div *ngIf="panoParams">
      <h4>Панорама</h4>
      <div class="m-b">
        <div id="panorama" style="width: 100%; height: 300px; position: relative"></div>
      </div>
      <div class="m-b-md" style="text-align: right">
        <a uiSref="panoram" [uiParams]="panoParams" target="_blank">Перейти к общей панораме</a>
      </div>
    </div>

    <div *ngIf="!!files?.photobefore?.length">
      <h4>Фотографии до</h4>
      <div class="m-b-md">
        <carousel [interval]="0">
          <slide *ngFor="let f of files.photobefore">
            <img [src]="'/filestore/v1/files/' + f.idFile + '?systemCode=MR'" style="width: 100%" alt="">
          </slide>
        </carousel>
      </div>
    </div>

    <div *ngIf="!!files?.photoafter?.length">
      <h4>Фотографии после</h4>
      <div class="m-b-md">
        <carousel [interval]="0">
          <slide *ngFor="let f of files.photoafter">
            <img [src]="'/filestore/v1/files/' + f.idFile + '?systemCode=MR'" style="width: 100%" alt="">
          </slide>
        </carousel>
      </div>
    </div>

    <div *ngIf="isMosRu && !!files?.photomosru?.length">
      <h4>Фотография (mos.ru)</h4>
      <div class="m-b-md">
        <carousel [interval]="0">
          <slide *ngFor="let f of files.photomosru">
            <img [src]="'/filestore/v1/files/' + f.idFile + '?systemCode=MR'" style="width: 100%" alt="">
          </slide>
        </carousel>
      </div>
    </div>

    <div *ngIf="!!files?.presentation?.length">
      <h4>Презентации</h4>
      <div class="m-b-md">
        <cdp-ex-file-manager [(files)]="files.presentation"
                             [downloadable]="false"
                             [deletable]="false"
                             [openable]="true"
                             [showSize]="true"
                             [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
      </div>
    </div>

    <div *ngIf="!!files?.image?.length">
      <h4>3D объект</h4>
      <div class="m-b-md">
        <cdp-ex-file-manager [(files)]="files.image"
                             [downloadable]="false"
                             [deletable]="false"
                             [openable]="true"
                             [showSize]="true"
                             [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
      </div>
    </div>

    <div *ngIf="!!files?.addmaterial?.length">
      <h4>Дополнительные материалы</h4>
      <div class="m-b-md">
        <cdp-ex-file-manager [(files)]="files.addmaterial"
                             [downloadable]="false"
                             [deletable]="false"
                             [openable]="true"
                             [showSize]="true"
                             [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
      </div>
    </div>

    <div *ngIf="isMosRu && !!files?.addmaterialmos?.length">
      <h4>Дополнительные материалы (mos.ru)</h4>
      <div class="m-b-md">
        <cdp-ex-file-manager [(files)]="files.addmaterialmos"
                             [downloadable]="false"
                             [deletable]="false"
                             [openable]="true"
                             [showSize]="true"
                             [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
      </div>
    </div>

    <div *ngIf="!!files?.dominantImage?.length">
      <h4>Картинка доминантного объекта</h4>
      <div class="m-b-md">
        <cdp-ex-file-manager [(files)]="files.dominantImage"
                             [downloadable]="false"
                             [deletable]="false"
                             [openable]="true"
                             [showSize]="true"
                             [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
      </div>
    </div>

  </div>
</div>
