<h4>Информация</h4>
<div class="description">
  <dl class="dl-horizontal">
    <dt><span>Округ</span></dt>
    <dd [ngSwitch]="!!document?.address?.prefect?.length">
          <span *ngSwitchCase="true">
            <span *ngFor="let prefect of document?.address?.prefect; let i = index"><!--
            --><span *ngIf="i">, </span>{{prefect.name}}<!--
            --></span>
          </span>
      <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
    </dd>

    <dt><span>Район</span></dt>
    <dd [ngSwitch]="!!document?.address?.district?.length">
          <span *ngSwitchCase="true">
            <span *ngFor="let district of document?.address?.district; let i = index"><!--
            --><span *ngIf="i">, </span>{{district.name}}<!--
            --></span>
          </span>
      <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
    </dd>
    <dt *ngIf="!!document?.address?.addressId"><span>Адрес</span></dt>
    <dd *ngIf="!!document?.address?.addressId">{{programService.address}}</dd>
    <dt><span>Отрасль</span></dt>
    <dd [ngSwitch]="!!document?.object?.industry?.name">
      <span *ngSwitchCase="true">{{document?.object?.industry?.name}}</span>
      <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
    </dd>
    <dt *ngIf="document?.itemType?.code === 'object'"><span>Тип объекта</span></dt>
    <dd *ngIf="document?.itemType?.code === 'object'" [ngSwitch]="!!document?.objectForm?.name">
      <span *ngSwitchCase="true">{{document?.objectForm?.name}}</span>
      <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
    </dd>
    <dt><span>{{document?.itemType?.code === 'event' ? 'Вид мероприятия' : 'Вид объекта'}}</span></dt>
    <dd [ngSwitch]="!!document?.object?.kind?.name">
      <span *ngSwitchCase="true">{{document?.object?.kind?.name}}</span>
      <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
    </dd>
  </dl>
</div>
