/deep/ {
  .space-normal {
    .ng-select.ng-select-single {
      .ng-select-container {
        height: auto;
        min-height: 36px;
        .ng-value-container {
          white-space: normal;
          .ng-value {
            white-space: normal;
            padding-top: 5px;
            padding-bottom: 5px;
          }
        }
      }
    }
    .ng-dropdown-panel {
      .ng-dropdown-panel-items {
        .ng-option {
          white-space: normal;
        }
      }
    }
  }
  .popContaier {
    width: 400px;
    &.left, &.right {
      margin-top: 10px;
    }
  }
}
textarea {
  resize: vertical;
}
