<div class="description" *ngIf="!isLoading">
  <dl class="dl-horizontal">

    <dt><span>Заявка на изменение</span></dt>
    <dd [ngSwitch]="!!request?.documentNumber">
      <span *ngSwitchCase="true">
        <a *ngIf="cardLink" uiSref="app.change-request.card.main"
           [uiParams]="{id: request?.documentId}" target="_blank">
          № {{request?.documentNumber}}
          {{request?.documentDate ? ' от ' : ''}}
          {{request?.documentDate | date: 'dd.MM.yyyy'}}
        </a>
        <ng-container *ngIf="!cardLink">
          № {{request?.documentNumber}}
          {{request?.documentDate ? ' от ' : ''}}
          {{request?.documentDate | date: 'dd.MM.yyyy'}}
        </ng-container>
      </span>
      <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
    </dd>

    <dt><span>Автор заявки</span></dt>
    <dd [ngSwitch]="!!request?.creator?.fio">
      <span *ngSwitchCase="true">
        {{request?.creator?.fio}}
        <span *ngIf="request?.creator?.organization?.ldapOrgName" class="m-l-xs">
          ({{request?.creator?.organization?.ldapOrgName}})
        </span>
      </span>
      <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
    </dd>

    <dt><span>Изменяемый документ</span></dt>
    <dd [ngSwitch]="!!request?.document?.jsonOld">
      <span *ngSwitchCase="true">
        <a *ngIf="request?.modifiedTab === 'OBJ'" target="_blank" uiSref="app.object.card.main"
           [uiParams]="{id: obj?.documentId, mode: 'view'}">{{getOldInfo()}}</a>
        <a *ngIf="request?.modifiedTab === 'WORK'" target="_blank" uiSref="app.object.card.works"
           [uiParams]="{id: obj?.documentId, mode: 'view', workId: work?.documentId}">Работа на объекте {{getOldInfo()}}</a>
      </span>
      <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
    </dd>

    <ng-container *ngIf="request?.modifiedTab === 'WORK'">
      <dt><span>Вид работы на объекте</span></dt>
      <dd [ngSwitch]="!!request?.work?.type?.name">
        <span *ngSwitchCase="true">{{request?.work?.type?.name}}</span>
        <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
      </dd>
    </ng-container>

    <ng-container *ngIf="request?.modifiedTab === 'WORK'">
      <dt><span>Плановый срок начала работ</span></dt>
      <dd [ngSwitch]="!!work?.execution?.start">
        <span *ngSwitchCase="true">{{work?.execution?.start}}</span>
        <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
      </dd>
    </ng-container>

    <ng-container *ngIf="request?.modifiedTab === 'WORK'">
      <dt><span>Плановый срок окончания работ</span></dt>
      <dd [ngSwitch]="!!work?.execution?.finish">
        <span *ngSwitchCase="true">{{work?.execution?.finish}}</span>
        <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
      </dd>
    </ng-container>

  </dl>
</div>

<cdp-spinner *ngIf="isLoading" [type]="'three-bounce'"></cdp-spinner>
