<div class="inmodal">
  <div class="modal-header">
    <h3 class="modal-title">Какие данные необходимо изменить?</h3>
  </div>
  <div class=" clearfix modal-body">
    <form class="form-horizontal m-t-md">

      <div class="form-group">
        <!--<label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>-->
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div *ngFor="let item of dicts.amipm; let i = index" class="m-t-xs">
            <label>
              <ng-template #popTmpl>
                <div>
                  <ul style="padding-left: 15px">
                    <li *ngFor="let f of item.fields">{{f.name}}</li>
                  </ul>
                </div>
              </ng-template>

              <input cdp-icheck *ngIf="item.fields?.length" type="radio"
                     [(ngModel)]="selected.value" [value]="item.code" name="selectedValue" />

              <input cdp-icheck *ngIf="!item.fields?.length" type="radio" disabled
                     [(ngModel)]="selected.value" [value]="item.code" name="selectedValue" />

              <span class="m-l-sm font-normal">
                {{item.name}}
                <span class="m-l-sm">
                  <i class="fa fa-question-circle cursor-pointer"
                   *ngIf="item.fields?.length"
                   style="font-size: 22px; vertical-align: middle"
                   [popover]="popTmpl"
                   placement="bottom"
                   triggers="mouseenter:mouseleave"
                   containerClass="popContaier"></i>
                  <i class="fas fa-exclamation-circle cursor-pointer"
                   *ngIf="!item.fields?.length"
                   style="font-size: 22px; vertical-align: middle"
                   popover="Нет полей для корректировки"
                   placement="bottom"
                   triggers="mouseenter:mouseleave"></i>
                </span>
              </span>
            </label>
          </div>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer text-center">
    <button type="button" class="btn btn-primary m-r-sm" [disabled]="!isOK()" (click)="save()">ОК</button>
    <button type="button" class="btn btn-white" (click)="cancel()">Отмена</button>
  </div>
</div>
