<div class="clearfix">
  <!-- card left side -->
  <div class="col-lg-7 col-md-7 col-sm-12" style="padding-left: 0">

    <h4>Общие сведения</h4>

    <div class="description">
      <dl class="dl-horizontal">

        <dt><span>Наименование мастер-плана</span></dt>
        <dd [ngSwitch]="!!document?.planName">
          <span *ngSwitchCase="true">
            {{document?.planName}}
          </span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <dt><span>Округ</span></dt>
        <dd [ngSwitch]="!!document?.prefect?.name">
          <span *ngSwitchCase="true">
            {{document?.prefect?.name}}
          </span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <dt><span>Год выполнения мастер-плана</span></dt>
        <dd [ngSwitch]="!!document?.planYear">
          <span *ngSwitchCase="true">
            {{document?.planYear}}
          </span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <dt><span>Дата утверждения</span></dt>
        <dd [ngSwitch]="!!document?.planApproveDate">
          <span *ngSwitchCase="true">
            {{document?.planApproveDate | date: 'dd.MM.yyyy'}}
          </span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <dt><span>Номер мастер-плана</span></dt>
        <dd [ngSwitch]="!!document?.planNumber">
          <span *ngSwitchCase="true">
            {{document?.planNumber}}
          </span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

        <dt><span>Версия мастер-плана</span></dt>
        <dd [ngSwitch]="!!document?.planVersion">
          <span *ngSwitchCase="true">
            {{document?.planVersion}}
          </span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

      </dl>
    </div>

    <h4>Дополнительные сведения</h4>

    <div class="description">
      <dl class="dl-horizontal">

        <dt><span>Дополнительные сведения</span></dt>
        <dd [ngSwitch]="!!document?.comment">
          <span *ngSwitchCase="true">
            {{document?.comment}}
          </span>
          <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
        </dd>

      </dl>
    </div>

    <div *ngIf="document?.files?.length">
      <h4>Материалы к мастер-плану</h4>
      <div class="description">
        <cdp-ex-file-manager *ngIf="files?.length"
                             [(files)]="files"
                             [downloadable]="false"
                             [deletable]="false"
                             [openable]="true"
                             [showSize]="true"
                             [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
        <div style="display: inline-block" *ngIf="!files?.length">
          <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
        </div>
      </div>
    </div>

  </div>
</div>
