<cdp-spinner *ngIf="isLoading" [type]="'three-bounce'"></cdp-spinner>
<div *ngIf="!isLoading">
  <div class="clearfix">
    <div class="pull-right">

      <approve-plan-btn *ngIf="modeParam === 'view'"
                        [document]="document"
                        [mode]="modeParam"
                        [className]="'btn-primary m-r-sm'"
                        (onStop)="approveStop()"></approve-plan-btn>

      <object-edit-btn [document]="document"
                       [mode]="modeParam"
                       *ngIf="isShowEditBtn()"></object-edit-btn>

    </div>
    <div class="pull-left">
      <h3>Общая информация</h3>
    </div>
  </div>
  <card-plan-main-view *ngIf="modeParam === 'view'" [files]="files"></card-plan-main-view>
  <card-plan-main-edit *ngIf="modeParam === 'edit'" [files]="files"></card-plan-main-edit>
</div>
