<div class="form-group" *ngIf="model?.itemType?.code === 'object'">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Период создания объекта
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9">
    <ng-select [items]="dictionaries.mr_program_ConstructionPeriods"
               [multiple]="false"
               [closeOnSelect]="true"
               [hideSelected]="true"
               bindLabel="name"
               placeholder="Период создания объекта"
               [disabled]="isMosRu"
               [(ngModel)]="model.object.period" name="period">
    </ng-select>
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    {{model?.itemType?.code === 'event' ? 'Проблемное' : 'Проблемный объект'}}
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9 m-t-xs">
    <input *ngIf="isMosRu" cdp-icheck type="checkbox" disabled [value]="true" [(ngModel)]="model.problem" name="objectProblem" />
    <input *ngIf="!isMosRu" cdp-icheck type="checkbox" [value]="true" [(ngModel)]="model.problem" name="objectProblem" />
  </div>
</div>

<div class="form-group" *ngIf="model?.itemType?.code === 'object'">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Место притяжения
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9 m-t-xs">
    <input *ngIf="isMosRu" cdp-icheck type="checkbox" disabled [value]="true" [(ngModel)]="model.attraction" name="objectAttraction" />
    <input *ngIf="!isMosRu" cdp-icheck type="checkbox" [value]="true" [(ngModel)]="model.attraction" name="objectAttraction" />
  </div>
</div>

<div class="form-group" *ngIf="model?.itemType?.code === 'object'">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Объект культурного наследия
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9 m-t-xs">
    <input *ngIf="isMosRu" cdp-icheck type="checkbox" disabled [value]="true" [(ngModel)]="model.okn" name="objectOkn" />
    <input *ngIf="!isMosRu" cdp-icheck type="checkbox"
           [value]="true" [(ngModel)]="model.okn" name="objectOkn" (ngModelChange)="updateAttrs()" />
  </div>
</div>

<div class="form-group" *ngIf="model?.itemType?.code === 'object'">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Доминантный объект
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9 m-t-xs">
    <input *ngIf="isMosRu" cdp-icheck type="checkbox" disabled [value]="true" [(ngModel)]="model.dominant.dominantIs" name="dominantIs" />
    <input *ngIf="!isMosRu" cdp-icheck type="checkbox" [value]="true" [(ngModel)]="model.dominant.dominantIs" name="dominantIs" />
  </div>
</div>


<div *ngIf="model?.dominant?.dominantIs">
  <div class="form-group">
    <label class="col-lg-3 col-md-3 col-sm-3 control-label">
      Картинка доминантного объекта
    </label>
    <div class="col-lg-9 col-md-9 col-sm-9" *ngIf="model.folderId">
      <cdp-ex-file-manager [(files)]="files.dominantImage"
                           [fileType]="'dominantImage'"
                           [folderGuid]="model?.folderId"
                           [extPattern]="'png, svg'"
                           [downloadable]="!isMosRu"
                           [deletable]="!isMosRu"
                           [openable]="true"
                           [showSize]="true"
                           [onRemove]="onRemoveFile"
                           [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
      <div *ngIf="isMosRu && !files?.dominantImage?.length" class="m-t-xs">Файлы отсутствуют</div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9" *ngIf="!model.folderId">
      <div class="ex-dropzone-outer" style="cursor: pointer;" (click)="uploadFileAlert()">
        <div class="ex-dropzone">
          <i class="fa fa-download"></i> Загрузить файл<br>
          <span style="font-size: 12px;" class="ng-binding">Допустимые расширения: png, svg</span>
        </div>
      </div>
    </div>
  </div>

  <h4>Геокоординаты центра картинки доминантного объекта</h4>

  <div class="form-group">
    <label class="col-lg-3 col-md-3 col-sm-3 control-label">EPSG</label>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <input type="text" class="form-control" name="location3D_epsg" [(ngModel)]="model.dominant.locationDominant.EPSG">
    </div>
    <label class="col-lg-1 col-md-1 col-sm-1 control-label">Широта</label>
    <div class="col-lg-2 col-md-2 col-sm-2">
      <input type="text" class="form-control" name="location3D_y"
             [(ngModel)]="model.dominant.locationDominant.y"
             [textMask]="{mask: helper.maskDecimal.bind(this), pipe: degPipeY.bind(this)}">
    </div>
    <label class="col-lg-1 col-md-1 col-sm-1 control-label">Долгота</label>
    <div class="col-lg-2 col-md-2 col-sm-2">
      <input type="text" class="form-control" name="location3D_x"
             [(ngModel)]="model.dominant.locationDominant.x"
             [textMask]="{mask: helper.maskDecimal.bind(this), pipe: degPipeX.bind(this)}">
    </div>
  </div>

</div>

<div class="form-group" *ngIf="isObjectCardPublic">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    К публикации на открытых информационных ресурсах
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9 m-t-xs">
    <input *ngIf="isMosRu" cdp-icheck type="checkbox" disabled [value]="true" [(ngModel)]="model['public']" name="objectPublic" />
    <input *ngIf="!isMosRu" cdp-icheck type="checkbox" [value]="true" [(ngModel)]="model['public']" name="objectPublic" />
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Коммерческий объект
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9 m-t-xs">
    <input *ngIf="isMosRu" cdp-icheck type="checkbox" disabled [value]="true" [(ngModel)]="model.commercialObject" name="commercialObject" />
    <input *ngIf="!isMosRu" cdp-icheck type="checkbox"
           [value]="true" [(ngModel)]="model.commercialObject" name="commercialObject" />
  </div>
</div>

<div class="form-group" *ngIf="model?.itemType?.code === 'object'">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label" [ngClass]="{'has-error': validate && !model.object.period}">
    Рубрикатор УКК
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9">
    <ng-select [items]="dictionaries.rubricator"
               [multiple]="true"
               [closeOnSelect]="true"
               [hideSelected]="false"
               bindLabel="name"
               placeholder="Рубрикатор УКК"
               [disabled]="!isMosRu"
               [(ngModel)]="model.rubricator" name="rubricator">
      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
        <div class="m-l-{{['none', 'md', 'lg'][item.level]}}">
          {{item.name}}
        </div>
      </ng-template>
      <ng-template ng-label-tmp let-item="item">
        <span aria-hidden="true" class="ng-value-icon left">×</span>
        <span class="ng-value-label">{{item.fullName || item.name}}</span>
      </ng-template>
    </ng-select>
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Риски публикации
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9">
    <textarea class="form-control"
              name="objectRisk"
              [(ngModel)]="model.risk"
              [disabled]="isMosRu"></textarea>
  </div>
</div>

<div class="form-group" *ngIf="isMosRu">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    К публикации на mos.ru
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9 m-t-xs">
    <input cdp-icheck type="checkbox" [value]="true" [(ngModel)]="model.mos['public']" name="objectMosPublic" />
  </div>
</div>

<div class="form-group" *ngIf="isMosRu">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Риски публикации на mos.ru
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9">
    <textarea class="form-control" name="objectMosRisk" [(ngModel)]="model.mos.risk"></textarea>
  </div>
</div>
