<div *ngFor="let finance of model; let fIndex = index">
  <hr *ngIf="fIndex">
  <div class="form-group">
    <label class="col-lg-3 col-md-3 col-sm-3 control-label">Источник финансирования</label>
    <div class="col-lg-9 col-md-9 col-sm-9">
      <ng-select [items]="dictionaries.supportTypes"
                 [multiple]="false"
                 [closeOnSelect]="true"
                 [hideSelected]="true"
                 bindLabel="name"
                 placeholder="Источник финансирования"
                 [disabled]="isMosRu"
                 [(ngModel)]="finance.source" name="financeSource">
      </ng-select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-3 col-md-3 col-sm-3 control-label">Объем финансирования, тыс. руб.
    </label>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <input type="text" class="form-control"
             [(ngModel)]="finance.general"
             [textMask]="{mask: helper.maskMoney.bind(this)}"
             [disabled]="isMosRu"
             name="financeGeneral">
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-3 col-md-3 col-sm-3 control-label">Профинансировано, тыс. руб.</label>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <input type="text" class="form-control"
             [(ngModel)]="finance.financed"
             [disabled]="isMosRu"
             [textMask]="{mask: helper.maskMoney.bind(this)}">
    </div>
  </div>

  <program-form-work-type-finance-by-year [model]="finance.byYear"
                                          [dictionaries]="dictionaries"
                                          [validate]="validate"
                                          [years]="years"></program-form-work-type-finance-by-year>

  <div class="form-group" *ngIf="model.length > 1 && !isMosRu">
    <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <button type="button" class="btn btn-link no-padding" (click)="removeFinance(fIndex)">
        <i class="fa fa-times-circle m-r-xs" style="color: #de8652; font-size: 26px; vertical-align: middle;"></i> Удалить источник финансирования
      </button>
    </div>
  </div>
</div>

<div class="form-group" *ngIf="!isMosRu">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
  <div class="col-lg-3 col-md-3 col-sm-3">
    <button type="button" class="btn btn-link no-padding" (click)="addFinance()">
      <i class="fa fa-plus-circle m-r-xs" style="color: #de8652; font-size: 26px; vertical-align: middle;"></i> Добавить источник финансирования
    </button>
  </div>
</div>


