<div class="clearfix" *ngIf="!isLoaded()" style="padding-top: 130px;"></div>
<cdp-loading-block [loadingStatus]="loadingStatus" [spinnerType]="'three-bounce'">
  <div success *ngIf="model">
    <form class="form-horizontal m-t-md" *ngIf="isLoaded()">

      <h4 class="m-b-md">Общие сведения о работе</h4>
      <div>
        <div class="form-group" *ngIf="itemCode === 'object'">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label" [ngClass]="{'has-error': validate && !model.type}">
            Вид работ<span class="our-mandatory">*</span>
          </label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <ng-select [items]="dictionaries.workTypes"
                       [multiple]="false"
                       [closeOnSelect]="true"
                       [hideSelected]="true"
                       bindLabel="name"
                       placeholder="Вид работ"
                       dropdownPosition="bottom"
                       (change)="updateAttributesAvailable()"
                       [disabled]="isMosRu"
                       [(ngModel)]="model.type" name="type">
            </ng-select>
          </div>
        </div><!--/form-group-->

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">
            Состав работы
          </label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <textarea class="form-control"
                      [(ngModel)]="model.name"
                      name="name"
                      [disabled]="isMosRu"></textarea>
          </div>
        </div><!--/form-group-->

        <div class="form-group" *ngIf="isMosRu">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">
            Состав работы (mos.ru)
          </label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <textarea class="form-control" [(ngModel)]="model.mos.name" name="nameMos"></textarea>
          </div>
        </div><!--/form-group-->

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Адрес</label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <ng-select [items]="dictionaries.addressList"
                       [multiple]="false"
                       [closeOnSelect]="true"
                       [hideSelected]="true"
                       bindValue="code"
                       bindLabel="name"
                       [searchFn]="addressSearchFn"
                       (keyup)="addressKeyUp.next($event)"
                       placeholder="Введите 3 символа для начала поиска"
                       [loading]="isAddressLoading"
                       [disabled]="isMosRu"
                       (change)="onChangeAddress()"
                       [(ngModel)]="model.addressId" name="addressId">
            </ng-select>
          </div>
        </div><!--/form-group-->

        <div class="form-group" *ngIf="!model.addressId">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Адресный ориентир</label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <textarea class="form-control" [(ngModel)]="model.address" name="address"
                      [disabled]="isMosRu"></textarea>
          </div>
        </div><!--/form-group-->

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label" [ngClass]="{'has-error': validate && !model.organization && !isMosRu}">
            Ответственный исполнитель<span class="our-mandatory" *ngIf="!isMosRu">*</span>
          </label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <ng-select [items]="dictionaries.responsibleOrganizations"
                       [multiple]="false"
                       [closeOnSelect]="true"
                       [hideSelected]="true"
                       bindLabel="name"
                       placeholder="Ответственный исполнитель"
                       dropdownPosition="bottom"
                       [disabled]="isMosRu"
                       [(ngModel)]="model.organization" name="organization">
            </ng-select>
          </div>
        </div><!--/form-group-->

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label" [ngClass]="{'has-error': validate && !model.execution?.start && !isMosRu}">
            Плановый срок начала работ<span class="our-mandatory" *ngIf="!isMosRu">*</span>
          </label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <ng-select [items]="dictionaries.years"
                       [multiple]="false"
                       [closeOnSelect]="true"
                       [hideSelected]="true"
                       bindValue="code"
                       bindLabel="name"
                       [(ngModel)]="model.execution.start"
                       name="executionStart"
                       [disabled]="isMosRu"
                       (change)="updateStartYears('start'); updateFinishYears('start')">
            </ng-select>
          </div>
        </div><!--/form-group-->

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label" [ngClass]="{'has-error': validate && !model.execution?.finish && !isMosRu}">
            Плановый срок окончания работ<span class="our-mandatory" *ngIf="!isMosRu">*</span>
          </label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <ng-select [items]="finishYears.execution"
                       [multiple]="false"
                       [closeOnSelect]="true"
                       [hideSelected]="true"
                       bindValue="code"
                       bindLabel="name"
                       [(ngModel)]="model.execution.finish"
                       name="executionFinish"
                       [disabled]="isMosRu"
                       (change)="updateStartYears('finish'); updateFinishYears('finish')">
            </ng-select>
          </div>
        </div>

        <div *ngIf="itemCode === 'object'">
          <div class="form-group" *ngIf="model.type?.code === 'building' || model.type?.code === 'reconstruction'">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">Период проектирования</label>
            <div class="col-lg-2 col-md-2 col-sm-2">
              <ng-select [items]="startYears.psd"
                         [multiple]="false"
                         [closeOnSelect]="true"
                         [hideSelected]="true"
                         bindValue="code"
                         bindLabel="name"
                         [(ngModel)]="model.psd.start"
                         name="psdStart"
                         (change)="updateFinishYears('start')"
                         [disabled]="isMosRu">
              </ng-select>
            </div>
            <label class="col-lg-1 col-md-1 col-sm-1 control-label" style="text-align: center; width: 10px; padding-left: 0; padding-right: 0;">&ndash;</label>
            <div class="col-lg-2 col-md-2 col-sm-2">
              <ng-select [items]="finishYears.psd"
                         [multiple]="false"
                         [closeOnSelect]="true"
                         [hideSelected]="true"
                         bindValue="code"
                         bindLabel="name"
                         [(ngModel)]="model.psd.finish"
                         name="psdFinish"
                         [disabled]="isMosRu"
                         (change)="updateStartYearList('psd', 'finish')">
              </ng-select>
            </div>
          </div><!--/form-group-->

          <div class="form-group" *ngIf="model.type?.code === 'building' || model.type?.code === 'reconstruction'">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">Период выполнения работ</label>
            <div class="col-lg-2 col-md-2 col-sm-2">
              <ng-select [items]="startYears.smr"
                         [multiple]="false"
                         [closeOnSelect]="true"
                         [hideSelected]="true"
                         bindValue="code"
                         bindLabel="name"
                         [(ngModel)]="model.smr.start"
                         name="smrStart"
                         (change)="updateFinishYears('start')"
                         [disabled]="isMosRu">
              </ng-select>
            </div>
            <label class="col-lg-1 col-md-1 col-sm-1 control-label" style="text-align: center; width: 10px; padding-left: 0; padding-right: 0;">&ndash;</label>
            <div class="col-lg-2 col-md-2 col-sm-2">
              <ng-select [items]="finishYears.smr"
                         [multiple]="false"
                         [closeOnSelect]="true"
                         [hideSelected]="true"
                         bindValue="code"
                         bindLabel="name"
                         [(ngModel)]="model.smr.finish"
                         name="smrFinish"
                         [disabled]="isMosRu"
                         (change)="updateStartYearList('smr', 'finish')">
              </ng-select>
            </div>
          </div><!--/form-group-->
        </div>

        <div class="form-group" *ngIf="isMosRu">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Плановые сроки работ (mos.ru)</label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <textarea class="form-control" [(ngModel)]="model.mos.execution" name="mosExecution"></textarea>
          </div>
        </div><!--/form-group-->

        <!--<div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Координаты</label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <textarea class="form-control" [(ngModel)]="model.coordinate" name="coordinate"></textarea>
          </div>
        </div>-->

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label" [ngClass]="{'has-error': validate && !model.status && !isMosRu}">
            Текущая стадия работ<span class="our-mandatory" *ngIf="!isMosRu">*</span>
          </label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <ng-select [items]="dictionaries.workStatuses"
                       [multiple]="false"
                       [closeOnSelect]="true"
                       [hideSelected]="true"
                       bindLabel="name"
                       placeholder="Текущая стадия работ"
                       dropdownPosition="bottom"
                       [disabled]="isMosRu"
                       (change)="onChangeStatus()"
                       [(ngModel)]="model.status" name="status">
            </ng-select>
          </div>
        </div><!--/form-group-->

        <h4 class="m-b-md">Информация о ходе работ</h4>

        <div class="external-fields"><!-- Дополнительные поля -->

          <div class="form-group" *ngIf="isShowField('bargainNumberEaist')">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">Реестровый номер торгов ЕАИСТ</label>
            <div class="col-lg-9 col-md-9 col-sm-9">
              <input type="text" class="form-control" name="progressBargainNumberEaist"
                     [(ngModel)]="progress.bargainNumberEaist" />
            </div>
          </div><!--/form-group-->

          <div class="form-group" *ngIf="isShowField('registryNumberEaist')">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">Реестровый номер контракта ЕАИСТ</label>
            <div class="col-lg-9 col-md-9 col-sm-9">
              <input type="text" class="form-control" name="progressRegistryNumberEaist"
                     [(ngModel)]="progress.registryNumberEaist" />
            </div>
          </div><!--/form-group-->

          <div class="form-group" *ngIf="isShowField('itemNumber')">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">Номер лота</label>
            <div class="col-lg-9 col-md-9 col-sm-9">
              <input type="text" class="form-control"
                     [(ngModel)]="progress.itemNumber" name="progressItemNumber" />
            </div>
          </div><!--/form-group-->

          <div class="form-group" *ngIf="isShowField('executionFactStart')">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">Фактический срок начала работ</label>
            <div class="col-lg-9 col-md-9 col-sm-9">
              <cdp-date-selector [(model)]="progress.executionFactStart"></cdp-date-selector>
            </div>
          </div><!--/form-group-->

          <div class="form-group" *ngIf="isShowField('executionFactFinish')"
               [ngClass]="{'has-error': validate && !progress?.executionFactFinish && !isMosRu}">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Фактический срок окончания работ<span class="our-mandatory" *ngIf="!isMosRu">*</span>
            </label>
            <div class="col-lg-9 col-md-9 col-sm-9">
              <cdp-date-selector [(model)]="progress.executionFactFinish"></cdp-date-selector>
            </div>
          </div><!--/form-group-->

          <div class="form-group" *ngIf="isShowField('cancelReason')"
               [ngClass]="{'has-error': validate && !progress?.cancelReason && !isMosRu}">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">
              Причина отмены работ<span class="our-mandatory" *ngIf="!isMosRu">*</span>
            </label>
            <div class="col-lg-9 col-md-9 col-sm-9">
              <ng-select [items]="dictionaries.cancelReasons"
                         [multiple]="false"
                         [closeOnSelect]="true"
                         [hideSelected]="true"
                         bindLabel="name"
                         placeholder="Причина отмены работ"
                         dropdownPosition="bottom"
                         [(ngModel)]="progress.cancelReason" name="cancelReason">
              </ng-select>
            </div>
          </div><!--/form-group-->

          <div class="form-group" *ngIf="isShowField('comment')">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">Комментарий</label>
            <div class="col-lg-9 col-md-9 col-sm-9">
              <textarea [(ngModel)]="progress.comment" class="form-control" name="progressComment"></textarea>
            </div>
          </div><!--/form-group-->

          <h4 *ngIf="isShowField('captionWorkDocs')">Документы, подтверждающие выполнение работ</h4>
          <h4 *ngIf="isShowField('captionWorkCancelDocs')">Документы, подтверждающие отмену работ</h4>
          <div *ngIf="isShowField('workDocs') || isShowField('workCancelDocs')">
            <div *ngFor="let doc of progress.documentsExecution; let i = index">

              <hr *ngIf="i" />

              <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Тип документа</label>
                <div class="col-lg-9 col-md-9 col-sm-9">
                  <ng-select [items]="getWorkDocTypes()"
                             [multiple]="false"
                             [closeOnSelect]="true"
                             [hideSelected]="true"
                             bindLabel="name"
                             placeholder="Тип документа"
                             dropdownPosition="bottom"
                             [ngModelOptions]="{standalone: true}"
                             [(ngModel)]="doc.type">
                  </ng-select>
                </div>
              </div><!--/form-group-->

              <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Дата</label>
                <div class="col-lg-9 col-md-9 col-sm-9">
                  <cdp-date-selector [(model)]="doc.date"></cdp-date-selector>
                </div>
              </div><!--/form-group-->

              <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Номер</label>
                <div class="col-lg-9 col-md-9 col-sm-9">
                  <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                         [(ngModel)]="doc['number']" />
                </div>
              </div><!--/form-group-->

              <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Загрузить файл</label>
                <div class="col-lg-9 col-md-9 col-sm-9">
                  <cdp-ex-file-manager [(files)]="progressFiles[i]"
                                       [fileType]="'default'"
                                       [folderGuid]="model.folderId"
                                       [extPattern]="'pdf, doc, docx, rtf, txt, xls, xlsx, ppt, pptx, jpg, jpeg, tif, png, mov, mp4'"
                                       [downloadable]="!isMosRu"
                                       [deletable]="!isMosRu"
                                       [openable]="true"
                                       [showSize]="true"
                                       [onRemove]="onRemoveFile"
                                       (onChanged)="filesOnChange()"
                                       [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
                </div>
              </div><!--/form-group-->

              <div class="form-group" *ngIf="isShowField('status')">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Статус документа</label>
                <div class="col-lg-9 col-md-9 col-sm-9">
                  <ng-select [items]="dictionaries.workDocStatuses"
                             [multiple]="false"
                             [closeOnSelect]="true"
                             [hideSelected]="true"
                             bindLabel="name"
                             placeholder="Статус документа"
                             dropdownPosition="bottom"
                             [ngModelOptions]="{standalone: true}"
                             [(ngModel)]="doc.status">
                  </ng-select>
                </div>
              </div><!--/form-group-->

              <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
                <div class="col-lg-9 col-md-9 col-sm-9">
                  <button type="button" class="btn btn-link m-t-xs no-padding" (click)="removeProgressExDoc(i)">
                    <i class="fa fa-times-circle m-r-xs" style="color: #de8652; font-size: 26px; vertical-align: middle;"></i> Удалить документ
                  </button>
                </div>
              </div>

            </div><!--/ngFor progress.documentsExecution -->

            <div class="form-group">
              <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
              <div class="col-lg-9 col-md-9 col-sm-9">
                <button type="button" class="btn btn-link no-padding" (click)="addProgressExDoc()">
                  <i class="fa fa-plus-circle m-r-xs" style="color: #de8652; font-size: 26px; vertical-align: middle;"></i> Добавить документ
                </button>
              </div>
            </div>

          </div>

          <div class="form-group" *ngIf="isShowField('progressReason')">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">Причина изменения текущей стадии</label>
            <div class="col-lg-9 col-md-9 col-sm-9">
              <textarea [(ngModel)]="progress.reason" class="form-control" name="progressReason"></textarea>
            </div>
          </div><!--/form-group-->

        </div><!--/external-fields-->

      </div>

      <div class="form-group" *ngIf="isMosRu">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">Текущая стадия работ (mos.ru)</label>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <textarea class="form-control" [(ngModel)]="model.mos.status" name="mosStatus"></textarea>
        </div>
      </div><!--/form-group-->

      <h4 class="m-b-md">Признаки работы</h4>
      <div>

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">К публикации на открытых информационных ресурсах</label>
          <div class="col-lg-9 col-md-9 col-sm-9 m-t-xs">
            <input *ngIf="isMosRu" cdp-icheck type="checkbox" disabled
                   [value]="true" [(ngModel)]="model['public']" name="workPublic" />
            <input *ngIf="!isMosRu" cdp-icheck type="checkbox"
                   [value]="true" [(ngModel)]="model['public']" name="workPublic" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Риски публикации</label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <textarea [(ngModel)]="model.risk"
                      class="form-control"
                      name="workRisk"
                      [disabled]="isMosRu"></textarea>
          </div>
        </div><!--/form-group-->

        <div class="form-group" *ngIf="isMosRu">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">К публикации на mos.ru</label>
          <div class="col-lg-9 col-md-9 col-sm-9 m-t-xs">
            <input cdp-icheck type="checkbox" [value]="true" [(ngModel)]="model.mos['public']" name="workMosPublic" />
          </div>
        </div><!--/form-group-->

        <div class="form-group" *ngIf="isMosRu">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Риски публикации на mos.ru</label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <textarea [(ngModel)]="model.mos.risk" class="form-control" name="workMosRisk"></textarea>
          </div>
        </div><!--/form-group-->

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label" [ngClass]="{'has-error': validate && !model.approveAg}">
            Согласование на АГ<span class="our-mandatory" *ngIf="!isMosRu">*</span>
          </label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <ng-select [items]="dictionaries.approveAgStatus"
                       [multiple]="false"
                       [closeOnSelect]="true"
                       [hideSelected]="true"
                       bindLabel="name"
                       placeholder="Согласование на АГ"
                       dropdownPosition="bottom"
                       [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="model.approveAg">
            </ng-select>
          </div>
        </div><!--/form-group-->

        <div class="form-group" *ngIf="isShowField('approveMunicipalDep')">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label" [ngClass]="{'has-error': validate && !model.approveMunicipalDep}">
            Согласование с муниципальными депутатами<span class="our-mandatory" *ngIf="!isMosRu">*</span>
          </label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <ng-select [items]="dictionaries.approveMunicipalStatus"
                       [multiple]="false"
                       [closeOnSelect]="true"
                       [hideSelected]="true"
                       bindLabel="name"
                       placeholder="Согласование с муниципальными депутатами"
                       dropdownPosition="bottom"
                       [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="model.approveMunicipalDep">
            </ng-select>
          </div>
        </div><!--/form-group-->

      </div>

      <h4 class="m-b-md">Дополнительные сведения</h4>
      <div>

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Дополнительные сведения</label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <textarea [(ngModel)]="model.comment"
                      class="form-control"
                      name="workComment"
                      [disabled]="isMosRu"></textarea>
          </div>
        </div><!--/form-group-->

        <div class="form-group" *ngIf="isMosRu">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Дополнительные сведения (mos.ru)</label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <textarea [(ngModel)]="model.mos.comment" class="form-control" name="workMosComment"></textarea>
          </div>
        </div><!--/form-group-->

        <div class="form-group">
          <div *ngFor="let attr of attrList; let i = index" class="clearfix" [ngClass]="{'m-t-sm': i}">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <ng-select [items]="attributesAvailable"
                         [multiple]="false"
                         [closeOnSelect]="true"
                         [hideSelected]="true"
                         bindLabel="name"
                         placeholder="Наименование атрибута"
                         (change)="onChangeAttributeName(attr, i)"
                         dropdownPosition="bottom"
                         [ngModelOptions]="{standalone: true}"
                         [disabled]="isMosRu"
                         [(ngModel)]="attr.dictionary">
              </ng-select>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
              <ng-select *ngIf="attr.possibleValues.length"
                         [items]="attr.possibleValues"
                         [multiple]="false"
                         [closeOnSelect]="true"
                         [hideSelected]="true"
                         bindValue="code"
                         bindLabel="name"
                         placeholder="Значение атрибута"
                         (change)="onChangeAttributeValue(attr, i)"
                         dropdownPosition="bottom"
                         [ngModelOptions]="{standalone: true}"
                         [disabled]="isMosRu"
                         [(ngModel)]="attr.value">

              </ng-select>
              <input type="text" class="form-control"
                     *ngIf="!attr.possibleValues.length"
                     [(ngModel)]="attr.value"
                     (change)="onChangeAttributeValue(attr, i)"
                     [disabled]="isMosRu"
                     [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div><!--/form-group-->

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <button type="button"
                    class="btn btn-primary"
                    (click)="addAttribute()"
                    [disabled]="isMosRu">Добавить атрибут</button>
          </div>
        </div><!--/form-group-->

      </div>

      <h4 class="m-b-md">Сведения о финансировании</h4>
      <div>
        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Финансовое обеспечение</label>
          <div class="col-lg-9 col-md-9 col-sm-9 m-t-xs">
            <div *ngFor="let budget of dictionaries.budgetList">
              <label class="m-r-md" *ngIf="isMosRu" style="font-weight: normal">
                <input cdp-icheck type="radio" disabled [(ngModel)]="model.budget" [value]="budget.code" name="budget" />
                {{budget.name}}
              </label>
              <label class="m-r-md" *ngIf="!isMosRu">
                <input cdp-icheck type="radio" [(ngModel)]="model.budget" [value]="budget.code" name="budget" />
                {{budget.name}}
              </label>
            </div>
          </div>
        </div><!--/form-group-->

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Государственная программа</label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <ng-select [items]="dictionaries.statePrograms"
                       [multiple]="false"
                       [closeOnSelect]="true"
                       [hideSelected]="true"
                       bindLabel="name"
                       placeholder="Государственная программа"
                       [disabled]="isMosRu"
                       [(ngModel)]="model.stateProgram" name="stateProgram">
            </ng-select>
          </div>
        </div><!--/form-group-->

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Заказчик</label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <ng-select [items]="dictionaries.stateCustomers"
                       [multiple]="false"
                       [closeOnSelect]="true"
                       [hideSelected]="true"
                       bindLabel="name"
                       placeholder="Заказчик"
                       [disabled]="isMosRu"
                       [(ngModel)]="model.stateCustomer" name="stateCustomer">
            </ng-select>
          </div>
        </div><!--/form-group-->

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Общий объем финансирования, тыс. руб.</label>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <input type="text" class="form-control"
                   [(ngModel)]="model.general"
                   name="workGeneral"
                   [disabled]="isMosRu"
                   [textMask]="{mask: helper.maskMoney.bind(this)}">
          </div>
        </div><!--/form-group-->

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Профинансировано, тыс. руб.</label>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <input type="text" class="form-control"
                   [(ngModel)]="model.financed"
                   name="workFinanced"
                   [disabled]="isMosRu"
                   [textMask]="{mask: helper.maskMoney.bind(this)}">
          </div>
        </div><!--/form-group-->

        <program-form-work-type-finance-by-year [model]="model.byYear"
                                                [dictionaries]="dictionaries"
                                                [validate]="validate"
                                                [years]="years"></program-form-work-type-finance-by-year>

        <!-- model.finance -->
        <program-form-work-type-finance [model]="model.finance"
                                        [validate]="validate"
                                        [dictionaries]="dictionaries"
                                        [years]="years"></program-form-work-type-finance>

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">
            Требуется дополнительное финансирование
          </label>
          <div class="col-lg-3 col-md-3 col-sm-3 m-t-xs">
            <input *ngIf="isMosRu" cdp-icheck type="checkbox" disabled
                   [(ngModel)]="model.additional.required" [value]="true" name="financeRequred">
            <input *ngIf="!isMosRu" cdp-icheck type="checkbox"
                   [(ngModel)]="model.additional.required" [value]="true" name="financeRequred">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Предполагаемый источник финансирования</label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <ng-select [items]="dictionaries.supportTypes"
                       [multiple]="false"
                       [closeOnSelect]="true"
                       [hideSelected]="true"
                       bindLabel="name"
                       placeholder="Предполагаемый источник финансирования"
                       [disabled]="isMosRu"
                       [(ngModel)]="model.additional.source" name="additionalSource">
            </ng-select>
          </div>
        </div><!--/form-group-->

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">Объем дополнительного финансирования,  тыс. руб.</label>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <input type="text" class="form-control"
                   [(ngModel)]="model.additional.additional"
                   [textMask]="{mask: helper.maskMoney.bind(this)}"
                   [disabled]="isMosRu"
                   name="financeGeneral">
          </div>
        </div><!--/form-group-->

        <program-form-work-type-finance-by-year [model]="model.additional.byYear"
                                                [dictionaries]="dictionaries"
                                                [validate]="validate"
                                                [years]="years"></program-form-work-type-finance-by-year>
      </div>

    </form>
  </div>
</cdp-loading-block>
