<div class="form-group"><label class="col-lg-3 col-md-3 col-sm-3 control-label">По годам:</label></div>

<div *ngFor="let rowByYear of model; let i = index">
  <div class="form-group">
    <label class="col-lg-3 col-md-3 col-sm-3 control-label">
      на год
    </label>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <ng-select [items]="years"
                 [multiple]="false"
                 [closeOnSelect]="true"
                 [hideSelected]="true"
                 bindValue="year"
                 bindLabel="year"
                 [disabled]="isMosRu"
                 [(ngModel)]="rowByYear.year" name="fgYear">
      </ng-select>
    </div>
    <label class="col-lg-3 col-md-3 col-sm-3 control-label">Объем финансирования, тыс. руб.</label>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <input type="text" class="form-control" [(ngModel)]="rowByYear.total" name="fgTotal"
             [disabled]="isMosRu" [textMask]="{mask: helper.maskMoney.bind(this)}">
    </div>
  </div>

  <div class="form-group" *ngIf="model.length > 1 && !isMosRu">
    <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <button type="button" class="btn btn-link no-padding" (click)="removeFinanceByYear(i)">
        <i class="fa fa-times-circle m-r-xs" style="color: #de8652; font-size: 26px; vertical-align: middle;"></i> Удалить год
      </button>
    </div>
  </div>
</div>

<div class="form-group" *ngIf="!isMosRu">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
  <div class="col-lg-3 col-md-3 col-sm-3">
    <button type="button" class="btn btn-link no-padding" (click)="addFinanceByYear()">
      <i class="fa fa-plus-circle m-r-xs" style="color: #de8652; font-size: 26px; vertical-align: middle;"></i> Добавить год
    </button>
  </div>
</div>
