<div style="min-height: 300px">
  <div class="clearfix" *ngIf="isLoading" style="padding-top: 130px;"></div>
  <cdp-loading-block [loadingStatus]="loadingStatus" [spinnerType]="'three-bounce'">
    <div success *ngIf="!isLoading">
      <div *blockUI="'edit-work-type'" class="clearfix modal-body scroll-edit">
        <program-form-work-type [model]="document"
                                [validate]="validate"
                                [itemCode]="itemCode"
                                (onLoad)="showButtons()"
                                [objectId]="objectId"></program-form-work-type>
        <form class="form-horizontal m-t-md" *ngIf="isShowButtons">
          <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
            <div class="col-lg-9 col-md-9 col-sm-9">
              <button type="button" class="btn btn-primary m-r-sm" (click)="save()">Сохранить</button>
              <button type="button" class="btn btn-white m-r-sm" (click)="cancel()">Отмена</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </cdp-loading-block>
</div>
