<div>
  <cdp-spinner *ngIf="isLoading" [type]="'three-bounce'"></cdp-spinner>
  <div *ngIf="!isLoading">
    <div class="clearfix">
      <div *ngFor="let work of works; let i = index" class="m-b-xs" style="position: relative">
        <cdp-expanded-section [(expand)]="expanded[i]">
          <span header-slot>
            {{work?.type?.name}} <span *ngIf="workStatusColors && work.status?.code" class="label label-{{workStatusColors[work.status?.code]}}">{{work.status?.name}}</span>
          </span>
          <div content-slot class="m-l-sm m-t-md" style="margin-left: 15px;">
            <cdp-document-log [systemName]="'app/mr/program'"
                              [docType]="'WORK'"
                              [documentId]="work?.documentId"></cdp-document-log>
          </div>
        </cdp-expanded-section>
      </div>
    </div>
  </div>
</div>
