<cdp-spinner [type]="'three-bounce'" *ngIf="isLoading"></cdp-spinner>
<div *ngIf="!isLoading">
  <cdp-bpm-process-manager [config]="config"></cdp-bpm-process-manager>
  <!--<cdp-info-about-processes [init]="init"
                            [reqNum]="document?.documentId"
                            [editable]="modeParam === 'edit'"></cdp-info-about-processes>-->
</div>
