<a uiSref="{{state.current.name}}"
   [uiParams]="{id: document.documentId, mode: 'edit'}"
   class="btn btn-default {{className}}"
   title="Редактировать"
   *ngIf="isShow && !loading && mode === 'view'">
  <i class="fa fa-pencil-square-o text-primary m-r-xs"></i> Редактировать
</a>
<a uiSref="{{state.current.name}}"
   [uiParams]="{id: document.documentId, mode: 'view'}"
   class="btn btn-default {{className}}"
   title="Выйти из режима редактирования"
   *ngIf="isShow && !loading && mode === 'edit'">
  <i class="fas fa-sign-out-alt text-primary m-r-xs"></i> Выйти из режима редактирования
</a>
