<div *blockUI="'card-editor'">
  <program-spinner *ngIf="loading" [height]="'medium'"></program-spinner>
  <div class="animated fadeIn" id="jsoneditor" style="width: 100%;"></div>
  <br>
  <button type="button" class="btn btn-default" (click)="save()">Сохранить измененный документ</button>
</div>

