<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Кадастровый номер земельного участка
  </label>
  <div class="col-lg-3 col-md-3 col-sm-3">
    <div *ngFor="let cn of cadastralNumbers; let i = index">
      <div [ngClass]="{'m-t-sm': i}">
        <input type="text" [(ngModel)]="cn.cad"
               (input)="onChangeCadastralNumber()"
               [textMask]="{mask: helper.maskCadastral.bind(this)}"
               [disabled]="isMosRu"
               class="form-control" name="cadastralNumber" />
      </div>
    </div>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-1 no-padding" style="width: 40px">
    <div class="addressTooltipIcon">
      <i class="fa fa-question-circle" style="font-size: 22px;"
         popover="Формат ввода кадастрового номера АА:ВВ:CCCCСCC:ККK"
         triggers="mouseenter:mouseleave"
         data-placement="top"></i>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label"
         [ngClass]="{'has-error': validate && isMandatoryObjectArea() && !model.object.name}">
    Площадь земельного участка, га<span class="our-mandatory" *ngIf="isMandatoryObjectArea() && !isMosRu">*</span>
  </label>
  <div class="col-lg-3 col-md-3 col-sm-3">
    <input type="text" class="form-control" name="objectArea"
           [(ngModel)]="model.object.area"
           [disabled]="isMosRu"
           [textMask]="{mask: helper.maskDecimal.bind(this)}" />
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Категория земель
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9">
    <input type="text"
           [(ngModel)]="model.parameterZu.landCategory"
           class="form-control"
           name="landCategory"
           [disabled]="isMosRu" />
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Вид разрешенного использования
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9">
    <input type="text"
           [(ngModel)]="model.parameterZu.permittedUse"
           class="form-control"
           name="permittedUse"
           [disabled]="isMosRu" />
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Сведения о ГПЗУ №
  </label>
  <div class="col-lg-3 col-md-3 col-sm-3">
    <input type="text"
           [(ngModel)]="model.parameterZu.gpzuNumber"
           class="form-control"
           name="gpzuNumber"
           [disabled]="isMosRu" />
  </div>
  <label class="col-lg-1 col-md-1 col-sm-1 control-label" style="width: 50px">от</label>
  <div class="col-lg-3 col-md-3 col-sm-3 no-padding">
    <cdp-date-selector [(model)]="model.parameterZu.gpzuDate"
                       [disabled]="isMosRu"></cdp-date-selector>
  </div>
</div>
