<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Особый объект
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9 m-t-xs">
    <ng-select [items]="dictionaries.mr_program_SpecialObject"
               [multiple]="false"
               [closeOnSelect]="true"
               [hideSelected]="true"
               bindLabel="name"
               placeholder="Особый объект"
               [disabled]="isMosRu"
               [(ngModel)]="model.specialObject" name="specialObject">
    </ng-select>
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Объект культурного наследия
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9 m-t-xs">
    <input *ngIf="isMosRu" cdp-icheck type="checkbox" disabled [value]="true" [(ngModel)]="model.okn" name="objectOkn" />
    <input *ngIf="!isMosRu" cdp-icheck type="checkbox"
           [value]="true" [(ngModel)]="model.okn" name="objectOkn" (ngModelChange)="updateAttrs()" />
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Проблемный объект
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9 m-t-xs">
    <input *ngIf="isMosRu" cdp-icheck type="checkbox" disabled [value]="true" [(ngModel)]="model.problem" name="objectProblem" />
    <input *ngIf="!isMosRu" cdp-icheck type="checkbox" [value]="true" [(ngModel)]="model.problem" name="objectProblem" />
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Место притяжения
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9 m-t-xs">
    <input *ngIf="isMosRu" cdp-icheck type="checkbox" disabled [value]="true" [(ngModel)]="model.attraction" name="objectAttraction" />
    <input *ngIf="!isMosRu" cdp-icheck type="checkbox" [value]="true" [(ngModel)]="model.attraction" name="objectAttraction" />
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Период создания объекта
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9">
    <ng-select [items]="dictionaries.mr_program_ConstructionPeriods"
               [multiple]="false"
               [closeOnSelect]="true"
               [hideSelected]="true"
               bindLabel="name"
               placeholder="Период создания объекта"
               [disabled]="isMosRu"
               [(ngModel)]="model.object.period" name="period">
    </ng-select>
  </div>
</div>

<div class="form-group" *ngIf="isObjectCardPublic">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    К публикации на открытых информационных ресурсах
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9 m-t-xs">
    <input *ngIf="isMosRu" cdp-icheck type="checkbox" disabled [value]="true" [(ngModel)]="model['public']" name="objectPublic" />
    <input *ngIf="!isMosRu" cdp-icheck type="checkbox" [value]="true" [(ngModel)]="model['public']" name="objectPublic" />
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Риски публикации
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9">
    <textarea class="form-control"
              name="objectRisk"
              [(ngModel)]="model.risk"
              [disabled]="isMosRu"></textarea>
  </div>
</div>

<div class="form-group" *ngIf="isMosRu">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    К публикации на mos.ru
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9 m-t-xs">
    <input cdp-icheck type="checkbox" [value]="true" [(ngModel)]="model.mos['public']" name="objectMosPublic" />
  </div>
</div>

<div class="form-group" *ngIf="isMosRu">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Риски публикации на mos.ru
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9">
    <textarea class="form-control" name="objectMosRisk" [(ngModel)]="model.mos.risk"></textarea>
  </div>
</div>


<div class="form-group" *ngIf="isMosRu">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label" [ngClass]="{'has-error': validate && !model.object.period}">
    Рубрикатор УКК
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9">
    <ng-select [items]="dictionaries.rubricator"
               [multiple]="true"
               [closeOnSelect]="true"
               [hideSelected]="false"
               bindLabel="name"
               placeholder="Рубрикатор УКК"
               [(ngModel)]="model.rubricator" name="rubricator">
      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
        <div class="m-l-{{['none', 'md', 'lg'][item.level]}}">
          {{item.name}}
        </div>
      </ng-template>
      <ng-template ng-label-tmp let-item="item">
        <span aria-hidden="true" class="ng-value-icon left">×</span>
        <span class="ng-value-label">{{item.fullName || item.name}}</span>
      </ng-template>
    </ng-select>
  </div>
</div>
