<div class="form-group" *ngIf="model.documentId">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
  <div class="col-lg-9 col-md-9 com-sm-9">
    <button type="button" class="btn btn-primary"
            (click)="inputCoordinates()"
            [disabled]="isMosRu">Ввести координаты объекта</button>
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Возможность отображения на карте "было-стало"
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9 m-t-xs">
    <input *ngIf="isMosRu" cdp-icheck type="checkbox" disabled [value]="true" [(ngModel)]="model.wasIs" name="objectWasIs" />
    <input *ngIf="!isMosRu" cdp-icheck type="checkbox" [value]="true" [(ngModel)]="model.wasIs" name="objectWasIs" />
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Панорама "было-стало"
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9 m-t-xs">
    <textarea class="form-control" name="textPanorama"
              [disabled]="isMosRu"
              [(ngModel)]="model.materials.panorama"></textarea>
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Панорама 3D
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9 m-t-xs">
    <textarea class="form-control" name="textPanorama3D"
              [disabled]="isMosRu"
              [(ngModel)]="model.materials.panorama3d"></textarea>
  </div>
</div>

<!--<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Карта
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9">
    <input type="text" class="form-control" [(ngModel)]="model.materials.map" name="map" />
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    3D-карта
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9">
    <input type="text" class="form-control" [(ngModel)]="model.materials.map3d" name="map3d" />
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Панорама (URL)
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9">
    <input type="text" class="form-control" [(ngModel)]="model.materials.panorama" name="panorama" />
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Видео (URL)
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9">
    <div *ngFor="let v of videos; let i = index" [ngClass]="{'m-t-sm': i}">
      <input type="text" class="form-control" [(ngModel)]="v.video" name="video" (input)="onChangeVideo()" />
    </div>
  </div>
</div>-->

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Фотографии до
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9" *ngIf="model.folderId">
    <cdp-ex-file-manager [(files)]="files.photobefore"
                         [fileType]="'photobefore'"
                         [folderGuid]="model?.folderId"
                         [extPattern]="'jpg, jpeg, png'"
                         [downloadable]="!isMosRu"
                         [deletable]="!isMosRu"
                         [openable]="true"
                         [showSize]="true"
                         [onRemove]="onRemoveFile"
                         (onChanged)="filesOnChange('photobefore')"
                         [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
    <div *ngIf="isMosRu && !files?.photobefore?.length" class="m-t-xs">Файлы отсутствуют</div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-9" *ngIf="!model.folderId">
    <div class="ex-dropzone-outer" style="cursor: pointer;" (click)="uploadFileAlert()">
      <div class="ex-dropzone">
        <i class="fa fa-download"></i> Загрузить файл<br>
        <span style="font-size: 12px;" class="ng-binding">Допустимые расширения: jpg, jpeg, png</span>
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Фотографии после
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9" *ngIf="model.folderId">
    <cdp-ex-file-manager [(files)]="files.photoafter"
                         [fileType]="'photoafter'"
                         [folderGuid]="model?.folderId"
                         [extPattern]="'jpg, jpeg, png'"
                         [downloadable]="!isMosRu"
                         [deletable]="!isMosRu"
                         [openable]="true"
                         [showSize]="true"
                         [onRemove]="onRemoveFile"
                         (onChanged)="filesOnChange('photoafter')"
                         [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
    <div *ngIf="isMosRu && !files?.photoafter?.length" class="m-t-xs">Файлы отсутствуют</div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-9" *ngIf="!model.folderId">
    <div class="ex-dropzone-outer" style="cursor: pointer;" (click)="uploadFileAlert()">
      <div class="ex-dropzone">
        <i class="fa fa-download"></i> Загрузить файл<br>
        <span style="font-size: 12px;" class="ng-binding">Допустимые расширения: jpg, jpeg, png</span>
      </div>
    </div>
  </div>
</div>

<div class="form-group" *ngIf="isMosRu">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Фотография (mos.ru)
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9" *ngIf="model.folderId">
    <cdp-ex-file-manager [(files)]="files.photomosru"
                         [fileType]="'photomosru'"
                         [folderGuid]="model?.folderId"
                         [extPattern]="'jpg, jpeg, png'"
                         [downloadable]="true"
                         [deletable]="true"
                         [openable]="true"
                         [showSize]="true"
                         [onRemove]="onRemoveFile"
                         (onChanged)="filesOnChange('photomosru')"
                         [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-9" *ngIf="!model.folderId">
    <div class="ex-dropzone-outer" style="cursor: pointer;" (click)="uploadFileAlert()">
      <div class="ex-dropzone">
        <i class="fa fa-download"></i> Загрузить файл<br>
        <span style="font-size: 12px;" class="ng-binding">Допустимые расширения: jpg, jpeg, png</span>
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Презентации
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9" *ngIf="model.folderId">
    <cdp-ex-file-manager [(files)]="files.presentation"
                         [fileType]="'presentation'"
                         [folderGuid]="model?.folderId"
                         [extPattern]="'ppt, pptx'"
                         [downloadable]="!isMosRu"
                         [deletable]="!isMosRu"
                         [openable]="true"
                         [showSize]="true"
                         [onRemove]="onRemoveFile"
                         (onChanged)="filesOnChange('presentation')"
                         [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
    <div *ngIf="isMosRu && !files?.presentation?.length" class="m-t-xs">Файлы отсутствуют</div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-9" *ngIf="!model.folderId">
    <div class="ex-dropzone-outer" style="cursor: pointer;" (click)="uploadFileAlert()">
      <div class="ex-dropzone">
        <i class="fa fa-download"></i> Загрузить файл<br>
        <span style="font-size: 12px;" class="ng-binding">Допустимые расширения: ppt, pptx</span>
      </div>
    </div>
  </div>
</div>

<h4>3D - инфографика</h4>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Модель объекта
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9" *ngIf="model.folderId">
    <cdp-ex-file-manager [(files)]="files.model"
                         [fileType]="'model'"
                         [folderGuid]="model?.folderId"
                         [extPattern]="'gltf, jpg, bin, jpeg, glb, zip, rar'"
                         [downloadable]="!isMosRu"
                         [deletable]="!isMosRu"
                         [openable]="true"
                         [showSize]="true"
                         [onRemove]="onRemoveFile"
                         (onChanged)="filesOnChange('model')"
                         [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
    <div *ngIf="isMosRu && !files?.model?.length" class="m-t-xs">Файлы отсутствуют</div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-9" *ngIf="!model.folderId">
    <div class="ex-dropzone-outer" style="cursor: pointer;" (click)="uploadFileAlert()">
      <div class="ex-dropzone">
        <i class="fa fa-download"></i> Загрузить файл<br>
        <span style="font-size: 12px;" class="ng-binding">Допустимые расширения: gltf, jpg, bin, jpeg, glb, zip, rar</span>
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">Заголовок</label>
  <div class="col-lg-9 col-md-9 col-sm-9">
    <input type="text" class="form-control" name="info3D_header" [(ngModel)]="model.info3D.header">
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">Краткое описание</label>
  <div class="col-lg-9 col-md-9 col-sm-9">
    <input type="text" class="form-control" name="info3D_briefInfo" [(ngModel)]="model.info3D.briefInfo">
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">Тезис</label>
  <div class="col-lg-9 col-md-9 col-sm-9">
    <div *ngFor="let v of theses; let i = index" [ngClass]="{'m-t-sm': i}">
      <input type="text" class="form-control" [(ngModel)]="v.theses" name="info3d_theses" (input)="onChangeTheses()" />
    </div>
  </div>
</div>

<h4>3D объект</h4>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Изображение объекта
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9" *ngIf="model.folderId">
    <cdp-ex-file-manager [(files)]="files.image"
                         [fileType]="'image'"
                         [folderGuid]="model?.folderId"
                         [extPattern]="'png, svg'"
                         [downloadable]="!isMosRu && !files?.image?.length"
                         [deletable]="!isMosRu"
                         [openable]="true"
                         [showSize]="true"
                         [onRemove]="onRemoveFile"
                         (onChanged)="filesOnChange('image')"
                         [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
    <div *ngIf="isMosRu && !files?.image?.length" class="m-t-xs">Файлы отсутствуют</div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-9" *ngIf="!model.folderId">
    <div class="ex-dropzone-outer" style="cursor: pointer;" (click)="uploadFileAlert()">
      <div class="ex-dropzone">
        <i class="fa fa-download"></i> Загрузить файл<br>
        <span style="font-size: 12px;" class="ng-binding">Допустимые расширения: png, svg</span>
      </div>
    </div>
  </div>
</div>

<h4>Геокоординаты центра изображения 3D-объекта</h4>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">EPSG</label>
  <div class="col-lg-3 col-md-3 col-sm-3">
    <input type="text" class="form-control" name="location3D_epsg" [(ngModel)]="model.materials.location3D.EPSG">
  </div>
  <label class="col-lg-1 col-md-1 col-sm-1 control-label">Широта</label>
  <div class="col-lg-2 col-md-2 col-sm-2">
    <input type="text" class="form-control" name="location3D_y"
           [(ngModel)]="model.materials.location3D.y"
           [textMask]="{mask: helper.maskDecimal.bind(this), pipe: degPipeY.bind(this)}">
  </div>
  <label class="col-lg-1 col-md-1 col-sm-1 control-label">Долгота</label>
  <div class="col-lg-2 col-md-2 col-sm-2">
    <input type="text" class="form-control" name="location3D_x"
           [(ngModel)]="model.materials.location3D.x"
           [textMask]="{mask: helper.maskDecimal.bind(this), pipe: degPipeX.bind(this)}">
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Дополнительные материалы
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9" *ngIf="model.folderId">
    <cdp-ex-file-manager [(files)]="files.addmaterial"
                         [fileType]="'addmaterial'"
                         [folderGuid]="model?.folderId"
                         [extPattern]="'csv, doc, docx, jpeg, jpg, pdf, png, ppt, pptx, rar, sig, txt, xml, zip, mov, mp4'"
                         [downloadable]="!isMosRu"
                         [deletable]="!isMosRu"
                         [openable]="true"
                         [showSize]="true"
                         [onRemove]="onRemoveFile"
                         (onChanged)="filesOnChange('addmaterial')"
                         [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
    <div *ngIf="isMosRu && !files?.addmaterial?.length" class="m-t-xs">Файлы отсутствуют</div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-9" *ngIf="!model.folderId">
    <div class="ex-dropzone-outer" style="cursor: pointer;" (click)="uploadFileAlert()">
      <div class="ex-dropzone">
        <i class="fa fa-download"></i> Загрузить файл<br>
        <span style="font-size: 12px;" class="ng-binding">Допустимые расширения:
          csv, doc, docx, jpeg, jpg, pdf, png, ppt, pptx, rar, sig, txt, xml, zip, mov, mp4</span>
      </div>
    </div>
  </div>
</div>

<div class="form-group" *ngIf="isMosRu">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Дополнительные материалы (mos.ru)
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9" *ngIf="model.folderId">
    <cdp-ex-file-manager [(files)]="files.addmaterialmos"
                         [fileType]="'addmaterialmos'"
                         [folderGuid]="model?.folderId"
                         [extPattern]="'csv, doc, docx, jpeg, jpg, pdf, png, ppt, pptx, rar, sig, txt, xml, zip, mov, mp4'"
                         [downloadable]="true"
                         [deletable]="true"
                         [openable]="true"
                         [showSize]="true"
                         [onRemove]="onRemoveFile"
                         (onChanged)="filesOnChange('addmaterialmos')"
                         [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-9" *ngIf="!model.folderId">
    <div class="ex-dropzone-outer" style="cursor: pointer;" (click)="uploadFileAlert()">
      <div class="ex-dropzone">
        <i class="fa fa-download"></i> Загрузить файл<br>
        <span style="font-size: 12px;" class="ng-binding">Допустимые расширения:
          csv, doc, docx, jpeg, jpg, pdf, png, ppt, pptx, rar, sig, txt, xml, zip, mov, mp4</span>
      </div>
    </div>
  </div>
</div>
