<cdp-loading-block [loadingStatus]="loadingStatus" [spinnerType]="'three-bounce'">
  <div success *ngIf="model">
    <form class="form-horizontal" *ngIf="isLoaded()">

      <h4 class="m-b-md">Общие сведения</h4>

      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label"
               [ngClass]="{'has-error': validate && !model.address.prefect.length && !isMosRu}">
          Округ<span class="our-mandatory" *ngIf="!isMosRu">*</span>
        </label>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <ng-select [items]="dictionaries.prefects"
                     [multiple]="true"
                     [closeOnSelect]="true"
                     [hideSelected]="true"
                     bindLabel="name"
                     placeholder="Округ"
                     (change)="clearAddressList(); onChancePrefect()"
                     dropdownPosition="bottom"
                     [disabled]="isMosRu"
                     [(ngModel)]="model.address.prefect" name="prefect">
          </ng-select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label"
               [ngClass]="{'has-error': validate && !model.address.district.length && !isMosRu}">
          Район<span class="our-mandatory" *ngIf="!isMosRu">*</span>
        </label>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <ng-select [items]="districtsAvailables"
                     [multiple]="true"
                     [closeOnSelect]="true"
                     [hideSelected]="true"
                     bindLabel="name"
                     placeholder="Район"
                     (change)="clearAddressList(); updateInstructions()"
                     dropdownPosition="bottom"
                     [disabled]="isMosRu || !model?.address?.prefect?.length"
                     [(ngModel)]="model.address.district" name="district">
          </ng-select>
        </div>
      </div>

      <!--<div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label"
               [ngClass]="{'has-error': validate && !model.itemType && !isMosRu}">
          Тип элемента<span class="our-mandatory" *ngIf="!isMosRu">*</span>
        </label>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <div *ngFor="let itemType of dictionaries.mr_program_ItemTypes" class="m-t-xs">
            <label *ngIf="isMosRu" style="font-weight: normal">
              <input cdp-icheck type="radio" disabled
                     [(ngModel)]="selected.itemType" [value]="itemType.code"
                     name="checkItemType" [ngModelOptions]="{standalone: true}" />
              {{itemType.name}}
            </label>
            <label *ngIf="!isMosRu">
              <input cdp-icheck type="radio"
                     [(ngModel)]="selected.itemType" [value]="itemType.code" (ngModelChange)="onChangeItemType(itemType)"
                     name="checkItemType" [ngModelOptions]="{standalone: true}" />
              {{itemType.name}}
            </label>
          </div>
        </div>
      </div>-->

      <div class="form-group" *ngIf="model?.itemType?.code === 'object'">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label"
               [ngClass]="{'has-error': validate && !model.objectForm && !isMosRu}">
          Тип объекта<span class="our-mandatory" *ngIf="!isMosRu">*</span>
        </label>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <div *ngFor="let objectForm of dictionaries.mr_program_ObjectForms" class="m-t-xs">
            <label *ngIf="isMosRu" style="font-weight: normal">
              <input cdp-icheck type="radio" disabled
                     [(ngModel)]="selected.objectForm" [value]="objectForm.code"
                     name="checkObjectForm" [ngModelOptions]="{standalone: true}" />
              {{objectForm.name}}
            </label>
            <label *ngIf="!isMosRu">
              <input cdp-icheck type="radio"
                     [(ngModel)]="selected.objectForm" [value]="objectForm.code"
                     (ngModelChange)="onChangeObjectForm(objectForm)"
                     name="checkObjectForm" [ngModelOptions]="{standalone: true}" />
              {{objectForm.name}}
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
          Адрес
        </label>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <ng-select [items]="dictionaries.addressList"
                     [multiple]="false"
                     [closeOnSelect]="true"
                     [hideSelected]="true"
                     bindValue="code"
                     bindLabel="name"
                     [searchFn]="addressSearchFn"
                     (keyup)="addressKeyUp.next($event)"
                     placeholder="Введите 3 символа для начала поиска"
                     [loading]="isAddressLoading"
                     [disabled]="isMosRu"
                     (change)="onChangeAddress(); clearAddressList()"
                     [(ngModel)]="model.address.addressId" name="addressId">
          </ng-select>
        </div>
      </div>

      <div class="form-group" *ngIf="!model.address.addressId">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label"
               [ngClass]="{'has-error': validate && !model.address.addressId && !model.address.address && !isMosRu}">
          Адресный ориентир<span class="our-mandatory" *ngIf="!model.address.addressId && !isMosRu">*</span>
        </label>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <textarea [(ngModel)]="model.address.address"
                    class="form-control"
                    name="addressMark"
                    [disabled]="isMosRu"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label"
               [ngClass]="{'has-error': validate && !model.object.industry && !isMosRu}">
          Отрасль<span class="our-mandatory" *ngIf="!isMosRu">*</span>
        </label>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <ng-select [items]="dictionaries.industries"
                     [multiple]="false"
                     [closeOnSelect]="true"
                     [hideSelected]="true"
                     bindLabel="name"
                     placeholder="Отрасль"
                     (change)="updateCategoriList(); updateAttributesAvailable()"
                     [disabled]="isMosRu"
                     [(ngModel)]="model.object.industry" name="industry">
          </ng-select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label"
               [ngClass]="{'has-error': validate && !model.object.kind && !isMosRu}">
          Вид объекта<span class="our-mandatory" *ngIf="!isMosRu">*</span>
        </label>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <ng-select [items]="dictionaries.objectCategories"
                     [multiple]="false"
                     [closeOnSelect]="true"
                     [hideSelected]="true"
                     [disabled]="!model.object.industry || isMosRu"
                     bindLabel="name"
                     placeholder="Вид объекта"
                     [(ngModel)]="model.object.kind" name="kind">
          </ng-select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label"
               [ngClass]="{'has-error': validate && !model.object.name && !isMosRu}">
          Наименование объекта<span class="our-mandatory" *ngIf="!isMosRu">*</span>
        </label>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <textarea [(ngModel)]="model.object.name"
                    class="form-control"
                    name="objectName"
                    [disabled]="isMosRu"></textarea>
        </div>
      </div>

      <div class="form-group" *ngIf="isMosRu">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
          Наименование объекта (mos.ru)
        </label>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <textarea [(ngModel)]="model.mos.name"
                    class="form-control"
                    name="objectMosName"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
          Краткое описание объекта
        </label>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <textarea [(ngModel)]="model.object.description"
                    class="form-control"
                    name="objectDescription"
                    [disabled]="isMosRu"></textarea>
        </div>
      </div>

      <div class="form-group" *ngIf="isMosRu">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
          Краткое описание объекта (mos.ru)
        </label>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <textarea [(ngModel)]="model.mos.description" class="form-control" name="objectMosDescription"></textarea>
        </div>
      </div>

      <div class="form-group" *ngIf="model?.itemType?.code === 'object'">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
          Форма собственности
        </label>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <ng-select [items]="dictionaries.mr_program_OwnershipForms"
                     [multiple]="false"
                     [closeOnSelect]="true"
                     [hideSelected]="true"
                     bindLabel="name"
                     placeholder="Форма собственности"
                     [disabled]="isMosRu"
                     [(ngModel)]="model.object.ownership" name="ownership">
          </ng-select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label"
               [ngClass]="{'has-error': validate && !model.responsible.organization && !isMosRu}">
          Ответственный орган исполнительной власти<span class="our-mandatory" *ngIf="!isMosRu">*</span>
        </label>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <ng-select [items]="dictionaries.organizations"
                     [multiple]="false"
                     [closeOnSelect]="true"
                     [hideSelected]="true"
                     bindLabel="name"
                     placeholder="Ответственный орган исполнительной власти"
                     [disabled]="isMosRu"
                     [(ngModel)]="model.responsible.organization" name="responsibleOrganization">
          </ng-select>
        </div>
      </div>

      <div class="m-t-lg" *ngIf="model?.itemType?.code === 'object'">
        <h4 class="m-b-md">Характеристики земельного участка</h4>

        <program-form-object-params-zu [model]="model"
                                       [validate]="validate"
                                       [dictionaries]="dictionaries"></program-form-object-params-zu>
      </div>

      <div class="m-t-lg" *ngIf="model?.itemType?.code === 'object'">
        <h4 class="m-b-md">Характеристики объекта</h4>

        <program-form-object-params [model]="model"
                                    [validate]="validate"
                                    [dictionaries]="dictionaries"></program-form-object-params>
      </div>

      <div class="m-t-lg">
        <h4 class="m-b-md">Признаки объекта</h4>

        <program-form-object-features [model]="model"
                                      [validate]="validate"
                                      [dictionaries]="dictionaries"
                                      [files]="files"
                                      (uploadAlert)="uploadFileAlert()"
                                      (updateAttributesCallback)="updateAttributesAvailable()"></program-form-object-features>
      </div>

      <div class="m-t-lg">
        <h4 class="m-b-md">Дополнительные сведения</h4>

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">
            Дополнительные сведения
          </label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <textarea [(ngModel)]="model.comment"
                      class="form-control"
                      name="comment"
                      [disabled]="isMosRu"></textarea>
          </div>
        </div>

        <div class="form-group" *ngIf="isMosRu">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">
            Дополнительные сведения (mos.ru)
          </label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <textarea [(ngModel)]="model.mos.comment"
                      class="form-control"
                      name="commentMos"></textarea>
          </div>
        </div>

        <div class="form-group" *ngIf="isMosRu">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">
            Ссылки на новости по объекту
          </label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <textarea [(ngModel)]="model.mos.news" class="form-control" name="commentMos"></textarea>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div *ngFor="let attr of attrList; let i = index" class="clearfix" [ngClass]="{'m-t-sm': i}">
          <div class="col-lg-3 col-md-3 col-sm-3">
            <ng-select [items]="attributesAvailable"
                       [multiple]="false"
                       [closeOnSelect]="true"
                       [hideSelected]="true"
                       bindLabel="name"
                       placeholder="Наименование атрибута"
                       (change)="onChangeAttributeName(attr, i)"
                       dropdownPosition="bottom"
                       [ngModelOptions]="{standalone: true}"
                       [disabled]="isMosRu"
                       [(ngModel)]="attr.dictionary">
            </ng-select>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <ng-select *ngIf="attr.possibleValues.length"
                       [items]="attr.possibleValues"
                       [multiple]="false"
                       [closeOnSelect]="true"
                       [hideSelected]="true"
                       bindValue="code"
                       bindLabel="name"
                       placeholder="Значение атрибута"
                       (change)="onChangeAttributeValue(attr, i)"
                       dropdownPosition="bottom"
                       [ngModelOptions]="{standalone: true}"
                       [disabled]="isMosRu"
                       [(ngModel)]="attr.value">

            </ng-select>
            <input type="text" class="form-control"
                   *ngIf="!attr.possibleValues.length"
                   [(ngModel)]="attr.value"
                   (change)="onChangeAttributeValue(attr, i)"
                   [ngModelOptions]="{standalone: true}"
                   [disabled]="isMosRu">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <button type="button"
                  class="btn btn-primary"
                  [disabled]="isMosRu"
                  (click)="addAttribute()">Добавить атрибут</button>
        </div>
      </div>

      <div class="m-t-lg">
        <h4 class="m-b-md">Материалы</h4>

        <program-form-object-materials [model]="model"
                                       [validate]="validate"
                                       [dictionaries]="dictionaries"
                                       [files]="files"
                                       (uploadAlert)="uploadFileAlert()"></program-form-object-materials>
      </div>
    </form>
  </div>
</cdp-loading-block>
