<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Площадь объекта, кв.м
  </label>
  <div class="col-lg-3 col-md-3 col-sm-3">
    <input type="text" class="form-control" name="areaObject"
           [(ngModel)]="model.object.areaObject"
           [disabled]="isMosRu"
           [textMask]="{mask: helper.maskDecimal.bind(this)}"/>
  </div>
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    <div class="tooltipIcon">
      <i class="fa fa-question-circle" style="font-size: 22px;"
         popover="Заполняется для зданий, строений, помещений и плоскостных объектов"
         triggers="mouseenter:mouseleave"
         containerClass="tooltipContainer"></i>
    </div>
    <span *ngIf="model?.objectForm?.code === 'linear'">Протяженность объекта, м</span>
  </label>
  <div class="col-lg-3 col-md-3 col-sm-3" *ngIf="model?.objectForm?.code === 'linear'">
    <input type="text" class="form-control" name="objectExtent"
           [(ngModel)]="model.object.extent"
           [disabled]="isMosRu"
           [textMask]="{mask: helper.maskDecimal.bind(this)}" />
  </div>
</div>

<div class="form-group" *ngIf="model?.objectForm?.code === 'building'">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Год постройки
  </label>
  <div class="col-lg-3 col-md-3 col-sm-3">
    <input type="text" class="form-control"
           [textMask]="{mask: helper.maskNumber.bind(this)}"
           [disabled]="isMosRu"
           [(ngModel)]="model.parameterObject.constructionYear" name="constructionYear" />
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Назначение
  </label>
  <div class="col-lg-3 col-md-3 col-sm-3">
    <input type="text" class="form-control"
           [disabled]="isMosRu"
           [(ngModel)]="model.parameterObject.use" name="use" />
  </div>
</div>

<div class="form-group" *ngIf="model?.objectForm?.code === 'building'">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Этажность
  </label>
  <div class="col-lg-3 col-md-3 col-sm-3">
    <input type="text" class="form-control"
           [textMask]="{mask: helper.maskNumber.bind(this)}"
           [disabled]="isMosRu"
           [(ngModel)]="model.parameterObject.floor" name="floor" />
  </div>
</div>

<div class="form-group" *ngIf="model?.objectForm?.code === 'building'">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Материал стен
  </label>
  <div class="col-lg-3 col-md-3 col-sm-3">
    <input type="text" class="form-control"
           [disabled]="isMosRu"
           [(ngModel)]="model.parameterObject.wallMaterial" name="wallMaterial" />
  </div>
</div>

<div class="form-group" *ngIf="model?.objectForm?.code === 'building'">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Процент износа
  </label>
  <div class="col-lg-3 col-md-3 col-sm-3">
    <input type="text" class="form-control"
           [textMask]="{mask: helper.maskDecimal.bind(this)}"
           [disabled]="isMosRu"
           [(ngModel)]="model.parameterObject.wearRate" name="wearRate" />
  </div>
</div>

<div class="form-group" *ngIf="model?.objectForm?.code === 'building'">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Тип размещения
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9">
    <ng-select [items]="dictionaries.mr_program_ObjectKinds"
               [multiple]="false"
               [closeOnSelect]="true"
               [hideSelected]="true"
               bindLabel="name"
               placeholder="Тип размещения"
               [disabled]="isMosRu"
               [(ngModel)]="model.object.typeObject" name="typeObject">
    </ng-select>
  </div>
</div>

<div class="form-group" *ngIf="model?.objectForm?.code === 'building'">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Вместимость (количество мест)
  </label>
  <div class="col-lg-3 col-md-3 col-sm-3">
    <input type="text" class="form-control"
           [disabled]="isMosRu"
           [(ngModel)]="model.parameterObject.capacity" name="capacity" />
  </div>
</div>
