<cdp-spinner *ngIf="isLoading" [type]="'three-bounce'"></cdp-spinner>
<div *ngIf="!isLoading">
  <div class="clearfix">
    <div class="pull-right">
      <change-request-btn
        [className]="'btn btn-primary m-r-sm'"
        [id]="document.documentId"
        [text]="'Изменить данные'"
        [type]="'object'"></change-request-btn>
      <object-edit-btn [document]="document" [mode]="modeParam"></object-edit-btn>
    </div>
    <div class="pull-left">
      <h3>Общая информация</h3>
    </div>
  </div>
  <program-card-main-view *ngIf="modeParam === 'view'" [files]="files"></program-card-main-view>
  <program-card-main-edit *ngIf="modeParam === 'edit'" [files]="files"></program-card-main-edit>
</div>
