<button class="btn {{className}}" *ngIf="isShow"
        (click)="approve()"
        [disabled]="disabled || inProgress">
  <i class="fa fa-spinner fa-spin m-r-sm" *ngIf="inProgress"></i>Утвердить
</button>
