<div style="min-height: 300px">
  <cdp-spinner *ngIf="isLoading" [type]="'three-bounce'"></cdp-spinner>

  <div *ngIf="!isLoading && !isError" class="m-t-md">

    <h4>Изменяемый документ</h4>

    <div class="description">
      <dl class="dl-horizontal">
        <ng-container [ngSwitch]="request?.modifiedTab">
          <ng-container *ngSwitchCase="'OBJ'">
            <dt><span>Объект</span></dt>
            <dd>
              <a uiSref="app.object.card.main" [uiParams]="{id: obj.documentId, mode: 'view'}">
                {{getObjectInfo()}}
              </a>
            </dd>
          </ng-container>
          <ng-container *ngSwitchCase="'WORK'">
            <dt><span>Работа на объекте</span></dt>
            <dd>
              <a uiSref="app.object.card.works"
                 [uiParams]="{id: obj.documentId, mode: 'view', workId: documentOld?.work?.documentId}">
                {{getObjectInfo()}}
              </a>
            </dd>
          </ng-container>
        </ng-container>
      </dl>
    </div>

    <h4>Автор заявки</h4>

    <div class="description">
      <dl class="dl-horizontal">

        <dt><span>ФИО</span></dt>
        <dd [ngSwitch]="!!request?.creator?.fio">
          <span *ngSwitchCase="true">{{request?.creator?.fio}}</span>
          <span *ngSwitchDefault class="not-specified">отсутствует</span>
        </dd>

        <dt><span>Организация</span></dt>
        <dd [ngSwitch]="!!request?.creator?.organization?.ldapOrgName">
          <span *ngSwitchCase="true">{{request?.creator?.organization?.ldapOrgName}}</span>
          <span *ngSwitchDefault class="not-specified">отсутствует</span>
        </dd>

        <dt><span>Контактные данные</span></dt>
        <dd [ngSwitch]="!!request?.creator?.contactInformation">
          <span *ngSwitchCase="true">{{request?.creator?.contactInformation}}</span>
          <span *ngSwitchDefault class="not-specified">отсутствует</span>
        </dd>

        <dt><span>Комментарий</span></dt>
        <dd [ngSwitch]="!!request?.creator?.comment">
          <span *ngSwitchCase="true">{{request?.creator?.comment}}</span>
          <span *ngSwitchDefault class="not-specified">отсутствует</span>
        </dd>

        <dt><span>Дополнительные материалы по заявке</span></dt>
        <dd [ngSwitch]="!!extraFiles?.length">
          <cdp-ex-file-manager *ngSwitchCase="true"
                               [(files)]="extraFiles"
                               [fileType]="'default'"
                               [folderGuid]="request?.folderId"
                               [openable]="true"
                               [showSize]="true"
                               [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
          <span *ngSwitchDefault class="not-specified">отсутствует</span>
        </dd>
      </dl>
    </div>

    <h4>Согласующий</h4>

    <div class="description">
      <dl class="dl-horizontal">

        <dt><span>ФИО</span></dt>
        <dd [ngSwitch]="!!request?.coordinator?.fio">
          <span *ngSwitchCase="true">{{request?.coordinator?.fio}}</span>
          <span *ngSwitchDefault class="not-specified">отсутствует</span>
        </dd>

        <dt><span>Комментарий</span></dt>
        <dd [ngSwitch]="!!request?.coordinator?.comment">
          <span *ngSwitchCase="true">{{request?.coordinator?.comment}}</span>
          <span *ngSwitchDefault class="not-specified">отсутствует</span>
        </dd>

        <dt><span>Причина отклонения</span></dt>
        <dd [ngSwitch]="!!request?.coordinator?.reasonForRejecting?.name">
          <span *ngSwitchCase="true">{{request?.coordinator?.reasonForRejecting?.name}}</span>
          <span *ngSwitchDefault class="not-specified">отсутствует</span>
        </dd>

      </dl>
    </div>


  </div>

  <div *ngIf="isError">
    <span class="text-danger fa fa-times-circle"></span> <span> Ошибка при загрузке карточки</span>
  </div>
</div>
