<cdp-loading-block [loadingStatus]="loading" [spinnerType]="'three-bounce'">
  <div success>
    <div *ngIf="isLoaded()">
      <div *blockUI="'block-ui-task'">

        <div>
          <h4>Информация</h4>
          <task-change-request-info [request]="request"></task-change-request-info>
        </div>

        <div class="panel panel-{{!request?.coordinator?.reasonForRejecting ? 'primary' : 'danger'}}">
          <div class="panel-heading">
            Статус заявки
          </div>
          <div class="panel-body">
            <div *ngIf="!request?.coordinator?.reasonForRejecting">
              Заявка на внесение изменений в объект согласована
            </div>
            <div *ngIf="request?.coordinator?.reasonForRejecting">
              Заявка на внесение изменений в объект отклонена
              <div *ngIf="request?.coordinator?.reasonForRejecting?.name">
                Причина отклонения: {{request?.coordinator?.reasonForRejecting?.name}}
              </div>
              <div *ngIf="request?.coordinator?.comment">
                Комментарий: {{request?.coordinator?.comment}}
              </div>
            </div>
          </div>
        </div>

        <form class="form-horizontal">
          <table class="table">
            <thead>
            <tr>
              <th>Поле</th>
              <th style="width: 35%">Старое значение</th>
              <th style="width: 35%">Новое значение</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="isShow('prefect')">
              <td><div class="row-label">Округ</div></td>
              <td class="doc-old">
                <ng-select [items]="dicts.prefects"
                           [multiple]="true"
                           bindLabel="name"
                           [disabled]="true"
                           [(ngModel)]="documentOld.obj.address.prefect" name="prefectOld">
                </ng-select>
              </td>
              <td class="doc-new">
                <ng-select [items]="dicts.prefects"
                           [multiple]="true"
                           bindLabel="name"
                           [disabled]="true"
                           [(ngModel)]="document.obj.address.prefect" name="prefect">
                </ng-select>
              </td>
            </tr>
            <tr *ngIf="isShow('district')">
              <td><div class="row-label">Район</div></td>
              <td class="doc-old">
                <ng-select [items]="dicts.districts"
                           [multiple]="true"
                           bindLabel="name"
                           [disabled]="true"
                           [(ngModel)]="documentOld.obj.address.district" name="districtOld">
                </ng-select>
              </td>
              <td class="doc-new">
                <ng-select [items]="dicts.districts"
                           [multiple]="true"
                           bindLabel="name"
                           [disabled]="true"
                           [(ngModel)]="document.obj.address.district" name="district">
                </ng-select>
              </td>
            </tr>
            <tr *ngIf="isShow('objectForm')">
              <td><div class="row-label">Тип объекта</div></td>
              <td class="doc-old space-normal">
                <ng-select [items]="dicts.mr_program_ObjectForms"
                           bindLabel="name"
                           [disabled]="true"
                           [(ngModel)]="documentOld.obj.objectForm" name="objectFormOld">
                </ng-select>
              </td>
              <td class="doc-new space-normal">
                <ng-select [items]="dicts.mr_program_ObjectForms"
                           bindLabel="name"
                           [disabled]="true"
                           [(ngModel)]="document.obj.objectForm" name="objectForm">
                </ng-select>
              </td>
            </tr>
            <tr *ngIf="isShow('addressId')">
              <td><div class="row-label">Адрес</div></td>
              <td class="doc-old space-normal">
                <div *ngIf="!!dicts.addressOldList">
                  <ng-select [items]="dicts.addressOldList"
                             [multiple]="false"
                             bindValue="code"
                             bindLabel="name"
                             [disabled]="true"
                             [(ngModel)]="documentOld.obj.address.addressId" name="addressIdOld">
                  </ng-select>
                </div>
              </td>
              <td class="doc-new space-normal">
                <div *ngIf="!!dicts.addressList">
                  <ng-select [items]="dicts.addressList"
                             [multiple]="false"
                             bindValue="code"
                             bindLabel="name"
                             [disabled]="true"
                             [(ngModel)]="document.obj.address.addressId" name="addressId">
                  </ng-select>
                </div>
              </td>
            </tr>
            <tr *ngIf="isShow('address')">
              <td><div class="row-label">Адресный ориентир</div></td>
              <td class="doc-old">
                  <textarea class="form-control"
                            [(ngModel)]="documentOld.obj.address.address"
                            [disabled]="true" name="addressOld"></textarea>
              </td>
              <td class="doc-new">
                  <textarea class="form-control"
                            [(ngModel)]="document.obj.address.address"
                            [disabled]="true" name="address"></textarea>
              </td>
            </tr>
            <tr *ngIf="isShow('industry')">
              <td><div class="row-label">Отрасль</div></td>
              <td class="doc-old space-normal">
                <ng-select [items]="dicts.industries"
                           [multiple]="false"
                           bindLabel="name"
                           [disabled]="true"
                           [(ngModel)]="documentOld.obj.object.industry" name="industryOld">
                </ng-select>
              </td>
              <td class="doc-new space-normal">
                <ng-select [items]="dicts.industries"
                           [multiple]="false"
                           bindLabel="name"
                           [disabled]="true"
                           [(ngModel)]="document.obj.object.industry" name="industry">
                </ng-select>
              </td>
            </tr>
            <tr *ngIf="isShow('kind')">
              <td><div class="row-label">Вид объекта</div></td>
              <td class="doc-old space-normal">
                <ng-select [items]="dicts.kinds"
                           [multiple]="false"
                           bindLabel="name"
                           [disabled]="true"
                           [(ngModel)]="documentOld.obj.object.kind" name="kindOld">
                </ng-select>
              </td>
              <td class="doc-new space-normal">
                <ng-select [items]="dicts.kinds"
                           [multiple]="false"
                           bindLabel="name"
                           [disabled]="true"
                           [(ngModel)]="document.obj.object.kind" name="kind">
                </ng-select>
              </td>
            </tr>
            <tr *ngIf="isShow('objectName')">
              <td><div class="row-label">Наименование объекта</div></td>
              <td class="doc-old">
                  <textarea class="form-control" [disabled]="true" name="objectNameOld"
                            [(ngModel)]="documentOld.obj.object.name"></textarea>
              </td>
              <td class="doc-new">
                  <textarea class="form-control" [disabled]="true" name="objectName"
                            [(ngModel)]="document.obj.object.name"></textarea>
              </td>
            </tr>
            <tr *ngIf="isShow('objectDescription')">
              <td><div class="row-label">Краткое описание объекта</div></td>
              <td class="doc-old">
                  <textarea class="form-control" [disabled]="true" name="objectDescriptionOld"
                            [(ngModel)]="documentOld.obj.object.description"></textarea>
              </td>
              <td class="doc-new">
                  <textarea class="form-control" name="objectDescription" [disabled]="true"
                            [(ngModel)]="document.obj.object.description"></textarea>
              </td>
            </tr>
            <tr *ngIf="isShow('organization')">
              <td><div class="row-label">Ответственный орган исполнительной власти</div></td>
              <td class="doc-old space-normal">
                <ng-select [items]="dicts.organizations"
                           [multiple]="false"
                           bindLabel="name"
                           [disabled]="true"
                           [(ngModel)]="documentOld.obj.responsible.organization" name="responsibleOrganizationOld">
                </ng-select>
              </td>
              <td class="doc-new space-normal">
                <ng-select [items]="dicts.organizations"
                           [multiple]="false"
                           bindLabel="name"
                           [disabled]="true"
                           [(ngModel)]="document.obj.responsible.organization" name="responsibleOrganization">
                </ng-select>
              </td>
            </tr>
            <tr *ngIf="isShow('ownership')">
              <td><div class="row-label">Форма собственности</div></td>
              <td class="doc-old space-normal">
                <ng-select [items]="dicts.organizations"
                           [multiple]="false"
                           bindLabel="name"
                           [disabled]="true"
                           [(ngModel)]="documentOld.obj.object.ownership" name="ownershipOld">
                </ng-select>
              </td>
              <td class="doc-new space-normal">
                <ng-select [items]="dicts.organizations"
                           [multiple]="false"
                           bindLabel="name"
                           [disabled]="true"
                           [(ngModel)]="document.obj.object.ownership" name="ownership">
                </ng-select>
              </td>
            </tr>
            <tr *ngIf="isShow('cadastralNumber')">
              <td><div class="row-label">Кадастровый номер земельного участка</div></td>
              <td class="doc-old">
                <div *ngFor="let cnOld of documentOld.obj.parameterZu.cadastralNumber; let i = index">
                  <input type="text" [disabled]="true" [ngModel]="cnOld" class="form-control"
                         [ngClass]="{'m-t-sm': i}" name="cadastralNumberOld_{{i}}" />
                </div>
              </td>
              <td class="doc-new">
                <div *ngFor="let cn of document.obj.parameterZu.cadastralNumber; let i = index">
                  <input type="text" [disabled]="true" [ngModel]="cn" class="form-control"
                         [ngClass]="{'m-t-sm': i}" name="cadastralNumber_{{i}}" />
                </div>
              </td>
            </tr>
            <tr  *ngIf="isShow('problem')">
              <td><div class="row-label">Проблемный объект</div></td>
              <td class="doc-old">
                <input cdp-icheck disabled type="checkbox" [value]="true"
                       [(ngModel)]="documentOld.obj.problem" name="objectProblemOld" />
              </td>
              <td class="doc-new">
                <div>
                  <input cdp-icheck disabled type="checkbox" [value]="true"
                         [(ngModel)]="document.obj.problem" name="objectProblem" />
                </div>
              </td>
            </tr>
            <tr  *ngIf="isShow('attraction')">
              <td><div class="row-label">Место притяжения</div></td>
              <td class="doc-old">
                <input cdp-icheck disabled type="checkbox" [value]="true"
                       [(ngModel)]="documentOld.obj.attraction" name="objectAttractionOld" />
              </td>
              <td class="doc-new">
                <div>
                  <input cdp-icheck disabled type="checkbox" [value]="true"
                         [(ngModel)]="document.obj.attraction" name="objectAttraction" />
                </div>
              </td>
            </tr>
            <tr  *ngIf="isShow('risk')">
              <td><div class="row-label">Риски публикации</div></td>
              <td class="doc-old">
                <textarea class="form-control" disabled [ngModel]="documentOld.obj.risk" name="riskOld"></textarea>
              </td>
              <td class="doc-new">
                <textarea class="form-control" disabled [(ngModel)]="document.obj.risk" name="risk"></textarea>
              </td>
            </tr>
            <tr *ngIf="isShow('comment')">
              <td><div class="row-label">Дополнительные сведения</div></td>
              <td class="doc-old">
                <textarea class="form-control" disabled [ngModel]="documentOld.obj.comment" name="commentOld"></textarea>
              </td>
              <td class="doc-new">
                <textarea class="form-control" disabled [(ngModel)]="document.obj.comment" name="comment"></textarea>
              </td>
            </tr>
            </tbody>
          </table>
        </form>

        <div class="clearfix m-t">
          <div class="pull-right">
            <button class="btn btn-primary m-r-sm" (click)="finish()">Ознакомлен</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</cdp-loading-block>
