<div style="min-height: 300px">
  <cdp-spinner *ngIf="isLoading" [type]="'three-bounce'"></cdp-spinner>

  <div *ngIf="!isLoading && !isError">
    <program-publication-request-header></program-publication-request-header>
    <div class="animated fadeIn">
      <tabset>
        <tab *ngFor="let tab of tabs"
             [heading]="tab.name"
             [id]="tab.code"
             (select)="tabChange(tab.code)"
             [active]="isActiveTab(tab.code)"></tab>
      </tabset>
      <div class="clearfix m-t-sm m-b">

        <program-publication-request-main
          *ngIf="activeTab === 'main'"></program-publication-request-main>

        <program-publication-request-process
          *ngIf="activeTab === 'process'"></program-publication-request-process>

        <program-publication-request-json
          *ngIf="activeTab === 'json'"></program-publication-request-json>

        <program-publication-request-log
          *ngIf="activeTab === 'log'"></program-publication-request-log>

      </div>
    </div>
  </div>

  <div *ngIf="isError">
    <span class="text-danger fa fa-times-circle"></span> <span> Ошибка при загрузке карточки</span>
  </div>
</div>
