<div class="modal-header">
  <h5 class="modal-title">Результат</h5>
</div>
<div class="modal-body">

  <div class="row">
    <div class="col-lg-3 col-md-3 col-xs-3">
      Результат
    </div>
    <div class="col-lg-9 col-md-9 col-xs-9">
      <div>
        Количество обработанных документов Работа: {{resultMsg.total.num}}
      </div>
      <div *ngIf="resultMsg.total.error">
        {{resultMsg.total.error}}
      </div>
    </div>
  </div>

  <div class="row m-t-md" *ngIf="resultMsg.total.work.length > 0">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th class="center col-md-2">№ п/п</th>
            <th class="center">Идентификатор Работы</th>
            <th class="center">Наименование ошибки</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let work of resultMsg.total.work; let index = index;">
            <td>{{index + 1}}</td>
            <td>{{work.id}}</td>
            <td>{{work.message}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-default" type="button" (click)="ok()">OK</button>
</div>
