<div *blockUI="'link-plan-work-object'">
  <h2 class="m-b-md">Отправить данные</h2>

  <form class="form-horizontal m-t-md">
    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-3 control-label">
        Номер мастер-плана <span class="our-mandatory">*</span>
      </label>
      <div class="col-lg-7 col-md-8 col-sm-9">
        <input class="form-control" [(ngModel)]="planNumber" name="planNumber">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-3 control-label">
        Идентификаторы работ <span class="our-mandatory">*</span>
      </label>
      <div class="col-lg-7 col-md-8 col-sm-9">
        <textarea class="form-control" [(ngModel)]="workIds" name="workIds"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-3 control-label">
        Выбор действия
      </label>
      <div class="col-lg-7 col-md-8 col-sm-9">
        <div>
          <label><input cdp-icheck type="radio" [(ngModel)]="isLinked" [value]="true" name="isLinked"/><span class="m-l-md">Связать</span></label>
        </div>
        <div>
          <label><input cdp-icheck type="radio" [(ngModel)]="isLinked" [value]="false" name="isLinked"/><span class="m-l-md">Отвязать</span></label>
        </div>
      </div>
    </div>
  </form>

  <div class="form-group">
    <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3" col-lg-7 col-md-8 col-sm-9>
      <button class="btn btn-primary m-r-sm" (click)="linkPlan()" [disabled]="!planNumber || !workIds">Выполнить
      </button>
      <button class="btn btn-danger m-r-sm" (click)="cancel()">Отмена</button>
    </div>
  </div>
</div>
