<div *blockUI="'process-create-form'">
  <div class="form-horizontal clearfix">
    <div class="font-bold">Вы действительно хотите запустить процесс по созданию уникального объекта?</div>
    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
      <div class="col-lg-9 col-md-9 col-sm-9 text-right">
        <button type="button" class="btn btn-primary m-l-sm" (click)="start()">Ок</button>
        <button type="button" class="btn btn-white m-l-sm" (click)="cancel()">Отмена</button>
      </div>
    </div>
  </div>
</div>
