<table>
  <tbody>
    <tr *ngFor="let item of items">
      <td style="vertical-align: top"><b class="m-r-md">{{item.date| date: 'dd.MM.yyyy'}}</b></td>
      <td>
        <div><b><a href="{{item.href}}">{{item.name}}</a></b></div>
        <div><b>{{item.description}}</b></div>

        <div class="clearfix m-t-md m-l-md" *ngFor="let question of item.questions">
          <i class="fa fa-question grey-icon"></i>
          <div><b><a href="{{question.href}}">{{question.name}}</a></b></div>
          <div *ngIf="question.speaker">Докладчик: {{question.speaker}}</div>

          <div class="m-t-sm" *ngFor="let resolution of question.resolutions">
            <div class="col-lg-8 col-md-8">
              <i class="fa fa-{{resolution.icon}} grey-icon"></i>
              <b>{{resolution.name}}</b>
            </div>
            <div class="col-lg-2 col-md-2 text-center">
              <div class="label label-{{resolution.statusColor}}">{{resolution.status}}</div>
              <div class="m-t-xs" *ngIf="resolution.statusDate">{{resolution.statusDate | date: 'dd.MM.yyyy'}}</div>
            </div>
            <div class="col-lg-2 col-md-2 text-center"><b>{{resolution.author}}</b></div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
