<div class="container-fluid searchFilter animated fadeIn" *ngIf="filter" [hidden]="!expanded">
  <div class="m-l-sm m-t-md" style="margin-left: 15px;">

    <!-- TODO filter fields -->
    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Округ</div>
      <div class="col-md-9">
        <ng-select [items]="list.Prefect"
                   [multiple]="true"
                   [closeOnSelect]="true"
                   [hideSelected]="true"
                   bindValue="name"
                   bindLabel="name"
                   placeholder="Округ"
                   (change)="onFilterChange()"
                   dropdownPosition="bottom"
                   [(ngModel)]="filter.prefectsNameObject" name="prefect">
        </ng-select>
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Район</div>
      <div class="col-md-9">
        <ng-select [items]="list.availableDistricts"
                   [multiple]="true"
                   [closeOnSelect]="true"
                   [hideSelected]="true"
                   bindValue="name"
                   bindLabel="name"
                   placeholder="Район"
                   (change)="onFilterChange()"
                   dropdownPosition="bottom"
                   [(ngModel)]="filter.districtsNameObject" name="district">
        </ng-select>
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Тип элемента</div>
      <div class="col-md-9">
        <ng-select [items]="list.mr_program_ItemTypes"
                   [multiple]="true"
                   [closeOnSelect]="true"
                   [hideSelected]="true"
                   bindValue="name"
                   bindLabel="name"
                   placeholder="Тип элемента"
                   (change)="onFilterChange()"
                   dropdownPosition="bottom"
                   [(ngModel)]="filter.itemTypeNameObject" name="itemType">
        </ng-select>
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Тип объекта</div>
      <div class="col-md-9">
        <ng-select [items]="list.mr_program_ObjectForms"
                   [multiple]="true"
                   [closeOnSelect]="true"
                   [hideSelected]="true"
                   bindValue="name"
                   bindLabel="name"
                   placeholder="Тип объекта"
                   (change)="onFilterChange()"
                   dropdownPosition="bottom"
                   [(ngModel)]="filter.objectFormNameObject" name="objectForm">
        </ng-select>
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Адрес или адресный ориентир</div>
      <div class="col-md-9">
        <input type="text" [(ngModel)]="filter.addressObject" class="form-control" name="address" (change)="onFilterChange()"/>
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Отрасль</div>
      <div class="col-md-9">
        <ng-select [items]="list.mr_program_ObjectIndustries"
                   [multiple]="true"
                   [closeOnSelect]="true"
                   [hideSelected]="true"
                   bindValue="name"
                   bindLabel="name"
                   placeholder="Отрасль"
                   (change)="onFilterChange()"
                   [(ngModel)]="filter.industryNameObject" name="objectForm">
        </ng-select>
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Вид объекта или мероприятия</div>
      <div class="col-md-9">
        <ng-select [items]="list.availableKinds"
                   [multiple]="true"
                   [closeOnSelect]="true"
                   [hideSelected]="true"
                   bindValue="name"
                   bindLabel="name"
                   placeholder="Вид объекта или мероприятия"
                   (change)="onFilterChange()"
                   [(ngModel)]="filter.kindNameObject" name="objectType">
        </ng-select>
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Наименование объекта или мероприятия</div>
      <div class="col-md-9">
        <input type="text" [(ngModel)]="filter.nameObject" class="form-control" name="nameObject" (change)="onFilterChange()"/>
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Ответственный орган исполнительной власти</div>
      <div class="col-md-9">
        <ng-select [items]="list.mr_program_ResponsibleOrganizations"
                   [multiple]="true"
                   [closeOnSelect]="true"
                   [hideSelected]="true"
                   bindValue="name"
                   bindLabel="name"
                   placeholder="Ответственный орган исполнительной власти"
                   (change)="onFilterChange()"
                   [(ngModel)]="filter.organizationNameObject" name="organizationName">
        </ng-select>
      </div>
    </div>

    <!--<div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Включен в программу "Мой район"</div>
      <div class="col-md-9">
        <label *ngFor="let inc of incList" class="m-r-md">
          <input cdp-icheck type="radio"
                 [(ngModel)]="filter.inclusionObject"
                 [value]="inc.code"
                 name="inclusion"
                 (ngModelChange)="onFilterChange()">
          {{inc.name}}
        </label>
      </div>
    </div>-->

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Проблемый объект или мероприятие</div>
      <div class="col-md-9" *ngIf="!cleaning">
        <input cdp-icheck type="checkbox"
               [(ngModel)]="filter.problemObject"
               name="problem"
               (ngModelChange)="onFilterChange()">
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Место притяжения</div>
      <div class="col-md-9" *ngIf="!cleaning">
        <input cdp-icheck type="checkbox"
               [(ngModel)]="filter.attractionObject"
               name="attraction"
               (ngModelChange)="onFilterChange()">
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">К публикации на открытых информационных ресурсах</div>
      <div class="col-md-9" *ngIf="!cleaning">
        <input cdp-icheck type="checkbox"
               [(ngModel)]="filter.publicObject"
               name="public"
               (ngModelChange)="onFilterChange()">
      </div>
    </div>

    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title">Объект культурного наследия</div>
      <div class="col-md-9" *ngIf="!cleaning">
        <input cdp-icheck type="checkbox"
               [(ngModel)]="filter.oknObject"
               name="oknObject"
               (ngModelChange)="onFilterChange()">
      </div>
    </div>


    <!-- Buttons -->
    <div class="row m-t-sm m-l-xs">
      <div class="col-md-3 title"></div>
      <div class="col-md-9">
        <button class="btn btn-white btn-sm" (click)="clearFilters()">Очистить</button>
      </div>
    </div>
  </div>
</div>
