<div class="clearfix">
  <h2 class="font-bold pull-left">{{ru.showcaseCaption}}</h2>
  <div class="pull-right">
    <a class="btn btn-default" (click)="create()" *ngIf="showCreateBtn"><i
      class="fa fa-plus"></i> Создать объект или мероприятие</a>
  </div>
</div>
<rayon-program-common-search-showcase [value]="commonSearch" (valueChanged)="onCommonSearchChange($event)"></rayon-program-common-search-showcase>

<div class="container-fluid m-t-xs no-padding">
  <div class="pull-left">
    <p class="m-t-xs">Найдено — <b>{{pagination.totalItems}}</b>
      <span *ngIf="block" class="m-l-sm"><i style="font-size:18px" class="fa fa-spinner fa-spin fa-1x fa-fw"></i></span>
    </p>
  </div>
  <div class="pull-right">
    <button type="button" class="btn btn-white"
            (click)="advancedSearchExpand = !advancedSearchExpand" [disabled]="isLoading">
      <i class="fa fa-filter" [ngClass]="{'text-success': !filter.isEmpty()}"></i>
      Расширенный поиск
    </button>
    <div class="btn-group m-l-xs" dropdown placement="bottom right" [autoClose]="true">
      <button dropdownToggle
              type="button"
              id="dropdown-columns-btn"
              aria-controls="dropdown-columns-basic"
              class="btn btn-white dropdown-toggle"
              title="Настройка колонок"><i class="fa fa-columns"></i></button>
      <div class="dropdown-menu dropdown-menu-right"
           *dropdownMenu
           id="dropdown-columns-basic"
           aria-labelledby="dropdown-columns-btn"
           role="menu">
        <table>
          <tr *ngFor="let sCheck of sortings">
            <td><input cdp-icheck type="checkbox" [(ngModel)]="sCheck.show" (ngModelChange)="updateLocalSortings();"></td>
            <td>{{sCheck.name}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="animated fadeIn m-t-md" *ngIf="!isLoading">
  <rayon-program-showcase-filter [filter]="filter"
                                 [list]="list"
                                 [expanded]="advancedSearchExpand"
                                 (filterChanged)="filterChanged()"
                                 (filterCleared)="filterCleared()"></rayon-program-showcase-filter>
</div>

<div *ngIf="dataIsUpdating" style="height: 50px;" class="m-t-sm text-center">
  <cdp-spinner [type]="'three-bounce'"></cdp-spinner>
</div>

<div *ngIf="!dataIsUpdating" class="m-t-sm">
  <div style="overflow-x: auto; overflow-y: hidden">
    <div class="table-overflow-container" style="overflow-y: hidden">
      <table class="table search-result-table table-striped table-hover"
             style="font-size:14px;color: #676a6c;">
        <thead>
          <tr style="border-top: 1px solid #f0f0f0;font-weight:600;">
            <th style="cursor: pointer;outline: none;" *ngFor="let s of getSortings()" (click)="sotringChanged(s)">
              <table>
                <tr>
                  <td>{{s.name}}</td>
                  <td>
                    <span *ngIf="s.value === 'none'" class="fa fa-angle-down m-l-xs"></span>
                    <span *ngIf="s.value === 'desc'" class="fa fa-caret-down m-l-xs"></span>
                    <span *ngIf="s.value === 'asc'" class="fa fa-caret-up m-l-xs"></span>
                  </td>
                </tr>
              </table>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="docs.length === 0">
            <td style="text-align: center" colspan="10">
              <span class="text-warning" style="font-size: 20px">Ничего не найдено</span>
            </td>
          </tr>
          <tr *ngFor="let d of docs" [ngClass]="{'font-bold': d.sampleObject === 'true'}"><!-- (click)="goToCard(d.documentId)" style="cursor: pointer"-->
            <td *ngFor="let s of getSortings()">
              <a uiSref="{{cardStateName}}" [uiParams]="{id: d.documentId}" [ngSwitch]="s.code">
                <div *ngSwitchCase="'prefectsNameObject'">
                  <span *ngFor="let prefect of d.prefectsNameObject; let i = index;">{{i ? ', ' : ''}}{{prefect}}</span>
                </div>
                <div *ngSwitchCase="'districtsNameObject'">
                  <span *ngFor="let district of d.districtsNameObject; let i = index;">{{i ? ', ' : ''}}{{district}}</span>
                </div>
                <div *ngSwitchCase="'kindNameObject'">
                  <div>{{d.industryNameObject}}</div>
                  <div>{{d.kindNameObject}}</div>
                </div>
                <div *ngSwitchCase="'nameObject'">{{d.nameObject}}</div>
                <div *ngSwitchCase="'addressObject'">{{d.addressObject}}</div>
                <div *ngSwitchCase="'organizationNameObject'">{{d.organizationNameObject}}</div>
                <div *ngSwitchCase="'attractionObject'" class="text-center">
                  <span [ngSwitch]="d.attractionObject">
                    <span *ngSwitchCase="'true'">Да</span>
                    <span *ngSwitchDefault>Нет</span>
                  </span>
                </div>
                <div *ngSwitchCase="'problemObject'" class="text-center">
                  <span [ngSwitch]="d.problemObject">
                    <span *ngSwitchCase="'true'">Да</span>
                    <span *ngSwitchDefault>Нет</span>
                  </span>
                </div>
                <div *ngSwitchCase="'itemTypeNameObject'" class="text-center">{{d.itemTypeNameObject}}</div>

              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div style="text-align: center" *ngIf="pagination.totalItems > pagination.itemsPerPage">
        <pagination [totalItems]="pagination.totalItems"
                    [(ngModel)]="pagination.currentPage"
                    [firstText]="'Первая'"
                    [lastText]="'Последняя'"
                    [previousText]="'Предыдущая'"
                    [nextText]="'Следующая'"
                    [rotate]="true"
                    (pageChanged)="changePage($event)"
                    [itemsPerPage]="pagination.itemsPerPage"
                    [boundaryLinks]="true"
                    [maxSize]="3"
                    class="m-b-xs"></pagination>
      </div>
    </div>
  </div>
</div>

