<div class="search-form">
  <form>
    <div class="input-group">
      <input placeholder="Адрес или наименование объекта или мероприятия" name="value" class="form-control input-lg" [(ngModel)]="value" (change)="searchChanged()">
      <div class="input-group-btn">
        <button type="button" class="btn btn-lg btn-primary" (click)="searchChanged()">Найти</button>
      </div>
    </div>
  </form>
</div>
