::ng-deep .search-result-table {
  tbody {
    a {
      color: #676a6c;
    }
  }
}
.float-right {
  float: right;
}

.dropdown-menu.dropdown-menu-right {
  right: 0;
  left: auto;
  padding: 10px 5px;
  table {
    td {
      padding: 2px 5px;
      white-space: nowrap;
    }
  }
}
