<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Фотографии до
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9">
    <cdp-ex-file-manager [(files)]="files.photobefore"
                         [fileType]="'photobefore'"
                         [folderGuid]="model?.folderId"
                         [extPattern]="'jpg, jpeg, png'"
                         [downloadable]="true"
                         [deletable]="true"
                         [openable]="!!model?.documentId"
                         [showSize]="true"
                         [onRemove]="onRemoveFile"
                         (onChanged)="filesOnChange('photobefore')"
                         [baseMode]="!model.folderId"
                         [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Фотографии после
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9">
    <cdp-ex-file-manager [(files)]="files.photoafter"
                         [fileType]="'photoafter'"
                         [folderGuid]="model?.folderId"
                         [extPattern]="'jpg, jpeg, png'"
                         [downloadable]="true"
                         [deletable]="true"
                         [openable]="true"
                         [showSize]="true"
                         [onRemove]="onRemoveFile"
                         (onChanged)="filesOnChange('photoafter')"
                         [baseMode]="!model.folderId"
                         [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Фотография (mos.ru)
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9">
    <cdp-ex-file-manager [(files)]="files.photomosru"
                         [fileType]="'photomosru'"
                         [folderGuid]="model?.folderId"
                         [extPattern]="'jpg, jpeg, png'"
                         [downloadable]="true"
                         [deletable]="true"
                         [openable]="true"
                         [showSize]="true"
                         [onRemove]="onRemoveFile"
                         (onChanged)="filesOnChange('photomosru')"
                         [baseMode]="!model.folderId"
                         [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Дополнительные материалы
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9">
    <cdp-ex-file-manager [(files)]="files.addmaterial"
                         [fileType]="'addmaterial'"
                         [folderGuid]="model?.folderId"
                         [extPattern]="'csv, doc, docx, jpeg, jpg, pdf, png, ppt, pptx, rar, sig, txt, xml, zip, mov, mp4'"
                         [downloadable]="true"
                         [deletable]="true"
                         [openable]="true"
                         [showSize]="true"
                         [onRemove]="onRemoveFile"
                         (onChanged)="filesOnChange('addmaterial')"
                         [baseMode]="!model.folderId"
                         [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
  </div>
</div>

<h4>3D объект</h4>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Изображение объекта
  </label>
  <div class="col-lg-9 col-md-9 col-sm-9">
    <cdp-ex-file-manager [(files)]="files.image"
                         [fileType]="'image'"
                         [folderGuid]="model?.folderId"
                         [extPattern]="'png, svg'"
                         [downloadable]="!files?.image?.length"
                         [deletable]="true"
                         [openable]="true"
                         [showSize]="true"
                         [onRemove]="onRemoveFile"
                         (onChanged)="filesOnChange('image')"
                         [baseMode]="!model.folderId"
                         [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
  </div>
</div>

<h4>Геокоординаты центра изображения 3D-объекта</h4>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">EPSG</label>
  <div class="col-lg-3 col-md-3 col-sm-3">
    <input type="text" class="form-control" name="location3D_epsg" [(ngModel)]="model.materials.location3D.EPSG">
  </div>
  <label class="col-lg-1 col-md-1 col-sm-1 control-label">X</label>
  <div class="col-lg-2 col-md-2 col-sm-2">
    <input type="text" class="form-control" name="location3D_x"
           [(ngModel)]="model.materials.location3D.x"
           [textMask]="{mask: helper.maskDecimal.bind(this), pipe: degPipeX.bind(this)}">
  </div>
  <label class="col-lg-1 col-md-1 col-sm-1 control-label">Y</label>
  <div class="col-lg-2 col-md-2 col-sm-2">
    <input type="text" class="form-control" name="location3D_y"
           [(ngModel)]="model.materials.location3D.y"
           [textMask]="{mask: helper.maskDecimal.bind(this), pipe: degPipeY.bind(this)}">
  </div>
</div>
