<h4>Информация</h4>
<div class="description">
  <dl class="dl-horizontal">
    <dt><span>Округ</span></dt>
    <dd>{{prefect}}</dd>
    <dt><span>Район</span></dt>
    <dd>{{request.request.district.name}}</dd>
    <dt><span>Отрасль</span></dt>
    <dd>{{request.request.industry.name}}</dd>
    <dt><span>Ответственная организация</span></dt>
    <dd>{{request.request.organization.name}}</dd>
  </dl>
</div>
