<div class="m-b-md">
  <cdp-breadcrumbs></cdp-breadcrumbs>
</div>

<cdp-loading-block [loadingStatus]="loadingStatus" [spinnerType]="'three-bounce'">
  <div success *ngIf="!isLoading">
    <div *blockUI="'new-work-type'" class="clearfix">
      <program-form-work-type [model]="document"
                              [validate]="validate"
                              [itemCode]="itemCode"
                              [objectId]="objectId"></program-form-work-type>
      <form class="form-horizontal m-t-md">
        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <button type="button" class="btn btn-primary m-r-sm" (click)="save()">Сохранить</button>
            <button type="button" class="btn btn-white m-r-sm" (click)="cancel()">Отмена</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</cdp-loading-block>
