<div class="m-b-md">
  <cdp-breadcrumbs></cdp-breadcrumbs>
</div>

<div class="page-heading" style="padding-left: 0; padding-right: 0">
  <div class="clearfix">
    <div class="pull-right m-t-xs m-l text-right">
      <div>
        <!--<object-adjustment-btn [document]="document" [className]="'m-l-sm'" *ngIf="modeParam === 'view'"></object-adjustment-btn>-->
        <object-to-archive-btn [document]="document" [className]="'m-l-sm'" *ngIf="isShow.archiveObjectBtn"></object-to-archive-btn>
        <button type="button" class="btn btn-white text-danger m-l-sm"
                (click)="delete()" *ngIf="isShow.removeObjectBtn"><i class="fas fa-trash-alt m-r-xs"></i> Удалить</button>
      </div>
      <!--<div *ngIf="isShow.editObjectBtn" class="m-t-xs">
        <a uiSref="{{getCurrentStateName()}}"
           [uiParams]="{id: documentId, mode: 'edit'}"
           class="btn btn-default m-l-sm"
           title="Редактировать"
           *ngIf="modeParam === 'view'"><i class="fa fa-pencil-square-o text-primary m-r-xs"></i> Редактировать</a>
        <a uiSref="{{getCurrentStateName()}}"
           [uiParams]="{id: documentId, mode: 'view'}"
           class="btn btn-default m-l-sm"
           title="Выйти из режима редактирования"
           *ngIf="modeParam === 'edit'"><i class="fas fa-sign-out-alt text-primary"></i></a>
      </div>-->
    </div>
    <div>
      <h3 class="font-bold m-b-sm" style="line-height: 1.3em">
        <span class="m-r-md">{{h3}}</span>
        <!--<span *ngIf="document?.mos?.public" class="label label-success">Согласовано для публикации на карте mos.ru</span>-->
      </h3>
      <div class="m-b-sm" *ngIf="works?.length" style="line-height: 2em">
        <span *ngFor="let work of works; let i = index">{{i ? ', ' : ''}}{{work.name}}:
          <span *ngIf="work.execution?.start || work.execution?.finish">
            {{work.execution?.start}}
            {{work.execution?.start ? ' - ' : ''}}
            {{work.execution?.finish}} г{{work.execution?.start && work.execution?.finish ? 'г' : ''}}
          </span>
          <span *ngIf="workStatusColors && work.status?.name" class="label label-{{workStatusColors[work.status?.code]}}">{{work.status?.name}}</span>
        </span>
      </div>

      <div>
        <labels [document]="document" [docTypes]="'MR_PROGRAM_OBJ'"></labels>
      </div>

    </div>
  </div>
</div>
