<cdp-spinner *ngIf="isLoading" [type]="'three-bounce'"></cdp-spinner>
<div *ngIf="!isLoading">
  <h4>Связанные объекты</h4>
  <table class="table">
    <thead>
    <tr>
      <th>Адрес</th>
      <th>Наименование объекта</th>
      <th>Тип объекта</th>
      <th>Ответственная организация</th>
      <th *ngIf="!readOnly"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of objects">
      <td>
        <a uiSref="app.object.card.main" [uiParams]="{id: row.documentId}" *ngIf="readOnly">{{row.addressObject}}</a>
        <span *ngIf="!readOnly">{{row.addressObject}}</span>
      </td>
      <td>
        <a uiSref="app.object.card.main" [uiParams]="{id: row.documentId}" *ngIf="readOnly">{{row.nameObject}}</a>
        <span *ngIf="!readOnly">{{row.nameObject}}</span>
      </td>
      <td>
        <a uiSref="app.object.card.main" [uiParams]="{id: row.documentId}" *ngIf="readOnly">{{row.kindNameObject}}</a>
        <span *ngIf="!readOnly">{{row.kindNameObject}}</span>
      </td>
      <td>
        <a uiSref="app.object.card.main" [uiParams]="{id: row.documentId}"
           *ngIf="readOnly">{{row.organizationNameObject}}</a>
        <span *ngIf="!readOnly">{{row.organizationNameObject}}</span>
      </td>
      <td *ngIf="!readOnly" class="text-center">
        <button type="button" class="btn btn-white"
                title="Удалить связь"
                [disabled]="row.linking"
                (click)="remove(row)">
          <i class="fa fa-chain-broken text-danger" *ngIf="!row.linking"></i>
          <i class="fa fa-spinner fa-spin" *ngIf="row.linking"></i>
        </button>
      </td>
    </tr>
    <tr *ngIf="!objects.length">
      <td colspan="5" class="text-center">Объекты отсутствуют</td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="!readOnly">
    <div class="clearfix">
      <div class="pull-right" *ngIf="showCreateBtn">
        <a uiSref="app.object.new" [uiParams]="objectParams" type="button" class="btn btn-primary">
          <i class="fa fa-plus m-r-xs"></i> Создать объект
        </a>
      </div>
      <h4>Кандидаты на привязку</h4>
    </div>

    <table class="table">
      <thead>
      <tr>
        <th>Адрес</th>
        <th>Наименование объекта</th>
        <th>Тип объекта</th>
        <th>Ответственная организация</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of candidates">
        <td>{{row.addressObject}}</td>
        <td>{{row.nameObject}}</td>
        <td>{{row.kindNameObject}}</td>
        <td>{{row.organizationNameObject}}</td>
        <td class="text-center">
          <button type="button" class="btn btn-white"
                  title="Установить связь"
                  *ngIf="!hasLink(row.documentId)"
                  [disabled]="row.linking"
                  (click)="add(row)">
            <i class="fa fa-chain text-primary" *ngIf="!row.linking"></i>
            <i class="fa fa-spinner fa-spin" *ngIf="row.linking"></i>
          </button>
          <button type="button" class="btn btn-white"
                  title="Удалить связь"
                  *ngIf="hasLink(row.documentId)"
                  [disabled]="row.linking"
                  (click)="remove(row)">
            <i class="fa fa-chain-broken text-danger" *ngIf="!row.linking"></i>
            <i class="fa fa-spinner fa-spin" *ngIf="row.linking"></i>
          </button>
        </td>
      </tr>
      <tr *ngIf="!candidates.length">
        <td colspan="5" class="text-center">Кандидаты на привязку отсутствуют</td>
      </tr>
      </tbody>
    </table>

    <!--<div class="clearfix">
      <div class="pull-right">
        <button class="btn btn-white m-l-sm"
                (click)="saveData()"
                [ladda]="saving"
                data-spinner-size="18"
                data-spinner-color="#FFF"
                data-style="expand-right">Сохранить данные</button>
      </div>
    </div>-->
  </div>
</div>
