<cdp-spinner *ngIf="isLoading" [type]="'three-bounce'"></cdp-spinner>
<div *ngIf="!isLoading">
  <div class="clearfix m-b-sm">
    <div class="pull-right">
      <a uiSref="app.object.workTypeForm"
         [uiParams]="{objectId: document.documentId}"
         class="btn btn-white" *ngIf="showButtons && isShow.add"><i class="fa fa-plus m-r-xs"></i> Добавить работу</a>
    </div>
    <div class="pull-left">
      <h3>Работы на объекте</h3>
    </div>
  </div>
  <div class="clearfix">
    <div *ngFor="let work of works; let i = index" class="m-b-xs" style="position: relative">
      <cdp-expanded-section [(expand)]="expanded.work[i]">
        <span header-slot>
          {{work?.type?.name || 'Вид работы не определен'}}
          <span *ngIf="workStatusColors && work.status?.code" class="label label-{{workStatusColors[work.status?.code]}}">{{work.status?.name}}</span>
          <!--<labels [document]="work" [fields]="'status'" [docTypes]="'MR_PROGRAM_WORK'" [inline]="true"></labels>-->
        </span>
        <div content-slot class="m-l-sm m-t-md" style="margin-left: 15px;">
          <h4>Общие сведения о работе</h4>
          <div class="description">
            <dl class="dl-horizontal m-l-md">
              <dt *ngIf="document?.itemType?.code === 'object'"><span>Вид работ</span></dt>
              <dd *ngIf="document?.itemType?.code === 'object'">
                <span [ngSwitch]="!!work?.type?.name">
                  <span *ngSwitchCase="true">{{work?.type?.name}}</span>
                  <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
                </span>
              </dd>

              <dt><span>Состав работы</span></dt>
              <dd [ngSwitch]="!!work?.name">
                <span *ngSwitchCase="true">{{work?.name}}</span>
                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
              </dd>

              <dt><span style="font-weight: bold">Состав работы (mos.ru)</span></dt>
              <dd [ngSwitch]="!!work?.mos?.name">
                <span *ngSwitchCase="true">{{work?.mos?.name}}</span>
                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
              </dd>

              <!--<dt *ngIf="!!work?.addressId && !work?.address"><span>Адрес</span></dt>
              <dd *ngIf="!!work?.addressId && !work?.address">{{addressList[work?.addressId]}}</dd>-->

              <dt *ngIf="!!work?.address">
                <span [ngSwitch]="!!work?.addressId">
                  <span *ngSwitchCase="true">Адрес</span>
                  <span *ngSwitchDefault>Адресный ориентир</span>
                </span>
              </dt>
              <dd *ngIf="!!work?.address">{{work?.address}}</dd>

              <dt><span>Ответственный исполнитель</span></dt>
              <dd [ngSwitch]="!!work?.organization?.name">
                <span *ngSwitchCase="true">{{work?.organization?.name}}</span>
                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
              </dd>

              <dt><span>Плановый срок начала работ</span></dt>
              <dd [ngSwitch]="!!work?.execution?.start">
                <span *ngSwitchCase="true">{{work?.execution?.start}}</span>
                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
              </dd>

              <dt><span>Плановый срок окончания работ</span></dt>
              <dd [ngSwitch]="!!work?.execution?.finish">
                <span *ngSwitchCase="true">{{work?.execution?.finish}}</span>
                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
              </dd>

              <dt *ngIf="work.type?.code === 'building' || work.type?.code === 'reconstruction'"><span>Период проектирования</span></dt>
              <dd *ngIf="work.type?.code === 'building' || work.type?.code === 'reconstruction'"
                  [ngSwitch]="!!work?.psd?.start || !!work?.psd?.finish">
                <span *ngSwitchCase="true">{{work?.psd?.start}} - {{work?.psd?.finish}}</span>
                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
              </dd>

              <dt *ngIf="work.type?.code === 'building' || work.type?.code === 'reconstruction'"><span>Период выполнения работ</span></dt>
              <dd *ngIf="work.type?.code === 'building' || work.type?.code === 'reconstruction'"
                  [ngSwitch]="!!work?.smr?.start || !!work?.smr?.finish">
                <span *ngSwitchCase="true">{{work?.smr?.start}} - {{work?.smr?.finish}}</span>
                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
              </dd>

              <dt *ngIf="isMosRu"><span style="font-weight: bold">Текущая стадия работ (mos.ru)</span></dt>
              <dd *ngIf="isMosRu" [ngSwitch]="!!work?.mos?.status">
                <span *ngSwitchCase="true">{{work?.mos?.status}}</span>
                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
              </dd>

              <dt *ngIf="isMosRu"><span style="font-weight: bold">Плановые сроки работ (mos.ru)</span></dt>
              <dd *ngIf="isMosRu" [ngSwitch]="!!work?.mos?.execution">
                <span *ngSwitchCase="true">{{work?.mos?.execution}}</span>
                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
              </dd>

              <!--<dt><span>Координаты</span></dt>
              <dd [ngSwitch]="!!work?.coordinate">
                <span *ngSwitchCase="true">{{work?.coordinate}}</span>
                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
              </dd>-->

              <dt><span>Текущая стадия работ</span></dt>
              <dd [ngSwitch]="!!work?.status?.name">
                <span *ngSwitchCase="true">{{work?.status?.name}}</span>
                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
              </dd>

            </dl>
          </div>

          <cdp-expanded-section [(expand)]="expanded.progress[i]">
            <span header-slot>Информация о ходе работ</span>
            <div content-slot class="m-t-md m-l-md">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Стадия</th>
                    <th>Дополнительные поля</th>
                    <th>Дополнительная информация</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of getSortedProgress(work), let pi = index">
                    <td>{{p.stage?.name}}</td>
                    <td>
                      <div class="description">
                        <dl class="dl-horizontal" style="margin: 0">

                          <ng-container *ngIf="isShowField('bargainNumberEaist', work, pi)">
                            <dt><span>Реестровый номер торгов ЕАИСТ</span></dt>
                            <dd [ngSwitch]="!!p.bargainNumberEaist">
                              <span *ngSwitchCase="true">{{p.bargainNumberEaist}}</span>
                              <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
                            </dd>
                          </ng-container>

                          <ng-container *ngIf="isShowField('registryNumberEaist', work, pi)">
                            <dt><span>Реестровый номер контракта ЕАИСТ</span></dt>
                            <dd [ngSwitch]="!!p.registryNumberEaist">
                              <span *ngSwitchCase="true">{{p.registryNumberEaist}}</span>
                              <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
                            </dd>
                          </ng-container>


                          <ng-container *ngIf="isShowField('itemNumber', work, pi)">
                            <dt><span>Номер лота</span></dt>
                            <dd [ngSwitch]="!!p.itemNumber">
                              <span *ngSwitchCase="true">{{p.itemNumber}}</span>
                              <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
                            </dd>
                          </ng-container>

                          <ng-container *ngIf="isShowField('executionFactStart', work, pi)">
                            <dt><span>Фактический срок начала работ</span></dt>
                            <dd [ngSwitch]="!!p.executionFactStart">
                              <span *ngSwitchCase="true">{{p.executionFactStart | date: 'dd.MM.yyyy'}}</span>
                              <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
                            </dd>
                          </ng-container>

                          <ng-container *ngIf="isShowField('executionFactFinish', work, pi)">
                            <dt><span>Фактический срок окончания работ</span></dt>
                            <dd [ngSwitch]="!!p.executionFactFinish">
                              <span *ngSwitchCase="true">{{p.executionFactFinish | date: 'dd.MM.yyyy'}}</span>
                              <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
                            </dd>
                          </ng-container>

                          <ng-container *ngIf="isShowField('cancelReason', work, pi)">
                            <dt><span>Причина отмены работ</span></dt>
                            <dd [ngSwitch]="!!p.cancelReason">
                              <span *ngSwitchCase="true">{{p.cancelReason?.name}}</span>
                              <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
                            </dd>
                          </ng-container>

                          <ng-container *ngIf="isShowField('comment', work, pi)">
                            <dt><span>Комментарий</span></dt>
                            <dd [ngSwitch]="!!p.comment">
                              <span *ngSwitchCase="true">{{p.comment}}</span>
                              <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
                            </dd>
                          </ng-container>

                        </dl>
                      </div>

                      <div class="font-bold m-b-sm" *ngIf="isShowField('captionWorkDocs', work, pi)">
                        Документы, подтверждающие выполнение работ
                      </div>

                      <div class="font-bold m-b-sm" *ngIf="isShowField('captionWorkCancelDocs', work, pi)">
                        Документы, подтверждающие отмену работ
                      </div>

                      <div *ngFor="let d of p.documentsExecution; let i = index">
                        <hr *ngIf="i" class="m-t-sm m-b-sm" />
                        <div class="description">
                          <dl class="dl-horizontal" style="margin: 0">

                            <dt><span>Тип документа</span></dt>
                            <dd [ngSwitch]="!!d.type?.name">
                              <span *ngSwitchCase="true">{{d.type?.name}}</span>
                              <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
                            </dd>

                            <dt><span>Дата</span></dt>
                            <dd [ngSwitch]="!!d.date">
                              <span *ngSwitchCase="true">{{d.date | date: 'dd.MM.yyyy'}}</span>
                              <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
                            </dd>

                            <dt><span>Номер</span></dt>
                            <dd [ngSwitch]="!!d['number']">
                              <span *ngSwitchCase="true">{{d['number']}}</span>
                              <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
                            </dd>

                            <dt><span>Файл</span></dt>
                            <dd [ngSwitch]="!!d.files?.length">
                              <div *ngSwitchCase="true">
                                <div *ngIf="files[work.documentId].loading">
                                  <div style="display: inline-block; transform: scale(0.6) translate(-25px, 0)">
                                    <program-spinner></program-spinner>
                                  </div>
                                </div>
                                <div *ngIf="d.files.length">
                                  <cdp-ex-file-manager [files]="filesByIds(work.documentId, d.files)"
                                                       [downloadable]="false"
                                                       [deletable]="false"
                                                       [openable]="true"
                                                       [showSize]="true"
                                                       [downloadBaseHref]="'/filestore'"></cdp-ex-file-manager>
                                </div>
                              </div>
                              <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
                            </dd>

                          </dl>
                        </div>
                      </div>

                      <div class="description" *ngIf="p.reason">
                        <dl class="dl-horizontal" style="margin: 0">
                          <ng-container>
                            <dt><span>Причина изменения текущей стадии</span></dt>
                            <dd>{{p.reason}}</dd>
                          </ng-container>
                        </dl>
                      </div>
                    </td>
                    <td>
                      <div *ngIf="p.executor?.login">Логин: {{p.executor?.login}}</div>
                      <div *ngIf="p.executor?.fio">ФИО: {{p.executor?.fio}}</div>
                      <div *ngIf="p.executor?.date">Дата: {{p.executor?.date | date: 'dd.MM.yyyy'}}</div>
                      <div *ngIf="p.executor?.organization">Организация: {{p.executor?.organization}}</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </cdp-expanded-section>

          <h4>Признаки работы</h4>
          <div class="description">
            <dl class="dl-horizontal m-l-md">
              <dt><span>К публикации на открытых информационных ресурсах</span></dt>
              <dd [ngSwitch]="work?.public">
                <span *ngSwitchCase="true">Да</span>
                <span *ngSwitchDefault class="not-specified">Нет</span>
              </dd>

              <dt><span>Риски публикации</span></dt>
              <dd [ngSwitch]="!!work?.risk">
                <span *ngSwitchCase="true">{{work?.risk}}</span>
                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
              </dd>

              <dt><span style="font-weight: bold">К публикации на mos.ru</span></dt>
              <dd [ngSwitch]="work?.mos['public']">
                <span *ngSwitchCase="true">Да</span>
                <span *ngSwitchDefault>Нет</span>
              </dd>

              <dt *ngIf="isMosRu"><span style="font-weight: bold">Риски публикации на mos.ru</span></dt>
              <dd *ngIf="isMosRu" [ngSwitch]="!!work?.mos?.risk">
                <span *ngSwitchCase="true">{{work?.mos?.risk}}</span>
                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
              </dd>

              <dt><span>Согласование на АГ</span></dt>
              <dd [ngSwitch]="!!work?.approveAg?.name">
                <span *ngSwitchCase="true">{{work?.approveAg?.name}}</span>
                <span *ngSwitchDefault>Не проводилось</span>
              </dd>

              <ng-container *ngIf="isShowField('approveMunicipalDep', work)">
                <dt><span>Согласование с муниципальными депутатами</span></dt>
                <dd [ngSwitch]="!!work?.approveMunicipalDep?.name">
                  <span *ngSwitchCase="true">{{work?.approveMunicipalDep?.name}}</span>
                  <span *ngSwitchDefault>Не проводилось</span>
                </dd>
              </ng-container>

              <dt><span>Работа мастер-плана</span></dt>
              <dd [ngSwitch]="work?.masterplanWork">
                <span *ngSwitchCase="true">Да</span>
                <span *ngSwitchDefault>Нет</span>
              </dd>
            </dl>
          </div>

          <h4>Дополнительные сведения</h4>
          <div class="description">
            <dl class="dl-horizontal m-l-md" [ngClass]="{'m-b-xs': !!work?.specific?.length}">
              <dt><span>Дополнительные сведения</span></dt>
              <dd [ngSwitch]="!!work?.comment">
                <span *ngSwitchCase="true">{{work?.comment}}</span>
                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
              </dd>

              <dt *ngIf="isMosRu"><span style="font-weight: bold">Дополнительные сведения (mos.ru)</span></dt>
              <dd *ngIf="isMosRu" [ngSwitch]="!!work?.mos?.comment">
                <span *ngSwitchCase="true">{{work?.mos?.comment}}</span>
                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
              </dd>
            </dl>

            <dl class="dl-horizontal m-l-md" *ngFor="let attr of work?.specific; last as isLast"
                [ngClass]="{'m-b-xs': !isLast}">
              <dt><span>{{attr.specificName}}</span></dt>
              <dd [ngSwitch]="!!attr.specificValue">
                <span *ngSwitchCase="true">
                  <ng-container *ngIf="attr.url">
                    <a [href]="getSpecificUrl(attr.specificCode, attr.url)"
                       target="_blank">{{attr.specificValue}}</a>
                  </ng-container>
                  <ng-container *ngIf="!attr.url">{{attr.specificValue}}</ng-container>
                </span>
                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
              </dd>
            </dl>
          </div>

          <h4>Сведения о финансировании</h4>
          <div class="description">
            <dl class="dl-horizontal m-l-md m-b-xs">
              <dt><span>Финансовое обеспечение</span></dt>
              <dd [ngSwitch]="work?.budget">
                <span *ngSwitchCase="true">Предусмотрено</span>
                <span *ngSwitchCase="false">Не предусмотрено</span>
                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
              </dd>

              <dt><span>Государственная программа</span></dt>
              <dd [ngSwitch]="!!work?.stateProgram?.name">
                <span *ngSwitchCase="true">{{work?.stateProgram?.name}}</span>
                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
              </dd>

              <dt><span>Заказчик</span></dt>
              <dd [ngSwitch]="!!work?.stateCustomer?.name">
                <span *ngSwitchCase="true">{{work?.stateCustomer?.name}}</span>
                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
              </dd>

              <dt><span>Общий объем финансирования</span></dt>
              <dd [ngSwitch]="!!work?.general">
                <span *ngSwitchCase="true">{{work?.general | money}} тыс. руб.</span>
                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
              </dd>

              <dt><span>Профинансировано</span></dt>
              <dd [ngSwitch]="!!work?.financed">
                <span *ngSwitchCase="true">{{work?.financed | money}} тыс. руб.</span>
                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
              </dd>

              <dt><span>По годам</span></dt>
              <dd [ngSwitch]="!!work?.byYear?.length">
                <div *ngSwitchCase="true">
                  <div *ngFor="let adByYear of work?.byYear" class="m-b-xs">
                    {{adByYear?.year}} &ndash; {{adByYear?.total | money}} {{!!adByYear?.total ? ' тыс. руб.' : ''}}
                  </div>
                </div>
                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
              </dd>

              <dt><span>Источник финансирования</span></dt>
              <dd [ngSwitch]="!!work?.finance?.length">
                <div *ngSwitchCase="true">
                  <div *ngFor="let fin of work?.finance">
                    <cdp-expanded-section [(expand)]="fin.expanded">
                      <span header-slot>{{fin.source?.name}}</span>
                      <div content-slot class="m-t-md">
                        <table class="table table-bordered white-bg">
                          <thead>
                            <tr>
                              <th>Объем финансирования</th>
                              <th>Профинансировано</th>
                              <th *ngFor="let fyHead of fin?.byYear">{{fyHead.year}}</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>{{fin?.general | money}} тыс. руб.</td>
                              <td>{{fin?.financed | money}} тыс. руб.</td>
                              <td *ngFor="let fyBody of fin?.byYear">{{fyBody?.total | money}} тыс. руб.</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </cdp-expanded-section>
                  </div>
                </div>
                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
              </dd>
            </dl>
          </div>

          <cdp-expanded-section [(expand)]="expanded.workFinance[i]">
            <span header-slot>Дополнительное финансирование</span>
            <div content-slot class="m-t-md">
              <div class="description">
                <dl class="dl-horizontal m-l-md">
                  <dt><span>Требуется дополнительное финансирование</span></dt>
                  <dd [ngSwitch]="work?.additional?.required">
                    <span *ngSwitchCase="true">Да</span>
                    <span *ngSwitchCase="false">Нет</span>
                    <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
                  </dd>

                  <dt><span>Предполагаемый источник финансирования</span></dt>
                  <dd [ngSwitch]="!!work?.additional?.source?.name">
                    <span *ngSwitchCase="true">{{work?.additional?.source?.name}}</span>
                    <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
                  </dd>

                  <dt><span>Объем дополнительного финансирования</span></dt>
                  <dd [ngSwitch]="!!work?.additional?.additional">
                    <span *ngSwitchCase="true">{{work?.additional?.additional | money}} тыс. руб.</span>
                    <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
                  </dd>

                  <dt><span>По годам</span></dt>
                  <dd [ngSwitch]="!!work?.additional?.byYear?.length">
                    <div *ngSwitchCase="true">
                      <div *ngFor="let adByYear of work?.additional?.byYear" class="m-b-xs">
                        {{adByYear?.year}} &ndash; {{adByYear?.total | money}} {{!!adByYear?.total ? ' тыс. руб.' : ''}}
                      </div>
                    </div>
                    <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
                  </dd>
                </dl>
              </div>
            </div>
          </cdp-expanded-section>


          <div style="padding-bottom:10px;">
            <h4 style="cursor:pointer;outline:none;margin: 0;" (click)="toogleExpand(i)">
              <i style="width: 15px;" class="fa fa-caret-right" *ngIf="!expanded.info[i]"></i>
              <i style="width: 15px;" class="fa fa-angle-down" *ngIf="expanded.info[i]"></i>
              Сведения о закупках
            </h4>
            <div *ngIf="expanded.info[i]">
              <div class="m-l-sm m-t-md" style="margin-left: 15px;">
                <div class="description">
                  <dl class="dl-horizontal">
                    <dt><span>Реестровый номер</span></dt>
                    <dd><span class="not-specified">Данные будут добавлены позднее</span></dd>
                    <dt><span>Номер контракта</span></dt>
                    <dd><span class="not-specified">Данные будут добавлены позднее</span></dd>
                    <dt><span>Дата заключения</span></dt>
                    <dd><span class="not-specified">Данные будут добавлены позднее</span></dd>
                    <dt><span>Предмет контракта</span></dt>
                    <dd><span class="not-specified">Данные будут добавлены позднее</span></dd>
                    <dt><span>Дата исполнения контракта</span></dt>
                    <dd><span class="not-specified">Данные будут добавлены позднее</span></dd>
                    <dt><span>Сумма контракта</span></dt>
                    <dd><span class="not-specified">Данные будут добавлены позднее</span></dd>
                    <dt><span>Основание заключения контракта</span></dt>
                    <dd><span class="not-specified">Данные будут добавлены позднее</span></dd>
                    <dt><span>Заказчик</span></dt>
                    <dd><span class="not-specified">Данные будут добавлены позднее</span></dd>
                    <dt><span>Поставщик</span></dt>
                    <dd><span class="not-specified">Данные будут добавлены позднее</span></dd>
                    <dt><span>ОКПД2</span></dt>
                    <dd><span class="not-specified">Данные будут добавлены позднее</span></dd>
                    <dt><span>Год бюджета</span></dt>
                    <dd><span class="not-specified">Данные будут добавлены позднее</span></dd>
                    <dt><span>Источник финансирования в т.ч. по этапам</span></dt>
                    <dd><span class="not-specified">Данные будут добавлены позднее</span></dd>
                    <dt><span>Текущая стадия</span></dt>
                    <dd><span class="not-specified">Данные будут добавлены позднее</span></dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
          <!--<pre>{{work | json}}</pre>-->
        </div>
      </cdp-expanded-section>
      <div class="workButtons" *ngIf="showButtons">
        <change-request-btn [className]="'btn btn-primary btn-xs cursor-pointer m-l-sm'"
                            [classIcon]="'fa fa-list m-r-xs'"
                            [id]="work.documentId"
                            [text]="'Изменить данные'"
                            [type]="'work'"></change-request-btn>
        <span class="m-l-sm cursor-pointer" title="Редактировать"
              (click)="editWork(work.documentId)" *ngIf="isShow.edit"><i class="fas fa-pencil"></i></span>
        <span class="m-l-sm text-danger cursor-pointer" title="Удалить"
              (click)="removeWork(work.documentId)" *ngIf="isShow.del"><i class="fas fa-trash-alt"></i></span>
      </div>
    </div>
    <div *ngIf="!works.length" style="color:lightgray">Работы отсутствуют</div>
  </div>
</div>
