<div style="min-height: 300px">
  <div class="clearfix" *ngIf="isLoading" style="padding-top: 130px;"></div>
  <cdp-loading-block [loadingStatus]="loadingStatus" [spinnerType]="'three-bounce'">
    <div success *ngIf="!isLoading" class="clearfix">
      <form *blockUI="'process-create-form'" class="form-horizontal clearfix">

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">
            Округ
          </label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <ng-select [items]="dictionaries.Prefect"
                       [multiple]="true"
                       [closeOnSelect]="true"
                       [hideSelected]="true"
                       bindLabel="name"
                       placeholder="Округ"
                       (change)="onChangePrefect()"
                       dropdownPosition="bottom"
                       [(ngModel)]="model.prefect" name="prefect">
            </ng-select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">
            Район
          </label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <ng-select [items]="districtsAvailables"
                       [multiple]="true"
                       [closeOnSelect]="true"
                       [hideSelected]="true"
                       bindLabel="name"
                       placeholder="Район"
                       dropdownPosition="bottom"
                       [(ngModel)]="model.district" name="district">
            </ng-select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">
            Отрасль
          </label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <ng-select [items]="dictionaries.mr_program_ObjectIndustries"
                       [multiple]="true"
                       [closeOnSelect]="true"
                       [hideSelected]="true"
                       bindLabel="name"
                       placeholder="Отрасль"
                       dropdownPosition="bottom"
                       (change)="updateObjectCategories()"
                       [(ngModel)]="model.industry" name="industry">
            </ng-select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">
            Вид объекта / мероприятия
          </label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <ng-select [items]="dictionaries.objectCategories"
                       [multiple]="true"
                       [closeOnSelect]="true"
                       [hideSelected]="true"
                       bindLabel="name"
                       placeholder="Вид объекта / мероприятия"
                       dropdownPosition="bottom"
                       [(ngModel)]="model.category" name="category">
            </ng-select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">
            Коммерческий объект
          </label>
          <div class="col-lg-9 col-md-9 col-sm-9 m-t-xs">
            <input cdp-icheck type="checkbox" [value]="true" [(ngModel)]="model.commercialObject" name="commercialObject" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">
            Уникальный объект
          </label>
          <div class="col-lg-9 col-md-9 col-sm-9 m-t-xs">
            <input cdp-icheck type="checkbox" [value]="true" [(ngModel)]="model.dominantObject" name="dominantObject" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">
            Ответственный орган исполнительной власти
          </label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <ng-select [items]="dictionaries.mr_program_ResponsibleOrganizations"
                       [multiple]="true"
                       [closeOnSelect]="true"
                       [hideSelected]="true"
                       bindLabel="name"
                       placeholder="Ответственный орган исполнительной власти"
                       dropdownPosition="bottom"
                       [(ngModel)]="model.organization" name="organization">
            </ng-select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label">
            Источник данных об объекте программы
          </label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <ng-select [items]="dictionaries.mr_program_dataSource"
                       [multiple]="true"
                       [closeOnSelect]="true"
                       [hideSelected]="true"
                       bindLabel="name"
                       placeholder="Источник данных об объекте программы"
                       dropdownPosition="bottom"
                       [(ngModel)]="model.source" name="source">
            </ng-select>
          </div>
        </div>



        <div class="form-group">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <button type="button" class="btn btn-success m-r-sm" (click)="search()">Поиск</button>
            <button type="button" class="btn btn-white m-r-sm" (click)="cancel()">Отмена</button>
          </div>
        </div>

        <div class="form-group m-b-md" *ngIf="searchFinished">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
          <div class="col-lg-9 col-md-9 col-sm-9 font-bold"><!--
          -->Для публикации отобрано {{numFound + '' | money}} объектов и связанные с ними документы</div>
        </div>

        <div class="form-group" *ngIf="numFound">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <button type="button" class="btn btn-primary" (click)="start()">Опубликовать</button>
          </div>
        </div>

      </form>

    </div>
  </cdp-loading-block>
</div>
