<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Финансирование в бюджете
  </label>
  <div class="col-lg-7 col-md-8 col-sm-9 m-t-xs">
    <label class="m-r-md" *ngFor="let db of dictionaries.budget">
      <input cdp-icheck type="radio" [(ngModel)]="model.budget" [value]="db.code" name="bidget" />
      {{db.name}}
    </label>
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Государственная программа
  </label>
  <div class="col-lg-7 col-md-8 col-sm-9">
    <ng-select [items]="dictionaries.mr_program_StatePrograms"
               [multiple]="false"
               [closeOnSelect]="true"
               [hideSelected]="true"
               bindLabel="name"
               placeholder="Государственная программа"
               [(ngModel)]="model.stateProgram" name="stateProgram">
    </ng-select>
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Мероприятие
  </label>
  <div class="col-lg-7 col-md-8 col-sm-9">
    <input type="text" class="form-control" [(ngModel)]="model.event" name="event" />
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Вид работ
  </label>
  <div class="col-lg-7 col-md-8 col-sm-9">
    <input type="text" class="form-control" [(ngModel)]="model.workType" name="workType" />
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Предусмотренная стоимость, млн. руб.
  </label>
  <div class="col-lg-2 col-md-3 col-sm-4">
    <input type="text" class="form-control" [(ngModel)]="model.cost.main" name="costMain"
           [textMask]="{mask: maskDecimal.bind(this)}" />
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-md-3 col-sm-3 control-label">
    Стоимость дополнительного финансирования, млн. руб.
  </label>
  <div class="col-lg-2 col-md-3 col-sm-4">
    <input type="text" class="form-control" [(ngModel)]="model.cost.additional" name="costAdditional"
           [textMask]="{mask: maskDecimal.bind(this)}" />
  </div>
</div>
