<div style="min-height: 300px">
  <div *ngIf="isLoading()" style="padding-top: 130px;"></div>
  <cdp-loading-block [loadingStatus]="loadingStatus" [spinnerType]="'three-bounce'">
    <div success *ngIf="document">
      <div *blockUI="'form-block'" class="clearfix modal-body">
        <form class="form-horizontal" *blockUI="'card-main-edit'">
          <program-form-plan [model]="document" [validate]="validate" [files]="files" [isCopy]="!!prevId"
                             (onLoad)="showButtons()"></program-form-plan>

          <!-- Кнопки -->
          <div class="form-group" *ngIf="isShowButtons">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
            <div class="col-lg-9 col-md-9 col-sm-9">
              <button type="button" class="btn btn-primary m-r-sm" (click)="save()" *ngIf="isShowBtn('save')">Сохранить</button>
              <button type="button" class="btn btn-default" (click)="cancel()" *ngIf="isShowBtn('cancel')">Отмена</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div error>
      <span class="text-danger fa fa-times-circle"></span> <span> Ошибка при загрузке формы</span>
    </div>
  </cdp-loading-block>
</div>
