<cdp-loading-block [loadingStatus]="loading" [spinnerType]="'three-bounce'">
  <div success>
    <div *ngIf="isLoaded()">
      <div *blockUI="'block-ui-task'">
        <!--<object-task-info [document]="document"></object-task-info>
        <hr>-->

        <program-form-object-dominant [model]="document" [validate]="validate" [files]="files"
                                      (onLoad)="showButtons()"></program-form-object-dominant>

        <div class="row form-group" *ngIf="isShowButtons">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
          <div class="col-lg-7 col-md-8 col-sm-9">
            <button type="button"
                    (click)="finish()"
                    class="btn btn-primary m-r-sm">Завершить заполнение
            </button>
            <button type="button"
                    (click)="save()"
                    class="btn btn-default m-r-sm">Сохранить без завершения задачи
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</cdp-loading-block>
