<cdp-loading-block [loadingStatus]="loading" [spinnerType]="'three-bounce'">
  <div success>
    <div *ngIf="isLoaded()">
      <div *blockUI="'adjust-object-information-task'">
        <object-task-info [document]="document"></object-task-info>
        <hr>

        <tabset>
          <tab heading="Общая информация" id="main">
            <div class="m-t-md">
              <program-form-object [model]="document" [validate]="validate" [files]="files" (onLoad)="showButtons()"></program-form-object>
            </div>
          </tab>
          <tab heading="Работы на объекте" id="work">
            <div class="m-t-md">
              <program-card-works-view [showButtons]="true"></program-card-works-view>
            </div>
          </tab>
        </tabset>

        <div class="row form-group" *ngIf="isShowButtons">
          <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
          <div class="col-lg-7 col-md-8 col-sm-9">
            <button type="button"
                    (click)="save()"
                    class="btn btn-default m-r-sm">Сохранить без завершения задачи
            </button>
            <a type="button" class="btn btn-danger m-r-sm"  href="/main/#/app/tasks">Отмена</a>
            <button type="button"
                    (click)="finish()"
                    class="btn btn-primary m-r-sm">Завершить задачу
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</cdp-loading-block>
