<cdp-spinner *ngIf="isLoading" [type]="'three-bounce'"></cdp-spinner>
<div *ngIf="!isLoading">
  <div class="clearfix">
    <div *ngIf="isShow.editBtn" class="pull-right">
      <a uiSref="{{state.current.name}}"
         [uiParams]="{id: document.documentId, mode: 'edit'}"
         class="btn btn-default m-l-sm"
         title="Редактировать"
         *ngIf="modeParam === 'view'"><i class="fa fa-pencil-square-o text-primary m-r-xs"></i> Редактировать</a>
      <a uiSref="{{state.current.name}}"
         [uiParams]="{id: document.documentId, mode: 'view'}"
         class="btn btn-default m-l-sm"
         title="Выйти из режима редактирования"
         *ngIf="modeParam === 'edit'"><i class="fas fa-sign-out-alt text-primary"></i></a>
    </div>
  </div>
  <program-card-objects-optional [type]="'dominant'" [readOnly]="modeParam === 'view'"></program-card-objects-optional>
</div>
