@import '~ngx-bootstrap/datepicker/bs-datepicker.css';
@import '~mapbox-gl/dist/mapbox-gl.css';
@import '~@mapbox/mapbox-gl-draw/dist/mapbox-gl-draw.css';

$fa-font-path: "~fontawesome-pro/webfonts";
@import "~fontawesome-pro/scss/v4-shims.scss";
@import "~fontawesome-pro/scss/fontawesome.scss";
@import "~fontawesome-pro/scss/brands.scss";
@import "~fontawesome-pro/scss/light.scss";
@import "~fontawesome-pro/scss/regular.scss";
@import "~fontawesome-pro/scss/solid.scss";

.cdp-rayon-wrapper {
  .navbar {
    margin-bottom: 0;
  }
}
.icheckbox_square-orange,
.iradio_square-orange {
  position: relative;
}
.our-mandatory {
  color: red;
  position: absolute;
  margin-left: 2px;
}
.c-pointer {
  cursor: pointer;
}
.c-default {
  cursor: default;
}
.c-text {
  cursor: text;
}
.delete-file-modal {
  z-index: 25000 !important;
  & + .modal-backdrop {
    z-index: 24990 !important;
  }
}
/deep/ .ng-select.ng-select-disabled {
  .ng-select-container {
    cursor: not-allowed !important;
    background-color: #eee;
  }
  * {
    cursor: not-allowed !important;
  }
}
