<div class="m-b-md">
  <cdp-breadcrumbs></cdp-breadcrumbs>
</div>

<div style="padding-left: 0; padding-right: 0">
  <div class="clearfix m-b-sm">

    <!--<div class="pull-right m-t-xs m-l text-right">
      <div>
        <button type="button" class="btn btn-white text-danger m-l-sm"
                (click)="delete()" *ngIf="isShow.removeObjectBtn"><i class="fas fa-trash-alt m-r-xs"></i> Удалить</button>
      </div>
    </div>-->
    <div>

      <!--<h3 class="font-bold m-b-sm" style="line-height: 1.3em">
        <span class="m-r-md">{{h3}}</span>
      </h3>-->

      <div class="m-b-sm">
        <div>Автор заявки:  {{document?.creator?.fio}}</div>
        <!--<div>Дата заявки:   {{document?.documentDate | date: 'dd.MM.yyyy'}}</div>-->
      </div>

      <div *ngIf="document?.status?.name && status" class="m-b-sm">
        <div class="label label-{{status.color}}">{{status.name}}</div>
      </div>

      <div>
        <labels [document]="document" [docTypes]="'MR_PROGRAM_CHANGEREQUEST'"></labels>
      </div>

    </div>
  </div>
</div>
