<div *ngIf="!isLoading">
  <div *blockUI="'docs-ui-block'" class="clearfix">
    <div class="clearfix">
      <div class="pull-left m-t-sm">
        <h4>Согласовать объектов: {{approveCountObject}}, работ: {{approveCountWork}}</h4>
      </div>
      <div class="pull-right m-b-sm">
        <button class="btn btn-primary" (click)="agreeAll()">Согласовать</button>
      </div>
    </div>
    <table class="table table-bordered m-b-none">
      <thead>
        <tr>
          <td style="width: 50%">Объект</td>
          <td>Работы на объекте</td>
        </tr>
      </thead>
      <tbody style="border: 0" *ngFor="let doc of docs">
        <tr>
          <td class="no-padding">
            <table class="table m-b-xxs">
              <tr>
                <td style="width: 40px; border: 0">
                  <button type="button"
                          class="btn btn-white btn-sm"
                          [ngClass]="{'btn-white': !doc.agreed, 'btn-primary': doc.agreed}"
                          [disabled]="linking[doc.id]"
                          (click)="changeAgree(doc)" style="width: 34px; height: 34px;">
                    <i class="fa fa-check" *ngIf="doc.agreed && !linking[doc.id]"></i>
                    <i class="fa fa-spinner fa-spin" *ngIf="linking[doc.id]"></i>
                  </button>
                </td>
                <td style="border: 0">
                  <div *ngIf="docsInfo && docsInfo[doc.id]">
                    <span [ngSwitch]="docsInfo[doc.id].publicObject">
                      <span *ngSwitchCase="'true'" class="font-bold" style="color: #1ab394">Опубликовать</span>
                      <span *ngSwitchDefault class="font-bold text-danger">Не публиковать</span>
                    </span>
                  </div>

                  <div><a uiSref="app.object.card.main"
                          [uiParams]="{id: doc.id, mode: readOnly ? 'view' : 'edit'}"
                          target="_blank" class="font-bold">{{doc.name}}</a></div>
                  <div>{{doc.address}}
                    <i class="fas fa-map-marker text-info m-l-sm" *ngIf="doc.geo"></i>
                  </div>

                  <div class="description m-t-sm">
                    <dl class="dl-horizontal" style="margin: 0">
                      <dt><span>Вид объекта</span></dt>
                      <dd [ngSwitch]="!!docsInfo[doc.id]?.kindNameObject" style="margin-bottom: 0">
                        <span *ngSwitchCase="true">{{docsInfo[doc.id]?.kindNameObject}}</span>
                        <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
                      </dd>

                      <dt><span>Риски публикации</span></dt>
                      <dd [ngSwitch]="!!docsInfo[doc.id]?.risk" style="margin-bottom: 0">
                        <span *ngSwitchCase="true">{{docsInfo[doc.id]?.risk}}</span>
                        <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
                      </dd>
                    </dl>
                  </div>
                </td>
              </tr>
            </table>

          </td>
          <td style="padding: 0">
            <div *ngIf="docWorks && docWorks[doc.id]">
              <!--<pre>{{docWorks[doc.id] | json}}</pre>-->
              <table class="table" style="border: 0; margin: 0">
                <tr *ngFor="let work of docWorks[doc.id]; let wi = index;">
                  <td [ngStyle]="{'border-top': wi ? 'auto' : '0'}" class="no-padding">
                    <table class="table m-b-xxs">
                      <tr>
                        <td style="width: 40px; border: 0">
                          <button type="button"
                                  class="btn btn-white btn-sm"
                                  [ngClass]="{'btn-white': !getObjectOrWork(work.documentId).agreedLink, 'btn-primary': getObjectOrWork(work.documentId).agreedLink}"
                                  [disabled]="linking[work.documentId]"
                                  (click)="changeAgree(getObjectOrWork(work.documentId))" style="width: 34px; height: 34px;">
                            <i class="fa fa-check" *ngIf="getObjectOrWork(work.documentId).agreedLink && !linking[work.documentId]"></i>
                            <i class="fa fa-spinner fa-spin" *ngIf="linking[work.documentId]"></i>
                          </button>
                        </td>
                        <td style="border: 0">
                          <div [ngSwitch]="work?.data?.public">
                            <span *ngSwitchCase="true" class="font-bold" style="color: #1ab394">Опубликовать</span>
                            <span *ngSwitchDefault class="font-bold text-danger">Не публиковать</span>
                          </div>
                          <div>
                            <a uiSref="app.object.card.works" [uiParams]="{id: doc.id, mode: readOnly ? 'view' : 'edit'}"
                               target="_blank" class="font-bold">
                              {{work?.data?.type?.name || 'Наименование вида работы отсутствует'}}<!--
                              --><span *ngIf="work?.data?.execution?.start || work?.data?.execution?.finish"> (<!--
                              -->{{work?.data?.execution?.start}}<!--
                              -->{{work?.data?.execution?.start && work?.data?.execution?.finish && work?.data?.execution?.start !== work?.data?.execution?.finish ? '–' : ''}}<!--
                              -->{{work?.data?.execution?.finish && work?.data?.execution?.finish !== work?.data?.execution?.start ? work?.data?.execution?.finish : ''}}<!--
                              -->)</span>
                            </a>
                            <i class="fas fa-map-marker text-info m-l-sm" *ngIf="isGeo(work.documentId)"></i>
                          </div>
                          <div class="description m-t-xs">
                            <dl class="dl-horizontal" style="margin: 0">
                              <dt><span>Наименование работы</span></dt>
                              <dd [ngSwitch]="!!work?.data?.name" style="margin-bottom: 0">
                                <span *ngSwitchCase="true">{{work?.data?.name}}</span>
                                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
                              </dd>

                              <dt><span>Текущая стадия работы</span></dt>
                              <dd [ngSwitch]="!!work?.data?.status?.name" style="margin-bottom: 0">
                                <span *ngSwitchCase="true">{{work?.data?.status?.name}}</span>
                                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
                              </dd>

                              <dt><span>Риски публикации</span></dt>
                              <dd [ngSwitch]="!!work?.data?.risk" style="margin-bottom: 0">
                                <span *ngSwitchCase="true">{{work?.data?.risk}}</span>
                                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
                              </dd>
                            </dl>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <!--<pre>{{docWorks[doc.id] | json}}</pre>-->
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <pagination [totalItems]="docsPagination.totalItems"
                  [(ngModel)]="docsPagination.currentPage"
                  [firstText]="'Первая'"
                  [lastText]="'Последняя'"
                  [previousText]="'Предыдущая'"
                  [nextText]="'Следующая'"
                  [rotate]="true"
                  (pageChanged)="changeDocsPage($event)"
                  [itemsPerPage]="docsPagination.itemsPerPage"
                  [boundaryLinks]="true"
                  [maxSize]="7"
                  class="m-b-xs">
      </pagination>
    </div>
  </div>
</div>
