<cdp-loading-block [loadingStatus]="loading" [spinnerType]="'three-bounce'">
  <div success>
    <div *ngIf="isLoaded()">
      <div *blockUI="'block-ui-task'">
        <div *ngIf="publication?.selection">
          <h4>Информация о заявке на публикацию</h4>
          <div class="description">
            <dl class="dl-horizontal">
              <dt><span>Дата заявки</span></dt>
              <dd [ngSwitch]="!!publication?.requestDate">
                <span *ngSwitchCase="true">{{publication?.requestDate | date: 'dd.MM.yyyy'}}</span>
                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
              </dd>
              <dt><span>Автор заявки</span></dt>
              <dd [ngSwitch]="!!publication?.requestContent?.requestAuthor?.fio">
                <span *ngSwitchCase="true">{{publication?.requestContent?.requestAuthor?.fio}}</span>
                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
              </dd>

              <dt><span>Параметры запроса</span></dt>
              <dd [ngSwitch]="!!publication?.requestContent?.parameter?.length">
                <div *ngSwitchCase="true">
                  <div *ngFor="let param of publication?.requestContent?.parameter">{{param.name}}: {{param.value}}</div>
                </div>
                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
              </dd>
            </dl>
          </div>

          <h4>Информация о заявке на публикацию</h4>
          <div class="description">
            <dl class="dl-horizontal">
              <dt><span>Оператор АНО</span></dt>
              <dd [ngSwitch]="!!operatorFio">
                <span *ngSwitchCase="true">{{operatorFio}}</span>
                <span *ngSwitchDefault class="not-specified">Сведения отсутствуют</span>
              </dd>
            </dl>
          </div>

        </div>

        <div class="m-b-md">
          <approve-data-table [documents]="publication.document"
                              [selection]="publication.selection"
                              [readOnly]="false"></approve-data-table>
          <!--<publication-request-documents [documents]="publication.document"
                                         [selection]="publication.selection"
                                         [readOnly]="false"></publication-request-documents>-->

          <div class="clearfix">
            <div class="pull-right m-r-none">
              <button type="button" class="btn btn-white m-l-sm"
                      [disabled]="finishing"
                      [ladda]="saving"
                      data-spinner-size="18"
                      data-spinner-color="#999"
                      data-style="expand-left"
                      (click)="saveOnly()">Сохранить данные без завершения задачи</button>
              <button type="button" class="btn btn-primary m-l-sm"
                      [disabled]="saving"
                      [ladda]="finishing"
                      data-spinner-size="18"
                      data-spinner-color="#FFF"
                      data-style="expand-left"
                      (click)="finish()">Завершить</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</cdp-loading-block>
