<div *blockUI="'load-catalog'">
  <h4>Обновить данные из каталогов ЕХД</h4>

  <form class="form-horizontal m-t-md">
    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-3 control-label">
        Код каталога
      </label>
      <div class="col-lg-7 col-md-8 col-sm-9">
        <input class="form-control" [(ngModel)]="catalogCode" name="catalogCode">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3 col-sm-3 control-label">
        Идентификаторы записей
      </label>
      <div class="col-lg-7 col-md-8 col-sm-9">
        <textarea class="form-control" [(ngModel)]="odopmIds" name="odopmIds"></textarea>
      </div>
    </div>
  </form>

  <div class="form-group">
    <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3" col-lg-7 col-md-8 col-sm-9>
      <button class="btn btn-primary m-r-sm" (click)="loadCatalog()" [disabled]="!catalogCode || !odopmIds">Обновить
      </button>
      <button class="btn btn-danger m-r-sm" (click)="cancel()">Отмена</button>
    </div>
  </div>
</div>
