<div style="min-height: 300px">
  <program-spinner *ngIf="isLoading" [height]="'huge'"></program-spinner>

  <div *ngIf="!isLoading && !isError">
    <card-plan-header></card-plan-header>
    <div class="animated fadeIn">
      <tabset>
        <tab *ngFor="let tab of tabs"
             [heading]="tab.name"
             [id]="tab.code"
             (select)="tabChange(tab.state)"
             [active]="isActiveTab(tab.state)"></tab>
      </tabset>
      <div class="clearfix m-t-sm m-b">
        <ui-view></ui-view>
      </div>
    </div>
  </div>

  <div *ngIf="isError">
    <span class="text-danger fa fa-times-circle"></span> <span> Ошибка при загрузке карточки</span>
  </div>
</div>
