<button type="button" class="btn btn-white text-danger {{className}}" *ngIf="!document.archive"
        [disabled]="archiving"
        (click)="toArchive()">
  <i class="fa fa-archive m-r-xs"
     [ngClass]="{'fa-archive': !archiving, 'fa-spinner fa-spin': archiving}"></i> В архив
</button>
<button type="button" class="btn btn-white {{className}}" *ngIf="document.archive"
        [disabled]="archiving"
        (click)="toRestore()">
  <i class="fa fa-share-square m-r-xs"
     [ngClass]="{'fa-archive': !archiving, 'fa-spinner fa-spin': archiving}"></i> Восстановить
</button>
